<div mat-dialog-title i18n>Carrier information</div>
<div mat-dialog-content>
    <form fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Carrier" i18n-placeholder name="carrier" [(ngModel)]="info.carrier">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="TrackingNumber" i18n-placeholder name="trackingNumber"
                   [(ngModel)]="info.trackingNumber">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="TrackingLink" i18n-placeholder name="trackingLink"
                   [(ngModel)]="info.trackingLink">
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions>
    <button mat-button color="accent" i18n (click)="cancel()">Dismiss</button>
    <button mat-button color="accent" i18n (click)="accept()">Ship Order</button>
</mat-dialog-actions>