<div>
    <mat-card class="mat-elevation-z0 sf-card-outlined">
        <mat-card-content>
            <div *ngIf="fetchInProgress">
                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-spinner color="accent" mode="indeterminate" [diameter]="50"></mat-spinner>
                </div>
            </div>
            <ng-container *ngIf="!fetchInProgress">
            <form  *ngIf="autotagList?.length || optionalAutotagsList?.length; else noAttributes">
                <div class="autotags-list" fxLayout="column" fxLayoutGap="20px">
                    <ng-container *ngIf="autotagList?.length">
                        <div class="mat-subheading-2 attributes-mapping-heading" i18n>Required Attributes</div>
                        <sf-attributes-list [autotagList]="autotagList" [required]="true"
                                            (attributeChanged)="setAutotagValue($event.attribute, $event.value)"></sf-attributes-list>
                    </ng-container>
                    <div class="optional-attributes" *ngIf="optionalAutotagsList?.length">
                        <div class="attributes-divider" *ngIf="autotagList?.length">
                            <mat-divider></mat-divider>
                        </div>
                        <mat-accordion>
                            <mat-expansion-panel class="mat-elevation-z0">
                                <mat-expansion-panel-header>
                                    <mat-panel-title i18n class="mat-subheading-2 attributes-mapping-heading">Optional Attributes</mat-panel-title>
                                </mat-expansion-panel-header>
                                <sf-attributes-list [autotagList]="optionalAutotagsList" [required]="false"
                                                    (attributeChanged)="setAutotagValue($event.attribute, $event.value)"></sf-attributes-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="attributes-divider">
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </div>
                <div class="actions" fxLayout="row" fxLayoutAlign="end center">
                    <button *ngIf="!saveInProgress" mat-raised-button i18n color="accent" (click)="saveMatching()">
                        Save
                    </button>
                    <button mat-raised-button color="accent" *ngIf="saveInProgress">
                        <mat-spinner color="accent" mode="indeterminate" [diameter]="20"></mat-spinner>
                    </button>
                </div>
            </form>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #noAttributes i18n>This category doesn't expect any attributes</ng-template>
