<mat-chip class="sf-tag" [removable]="removable" (removed)="removed.emit($event)"
          [class.tag-color-blue]="tag.color === 'blue'"
          [class.tag-color-green]="tag.color === 'green'"
          [class.tag-color-grey]="tag.color === 'grey'"
          [class.tag-color-indigo]="tag.color === 'indigo'"
          [class.tag-color-red]="tag.color === 'red'"
          [class.tag-color-brown]="tag.color === 'brown'"
          [class.tag-color-yellow]="tag.color === 'yellow'"
          [class.tag-color-orange]="tag.color === 'orange'">
    {{tag.name}}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
</mat-chip>