@import '../../../sass/variables';
@import '../../../sass/mixins/channel';

@include channel-common-styles();

mat-card-content {
  margin-bottom: 0;
}

.channel-info-line {
  font-size: mat-font-size($config, body-1);
  text-decoration: none;
  color: initial;
  display: block;

  &>mat-icon, &>span {
    vertical-align: middle;
    margin-right: 10px;
  }

  &.channel-revenue {
    color: $black-54-opacity;
  }
  &.channel-checked {
    color: mat-color($green, 400);
  }
  &.channel-issues {
    color: mat-color($warn, 900);
  }

  a {
    text-decoration: none;
    color: $black-87-opacity;
  }

  &.quickfix {
    margin-bottom: 0;
    a { cursor: pointer;}
  }
}
