@import '../../../sass/variables';
@import '../../../sass/mixins/channel';

@include channel-common-styles();

.channel-logo-container {
  text-align: center;
}

.channel-online {
  &.online-low {
    color: mat-color($warn);
  }

  &.online-middle {
    color: mat-color($accent);
  }

  &.online-high {
    color: mat-color($green);
  }
}