@import '../../../sass/variables';

.channel-card {
  margin-bottom: 15px;
  height: 231px;
}

.channel-info-line {
  font-size: mat-font-size($config, body-1);
  margin-bottom: 15px;
  text-decoration: none;
  color: initial;
  display: block;

  &>md-icon, &>span {
    vertical-align: middle;
    margin-right: 10px;
  }

  &.channel-checked {
    color: mat-color($green, A700);
  }
  &.channel-issues {
    color: mat-color($warn);
  }

  a {
    text-decoration: none;
    color: mat-color($grey, 1000, 0.87);
  }
}
