<mat-card-content fxFlex fxLayout="row">
    <div fxFlex="50%" class="channel-logo-container">
        <a class="channel-logo" sfLegacyLink [path]="goToChannelLink(channel._embedded.channel)">
            <img mat-card-image [src]="channel._embedded.channel._links.image.href"
                 [alt]="channel._embedded.channel.name"></a>
    </div>
    <div fxFlex="50%">
        <ng-container *ngIf="hasStatisticsPermission">
            <div class="mat-caption" i18n>Turnover</div>
            <div class="mat-display-1 channel-turnover">
            <span *ngIf="statisticsExistsFor('revenue'); else unavailable">
            {{channel.statistics.revenue | sfCurrency:channel.statistics.currency}}</span>
            </div>
        </ng-container>
        <div class="mat-caption" i18n>Online</div>
        <div class="mat-display-1 channel-online" [class.online-low]="channelsOnline <= 30"
             [class.online-middle]="channelsOnline > 30 && channelsOnline < 75"
             [class.online-high]="channelsOnline >= 75">
            <span *ngIf="channelsOnline >= 0; else unavailable">{{channelsOnline}}%</span>
        </div>
    </div>


</mat-card-content>
<ng-template #unavailable>
    <ng-container i18n>Unavailable</ng-container>
</ng-template>

