<div matDialogTitle i18n>Filters</div>
<mat-dialog-content fxLayout="row" fxLayoutGap="30px">
    <div fxLayout="column">
        <mat-form-field color="accent" appearance="outline">
            <mat-label i18n>Date</mat-label>
            <mat-select [(ngModel)]="dateOption"
                        (selectionChange)="changeDate($event.value)">
                <mat-option value="anytime" i18n>Anytime</mat-option>
                <mat-option value="today" i18n>Today</mat-option>
                <mat-option value="yesterday" i18n>Yesterday</mat-option>
                <mat-option value="week" i18n>Last 7 days</mat-option>
                <mat-option value="currentMonth" i18n>Current month</mat-option>
                <mat-option value="month" i18n>Last 30 days</mat-option>
                <mat-option value="custom" i18n>Custom</mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="dateOption === 'custom'">
            <mat-form-field color="accent" appearance="outline" class="date-input">
                <mat-label i18n>Min Date</mat-label>
                <input matInput [matDatepicker]="minDate" [(ngModel)]="filter.since">
                <mat-datepicker-toggle matSuffix [for]="minDate"></mat-datepicker-toggle>
                <mat-datepicker panelClass="sf-accent" #minDate (selectedChanged)="setSince($event)"></mat-datepicker>
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline" class="date-input">
                <mat-label i18n>Max Date</mat-label>
                <input matInput [matDatepicker]="maxDate" [(ngModel)]="filter.until">
                <mat-datepicker-toggle matSuffix [for]="maxDate"></mat-datepicker-toggle>
                <mat-datepicker panelClass="sf-accent" #maxDate (selectedChanged)="setUntil($event)"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <mat-form-field color="accent" appearance="outline">
        <mat-label i18n>Channel</mat-label>
        <mat-select [(ngModel)]="filter.channel">
            <mat-option value="all" i18n>All channels</mat-option>
            <mat-option *ngFor="let channel of channels" [value]="channel.id">
                {{channel.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline" *ngIf="tags && tags.length">
        <mat-label i18n>Tag</mat-label>
        <mat-select [(ngModel)]="filter.tag">
            <mat-option value="all" i18n>All tags</mat-option>
            <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="accent" i18n mat-dialog-close>CANCEL</button>
    <button mat-button color="accent" i18n (click)="applyFilter()">FILTER</button>
</mat-dialog-actions>
