<md-sidenav-container>
    <md-sidenav class="sidenav sidenav-main" #sidenav mode="side" [opened]="true" disableClose="true">
        <md-icon class="mdi-image-wb-cloudy" [mdMenuTriggerFor]="channelsMenu" mdTooltip="PLATEFORMES"
                 mdTooltipPosition="after" *ngIf="hasChannelsPermissions() | async"></md-icon>
        <md-icon class="mdi-action-shopping-basket {{(currentStore | async).order.total ? 'sf-badge' : ''}}"
                 [mdMenuTriggerFor]="ordersMenu" mdTooltip="COMMANDES" mdTooltipPosition="after"
                 *ngIf="(currentStore | async).permission.marketplaces"
                 [attr.data-badge]="(currentStore | async).order.total"></md-icon>
        <md-icon class="mdi-action-settings" [mdMenuTriggerFor]="utilsMenu" mdTooltip="OUTILS"
                 mdTooltipPosition="after" *ngIf="(currentStore | async).permission.tools"></md-icon>
        <md-icon class="mdi-action-trending-up" [mdMenuTriggerFor]="statisticsMenu" mdTooltip="STATISTIQUES"
                 mdTooltipPosition="after" *ngIf="(currentStore | async).permission.statistics"></md-icon>
        <md-icon class="mdi-navigation-apps" [mdMenuTriggerFor]="appsMenu" mdTooltip="APPS"
                 mdTooltipPosition="after" *ngIf="(currentStore | async).permission.tools"></md-icon>
        <md-icon class="mdi-social-school" [mdMenuTriggerFor]="appsMenu" mdTooltip="UNIVERSITY"
                 mdTooltipPosition="after" *ngIf="(currentStore | async).permission.university"></md-icon>
    </md-sidenav>


</md-sidenav-container>
<md-menu #channelsMenu="mdMenu">
    <button md-menu-item>Ajouter une plateform</button>
    <button md-menu-item>Export personnalisé</button>
</md-menu>
<md-menu #utilsMenu="mdMenu">
    <button md-menu-item>Chercher/remplacer</button>
    <button md-menu-item>Retrait automatique</button>
    <button md-menu-item>Gestion Tailles/Couleurs</button>
    <button md-menu-item>Création champs</button>
    <button md-menu-item>Assistant inteligent</button>
    <hr>
    <button md-menu-item>Filtres</button>
    <button md-menu-item>Gestion nouveaux produits</button>
    <button md-menu-item>Sélection multi-canaux</button>
    <button md-menu-item>Votre flux</button>
</md-menu>
<md-menu #ordersMenu="mdMenu">
    <button md-menu-item>Commandes</button>
    <button md-menu-item>Export de commandes</button>
</md-menu>
<md-menu #statisticsMenu="mdMenu">
    <button md-menu-item>Statistiques globales</button>
    <button md-menu-item>Statistiques places de marché</button>
    <button md-menu-item>Statistiques comparateurs</button>
    <hr>
    <button md-menu-item>Paramètres</button>
    <button md-menu-item>Marges</button>
    <button md-menu-item>Comparatifs</button>
    <button md-menu-item>Exports</button>
</md-menu>
<md-menu #appsMenu="mdMenu">
    <button md-menu-item>Repricins</button>
    <button md-menu-item>EAN finder</button>
</md-menu>