@import '../../../app/core/menu/variables';
@import '../../../sass/variables';

md-sidenav.mat-sidenav.sidenav {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 80px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.1) 6px 0 6px;
  text-align: center;
  top: $toolbar-height;
  height: calc(100vh - #{$toolbar-height});

  @media screen and ($mat-xsmall) {
    top: $toolbar-tablet-height;
    height: calc(100vh - #{$toolbar-tablet-height});
  }

  md-icon {
    font-size: 2rem;
    color: mat-color($grey, 600);
    margin-top: 15px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      color: mat-color($menu-accent);
    }
  }
}

md-sidenav-container {
  min-height: 100%;
  max-width: 100%;
  transform: none;
  height: auto;
  margin: 0;
}

