@import '../../../sass/variables';

md-sidenav.mat-sidenav.sidenav {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 60px;
  background-color: mat-color($grey, 50);
  text-align: center;
  top: $toolbar-height;
  height: calc(100vh - #{$toolbar-height});
  border-right: 1px solid mat-color($grey, 300);

  @media screen and ($mat-xsmall) {
    top: $toolbar-tablet-height;
    height: calc(100vh - #{$toolbar-tablet-height});
  }

  md-icon {
    font-size: 2rem;
    color: mat-color($grey, 600);
    cursor: pointer;

    &:hover {
      color: mat-color($accent);
    }
  }
}

md-sidenav-container {
  min-height: 100%;
  max-width: 100%;
  transform: none;
  height: auto;
  margin: 0;
}

