<span *ngIf="status === orderStatus.cancelled" i18n>Cancelled</span>
<span *ngIf="status === orderStatus.partially_refunded" i18n>Partially refunded</span>
<span *ngIf="status === orderStatus.partially_shipped" i18n>Partially shipped</span>
<span *ngIf="status === orderStatus.created" i18n>Created</span>
<span *ngIf="status === orderStatus.refunded" i18n>Refunded</span>
<span *ngIf="status === orderStatus.refused" i18n>Refused</span>
<span *ngIf="status === orderStatus.shipped" i18n>Shipped</span>
<span *ngIf="status === orderStatus.waiting_shipment" i18n>Waiting shipment</span>
<span *ngIf="status === orderStatus.waiting_store_acceptance" i18n>Waiting store acceptance</span>