<div class="container-fluid">
  <div class="row">
    <ul class="col-xs-12">
      <li class="col-xs-3" *ngFor="let platform of platforms">
        <a href="#">
          <md-card>
            <div class="header-card">
              <img [src]="platform.logo" [alt]="platform.name">
            </div>
            <div class="body-card">
              {{ price }}
            </div>
            <div class="footer-card">
              <div class="pull-left">
                <div class="badge bg-success">
                  {{ numberofSelectedProducts }}
                </div>
                <ng-container i18n>Sélectionnés</ng-container>
              </div>
              <div class="pull-right">
                <div class="badge bg-alert">
                  {{ numberOfErrors }}
                </div>
                <ng-container i18n>Erreurs</ng-container>
              </div>
            </div>
          </md-card>
        </a>
      </li>
      <li class="col-xs-3" *ngFor="let newPlatform of newPlatforms">
        <md-card>
          <div class="header-card">
            <img [src]="newPlatform.logo" [alt]="newPlatform.name">
          </div>
          <div class="body-card">
            <div class="btn-add">
              <button>
                <ng-container i18n>Ajoutez</ng-container>
              </button>
            </div>
          </div>
          <div class="card-hover">
            <div class="body-card">
              {{ newPrice }} / mois
              <a href="#" i18n>Offres partenaire</a>
              <div class="btn-add">
                <button (click)="test();" i18n>
                  ajoutez
                </button>
              </div>
            </div>
          </div>
        </md-card>
      </li>
      <li class="col-xs-3" *ngFor="let newPlatformInter of newPlatformsInter">
        <md-card>
          <div class="header-card">
            <img [src]="newPlatformInter.logo" [alt]="newPlatformInter.name">
          </div>
          <div class="body-card">
            <div class="btn-add">
              <button data-toggle="modal" data-target="#Account-inter" i18n>
                Créez
              </button>
            </div>
          </div>
          <div class="card-hover">
            <div class="body-card">
              Compte international
              <div class="btn-add">
                <button data-toggle="modal" data-target="#Account-inter" i18n>
                  Créez
                </button>
              </div>
            </div>
          </div>
        </md-card>
      </li>
    </ul>
  </div>
</div>


<div class="modal fade" id="Account-inter" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title" i18n>
          Création de compte international
        </div>
      </div>

      <div class="modal-body">
        <span class="block" i18n>Votre demande a été envoyée.</span>
        <span class="block" i18n>Un commercial va prendre contact avec vous très prochainement.</span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-rounded" data-dismiss="modal" i18n>Ok</button>
      </div>
    </div>
  </div>
</div>