@import '../../../sass/variables';

mat-form-field {
  width: 100%;
}

.pick-tag-color {

  display: flex;
  flex-direction: row;

  & > div {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    &.selected {
      border: 2px solid mat-color($accent);
      box-sizing: border-box;
    }
  }
}