<h1 matDialogTitle>Tag</h1>

<mat-dialog-content>
    <div i18n *ngIf="!data.name">Create tag with descriptive keywords to improve your organization.</div>
    <mat-form-field color="accent">
        <mat-label></mat-label>
        <input matInput [(ngModel)]="tagName" placeholder="Example: Printed" i18n-placeholder>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose i18n color="accent">Cancel</button>
    <button mat-button (click)="save()" i18n color="accent">Save</button>
</mat-dialog-actions>
