<div class="sfui-content sfui-dialog">
    <div matDialogTitle>
        <div sfui-flex-layout class="sfui-red">
            <div class="sfui-header-3" sfui-flex i18n>
                Your request can't be sent
            </div>
            <button sfui-icon-button>
                <sfui-icon name="close" color="dark-grey" mat-dialog-close></sfui-icon>
            </button>
        </div>
    </div>
    <mat-dialog-content class="sfui-dialog-content">
        <div class="sfui-body-medium sfui-dialog-text" i18n> Reach us at {{contactEmail}}.</div>
    </mat-dialog-content>
    <mat-dialog-actions class="sfui-dialog-actions">
        <button sfui-button sfui-style="secondary" i18n matDialogClose>Close</button>
    </mat-dialog-actions>
</div>
