@import '../../../sass/mixins/auth-title';

@include auth-title();

a.terms-link {
  color: mat-color($accent);
  text-decoration: none;
}

.form-actions {
  margin-top: 20px;
}

.create-form {
  margin-top: 40px;
}

sf-error-alert:first-of-type {
  margin-top: 20px;
}
