<div class="scrollable-container">
    <form fxFlexLayout="row" fxLayoutGap="10px" (ngSubmit)="save(form.valid)">
        <mat-card fxFlex="50%" [formGroup]="form">
            <mat-card-content>
                <mat-form-field>
                    <input #login matInput placeholder="Login" formControlName="login" i18n-placeholder required>
                    <mat-error i18n *ngIf="form.controls.login.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error
                            *ngIf="form.controls.login.hasError('create-user-error') && !form.controls.login.hasError('required')">
                        {{validationErrors.owner.login}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" i18n-placeholder required>
                    <mat-error i18n
                               *ngIf="form.controls.password.hasError('required') || form.controls.password.hasError('min-length')">
                        The password must not be shorter then 6 characters.
                    </mat-error>
                    <mat-error
                            *ngIf="form.controls.password.hasError('create-user-error') && !form.controls.password.hasError('required') && !form.controls.password.hasError('min-length')">
                        {{validationErrors.owner.password}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" placeholder="Email" formControlName="email" i18n-placeholder required>
                    <mat-error i18n
                               *ngIf="form.controls.email.hasError('required') || form.controls.email.hasError('email')">
                        This field must be a valid email address.
                    </mat-error>
                    <mat-error
                            *ngIf="form.controls.email.hasError('create-user-error') && !form.controls.email.hasError('required') && !form.controls.email.hasError('error')">
                        {{validationErrors.owner.email}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select [formControl]="form.controls.country" #select placeholder="Country" i18n-placeholder [required]="true">
                        <mat-option value="at"><img src="{{baseHref}}/assets/images/flags-mini/at.png" class="sf-flag-filter">
                            <ng-container i18n>Austria</ng-container>
                        </mat-option>
                        <mat-option value="au"><img src="{{baseHref}}/assets/images/flags-mini/au.png" class="sf-flag-filter">
                            <ng-container i18n>Australia</ng-container>
                        </mat-option>
                        <mat-option value="be"><img src="{{baseHref}}/assets/images/flags-mini/be.png" class="sf-flag-filter">
                            <ng-container i18n>Belgium</ng-container>
                        </mat-option>
                        <mat-option value="bg"><img src="{{baseHref}}/assets/images/flags-mini/bg.png" class="sf-flag-filter">
                            <ng-container i18n>Bulgaria</ng-container>
                        </mat-option>
                        <mat-option value="br"><img src="{{baseHref}}/assets/images/flags-mini/br.png" class="sf-flag-filter">
                            <ng-container i18n>Brazil</ng-container>
                        </mat-option>
                        <mat-option value="ca"><img src="{{baseHref}}/assets/images/flags-mini/ca.png" class="sf-flag-filter">
                            <ng-container i18n>Canada</ng-container>
                        </mat-option>
                        <mat-option value="ch"><img src="{{baseHref}}/assets/images/flags-mini/ch.png" class="sf-flag-filter">
                            <ng-container i18n>Switzerland</ng-container>
                        </mat-option>
                        <mat-option value="cz"><img src="{{baseHref}}/assets/images/flags-mini/cz.png" class="sf-flag-filter">
                            <ng-container i18n>Czech Republic</ng-container>
                        </mat-option>
                        <mat-option value="de"><img src="{{baseHref}}/assets/images/flags-mini/de.png" class="sf-flag-filter">
                            <ng-container i18n>Germany</ng-container>
                        </mat-option>
                        <mat-option value="dk"><img src="{{baseHref}}/assets/images/flags-mini/dk.png" class="sf-flag-filter">
                            <ng-container i18n>Denmark</ng-container>
                        </mat-option>
                        <mat-option value="ee"><img src="{{baseHref}}/assets/images/flags-mini/ee.png" class="sf-flag-filter">
                            <ng-container i18n>Estonia</ng-container>
                        </mat-option>
                        <mat-option value="es"><img src="{{baseHref}}/assets/images/flags-mini/es.png" class="sf-flag-filter">
                            <ng-container i18n>Spain</ng-container>
                        </mat-option>
                        <mat-option value="fi"><img src="{{baseHref}}/assets/images/flags-mini/fi.png" class="sf-flag-filter">
                            <ng-container i18n>Finland</ng-container>
                        </mat-option>
                        <mat-option value="fr"><img src="{{baseHref}}/assets/images/flags-mini/fr.png" class="sf-flag-filter">
                            <ng-container i18n>France</ng-container>
                        </mat-option>
                        <mat-option value="gr"><img src="{{baseHref}}/assets/images/flags-mini/gr.png" class="sf-flag-filter">
                            <ng-container i18n>Greece</ng-container>
                        </mat-option>
                        <mat-option value="hr"><img src="{{baseHref}}/assets/images/flags-mini/hr.png" class="sf-flag-filter">
                            <ng-container i18n>Croatia</ng-container>
                        </mat-option>
                        <mat-option value="hu"><img src="{{baseHref}}/assets/images/flags-mini/hu.png" class="sf-flag-filter">
                            <ng-container i18n>Hungary</ng-container>
                        </mat-option>
                        <mat-option value="ie"><img src="{{baseHref}}/assets/images/flags-mini/ie.png" class="sf-flag-filter">
                            <ng-container i18n>Ireland</ng-container>
                        </mat-option>
                        <mat-option value="in"><img src="{{baseHref}}/assets/images/flags-mini/in.png" class="sf-flag-filter">
                            <ng-container i18n>India</ng-container>
                        </mat-option>
                        <mat-option value="it"><img src="{{baseHref}}/assets/images/flags-mini/it.png" class="sf-flag-filter">
                            <ng-container i18n>Italy</ng-container>
                        </mat-option>
                        <mat-option value="jp"><img src="{{baseHref}}/assets/images/flags-mini/jp.png" class="sf-flag-filter">
                            <ng-container i18n>Japan</ng-container>
                        </mat-option>
                        <mat-option value="lt"><img src="{{baseHref}}/assets/images/flags-mini/lt.png" class="sf-flag-filter">
                            <ng-container i18n>Lithuania</ng-container>
                        </mat-option>
                        <mat-option value="lv"><img src="{{baseHref}}/assets/images/flags-mini/lv.png" class="sf-flag-filter">
                            <ng-container i18n>Latvia</ng-container>
                        </mat-option>
                        <mat-option value="mx"><img src="{{baseHref}}/assets/images/flags-mini/mx.png" class="sf-flag-filter">
                            <ng-container i18n>Mexico</ng-container>
                        </mat-option>
                        <mat-option value="nl"><img src="{{baseHref}}/assets/images/flags-mini/nl.png" class="sf-flag-filter">
                            <ng-container i18n>Netherlands</ng-container>
                        </mat-option>
                        <mat-option value="no"><img src="{{baseHref}}/assets/images/flags-mini/no.png" class="sf-flag-filter">
                            <ng-container i18n>Norway</ng-container>
                        </mat-option>
                        <mat-option value="pl"><img src="{{baseHref}}/assets/images/flags-mini/pl.png" class="sf-flag-filter">
                            <ng-container i18n>Poland</ng-container>
                        </mat-option>
                        <mat-option value="pt"><img src="{{baseHref}}/assets/images/flags-mini/pt.png" class="sf-flag-filter">
                            <ng-container i18n>Portugal</ng-container>
                        </mat-option>
                        <mat-option value="ro"><img src="{{baseHref}}/assets/images/flags-mini/ro.png" class="sf-flag-filter">
                            <ng-container i18n>Romania</ng-container>
                        </mat-option>
                        <mat-option value="ru"><img src="{{baseHref}}/assets/images/flags-mini/ru.png" class="sf-flag-filter">
                            <ng-container i18n>Russian Federation</ng-container>
                        </mat-option>
                        <mat-option value="se"><img src="{{baseHref}}/assets/images/flags-mini/se.png" class="sf-flag-filter">
                            <ng-container i18n>Sweden</ng-container>
                        </mat-option>
                        <mat-option value="si"><img src="{{baseHref}}/assets/images/flags-mini/si.png" class="sf-flag-filter">
                            <ng-container i18n>Slovenia</ng-container>
                        </mat-option>
                        <mat-option value="sk"><img src="{{baseHref}}/assets/images/flags-mini/sk.png" class="sf-flag-filter">
                            <ng-container i18n>Slovakia</ng-container>
                        </mat-option>
                        <mat-option value="sl"><img src="{{baseHref}}/assets/images/flags-mini/sl.png" class="sf-flag-filter">
                            <ng-container i18n>Sierra Leone</ng-container>
                        </mat-option>
                        <mat-option value="th"><img src="{{baseHref}}/assets/images/flags-mini/th.png" class="sf-flag-filter">
                            <ng-container i18n>Thailand</ng-container>
                        </mat-option>
                        <mat-option value="tr"><img src="{{baseHref}}/assets/images/flags-mini/tr.png" class="sf-flag-filter">
                            <ng-container i18n>Turkey</ng-container>
                        </mat-option>
                        <mat-option value="uk"><img src="{{baseHref}}/assets/images/flags-mini/gb.png" class="sf-flag-filter">
                            <ng-container i18n>United Kingdom</ng-container>
                        </mat-option>
                        <mat-option value="us"><img src="{{baseHref}}/assets/images/flags-mini/us.png" class="sf-flag-filter">
                            <ng-container i18n>United States</ng-container>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.country.hasError('required')" i18n>This field is required</mat-error>
                    <mat-error *ngIf="form.controls.country.hasError('create-user-error') && !form.controls.country.hasError('required')">
                        {{form.controls.country.getError('create-user-error')}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="url" placeholder="Feed Url" formControlName="url" i18n-placeholder required>
                    <mat-error i18n
                               *ngIf="form.controls.url.hasError('required') || form.controls.url.hasError('pattern')">
                        This must be a valid uri, starting from http, https or ftp.
                    </mat-error>
                    <mat-error
                            *ngIf="form.controls.url.hasError('create-user-error') && !form.controls.url.hasError('required') && !form.controls.url.hasError('pattern')">
                        {{validationErrors.feed.url}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Source" formControlName="source" i18n-placeholder required>
                        <mat-option value="prestashop" selected>prestashop</mat-option>
                        <mat-option value="webetsolutions">webetsolutions</mat-option>
                        <mat-option value="bigcommerce">bigcommerce</mat-option>
                        <mat-option value="thelia">thelia</mat-option>
                        <mat-option value="shopify">shopify</mat-option>
                        <mat-option value="cmonsite">cmonsite</mat-option>
                        <mat-option value="ws">ws</mat-option>
                        <mat-option value="wizishop">wizishop</mat-option>
                        <mat-option value="magento">magento</mat-option>
                        <mat-option value="google">google</mat-option>
                        <mat-option value="xml">xml</mat-option>
                        <mat-option value="powerboutique">powerboutique</mat-option>
                        <mat-option value="shopapplication">shopapplication</mat-option>
                        <mat-option value="sa">sa</mat-option>
                        <mat-option value="csv">csv</mat-option>
                        <mat-option value="txt">txt</mat-option>
                    </mat-select>
                    <mat-error i18n *ngIf="form.controls.source.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error
                            *ngIf="form.controls.source.hasError('create-user-error') && !form.controls.source.hasError('required')">
                        {{validationErrors.feed.source}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="form.value.source === 'csv' || form.value.source === 'txt'">
                    <input matInput placeholder="Separator" formControlName="separator" i18n-placeholder>
                    <mat-error *ngIf="form.controls.separator.hasError('create-user-error')">
                        {{validationErrors.feed.settings.csvValueSeparator}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="form.value.source === 'xml'">
                    <input matInput placeholder="XML product" formControlName="productNode" i18n-placeholder>
                    <mat-error *ngIf="form.controls.productNode.hasError('create-user-error')">
                        {{validationErrors.feed.settings.xmlProductNode}}
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>


                <button mat-button color="accent" [disabled]="processing">CREATE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card fxFlex [formGroup]="mappingsForm">
            <mat-card-content class="two-column" *ngIf="showMappingsForm();else mappingWillBeHereMessage">
                <div>
                    <label for="sf-cu-brand-mapping">brand</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-brand-mapping" matInput placeholder="Describe" formControlName="brand"
                               i18n-placeholder>
                    </mat-form-field>

                </div>
                <div>
                    <label for="sf-cu-brand-link-mapping">brand_link</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-brand-link-mapping" matInput placeholder="Describe" formControlName="brandLink"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-category-mapping">category</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-category-mapping" matInput placeholder="Describe" formControlName="category"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-description-mapping">description</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-description-mapping" matInput placeholder="Describe"
                               formControlName="description" i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-ean-mapping">ean</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-ean-mapping" matInput placeholder="Describe" formControlName="ean"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-ecotax-mapping">ecotax</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-ecotax-mapping" matInput placeholder="Describe" formControlName="ecotax"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-id_parent-mapping">id_parent</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-id_parent-mapping" matInput placeholder="Describe" formControlName="idParent"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <ng-container formArrayName="images">
                    <div *ngFor="let control of mappingsForm.controls['images'].controls; index as i">
                        <label for="sf-cu-image_{{i}}-mapping">image_{{i+1}}</label>
                        <mat-form-field floatPlaceholder="never">
                            <input id="sf-cu-image_{{i}}-mapping" matInput placeholder="Describe"
                                   [formControl]="control" i18n-placeholder>
                            <button *ngIf="i==0" mat-button matSuffix mat-icon-button aria-label="Add an image"
                                    (click)="addImage()">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button *ngIf="i>0" mat-button matSuffix mat-icon-button aria-label="Remove the image"
                                    (click)="removeImage(i)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </ng-container>
                <div>
                    <label for="sf-cu-link-mapping">link</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-link-mapping" matInput placeholder="Describe" formControlName="link"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-name-mapping">name</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-name-mapping" matInput placeholder="Describe" formControlName="name"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-old_price-mapping">old_price</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-old_price-mapping" matInput placeholder="Describe" formControlName="oldPrice"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-quantity-mapping">quantity</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-quantity-mapping" matInput placeholder="Describe" formControlName="quantity"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-reference-mapping">reference</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-reference-mapping" matInput placeholder="Describe" formControlName="reference"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-shipping_cost-mapping">shipping_cost</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-shipping_cost-mapping" matInput placeholder="Describe"
                               formControlName="shippingCost" i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-shipping_time-mapping">shipping_time</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-shipping_time-mapping" matInput placeholder="Describe"
                               formControlName="shippingTime" i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-short_description-mapping">short_description</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-short_description-mapping" matInput placeholder="Describe"
                               formControlName="shortDescription" i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-tva-mapping">tva</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-tva-mapping" matInput placeholder="Describe" formControlName="tva"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-weight-mapping">weight</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-weight-mapping" matInput placeholder="Describe" formControlName="weight"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <ng-template #mappingWillBeHereMessage>
                <mat-card-content i18n>
                    Field Mapping will be displayed here if needed.
                </mat-card-content>
            </ng-template>
        </mat-card>
    </form>
</div>