<div class="scrollable-container">
    <form fxFlexLayout="row" fxLayoutGap="10px" #form="ngForm" (ngSubmit)="save(form.valid)">
        <mat-card fxFlex="50%">
            <mat-card-content>
                <mat-form-field>
                    <input #login matInput placeholder="Login" name="login" required [(ngModel)]="store.owner.login"
                           i18n-placeholder="A label for the login input">
                    <mat-error i18n>This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" name="password" minlength="6" required
                           [(ngModel)]="store.owner.password"
                           i18n-placeholder="A label for the password field">
                    <mat-error i18n>The password must not be shorter then 6 characters.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" placeholder="Email" name="email" required
                           [(ngModel)]="store.owner.email"
                           i18n-placeholder [email]="true">
                    <mat-error i18n>This field must be a valid email address.</mat-error>
                </mat-form-field>

                <sf-country-select (valueChanged)="store.country = $event"></sf-country-select>

                <mat-form-field>
                    <input matInput type="url" pattern="(http|https|ftp)://.+" placeholder="Feed Url"
                           i18n-placeholder
                           name="feed" required [(ngModel)]="store.feed.url">
                    <mat-error i18n>This must be a valid uri, starting from http, https or ftp.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Source" i18n-placeholder="A label for a feed source field"
                                name="feed-source" required
                                [(ngModel)]="store.feed.source">
                        <mat-option value="prestashop" selected>prestashop</mat-option>
                        <mat-option value="webetsolutions">webetsolutions</mat-option>
                        <mat-option value="bigcommerce">bigcommerce</mat-option>
                        <mat-option value="thelia">thelia</mat-option>
                        <mat-option value="shopify">shopify</mat-option>
                        <mat-option value="cmonsite">cmonsite</mat-option>
                        <mat-option value="ws">ws</mat-option>
                        <mat-option value="wizishop">wizishop</mat-option>
                        <mat-option value="magento">magento</mat-option>
                        <mat-option value="google">google</mat-option>
                        <mat-option value="xml">xml</mat-option>
                        <mat-option value="powerboutique">powerboutique</mat-option>
                        <mat-option value="shopapplication">shopapplication</mat-option>
                        <mat-option value="sa">sa</mat-option>
                        <mat-option value="csv">csv</mat-option>
                        <mat-option value="txt">txt</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="store.feed.source === 'csv' || store.feed.source === 'txt'">
                    <input matInput placeholder="Separator" i18n-placeholder="A label for feed csv separator field"
                           name="separator" maxlength="1"
                           [(ngModel)]="store.feed.settings.csvFieldSeparator">
                </mat-form-field>
                <mat-form-field *ngIf="store.feed.source === 'xml'">
                    <input matInput placeholder="XML product"
                           i18n-placeholder="A label for an feed XML product node field" name="xmlProductNode"
                           [(ngModel)]="store.feed.settings.xmlProductNode">
                </mat-form-field>
                <div color="error" *ngIf="error || validationErrors" class="mat-error">
                    <div *ngIf="error" i18n>{{error || 'Unknown error'}}</div>
                    <div *ngIf="validationErrors">
                        <div *ngIf="validationErrors.owner.login">
                            <div *ngFor="let error of validationErrors.owner.login"
                                 i18n="A server error message for a login field, should have the same label as a feed label">
                                Login: {{error}}
                            </div>
                        </div>
                        <div *ngIf="validationErrors.owner.email">
                            <div *ngFor="let error of validationErrors.owner.email"
                                 i18n="A server error message for an email field, should have the same label as a feed label">
                                Email: {{error}}
                            </div>
                        </div>
                        <div *ngIf="validationErrors.owner.password"
                             i18n="A server error message for a password field, should have the same label as a feed label">
                            <div *ngFor="let error of validationErrors.owner.password">Password: {{error}}</div>
                        </div>
                        <div *ngIf="validationErrors.country"
                             i18n="A server error message for a country field, should have the same label as a feed label">
                            <div *ngFor="let error of validationErrors.country">Country: {{error}}</div>
                        </div>
                        <div *ngIf="validationErrors.feed.url"
                             i18n="A server error message for a feed url field, should have the same label as a feed label">
                            <div *ngFor="let error of validationErrors.feed.url">Feed Url: {{error}}</div>
                        </div>
                        <div *ngIf="validationErrors.feed.source"
                             i18n="A server error message for a feed source field, should have the same label as a feed label">
                            <div *ngFor="let error of validationErrors.feed.source">Source: {{error}}</div>
                        </div>
                        <div *ngIf="validationErrors.feed.settings.xmlProductNode"
                             i18n="A server error message for an feed XML product node field, should have the same label as a feed label">
                            <div *ngFor="let error of validationErrors.feed.settings.xmlProductNode">XML product:
                                {{error}}
                            </div>
                        </div>
                        <div *ngIf="validationErrors.feed.settings.csvFieldSeparator"
                             i18n="A server error message for an feed csv separator field, should have the same label as a feed label">
                            <div *ngFor="let error of validationErrors.feed.settings.csvFieldSeparator">Separator:
                                {{error}}
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>


                <button mat-button color="accent" [disabled]="processing">CREATE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card fxFlex>
            <mat-card-content class="two-column" *ngIf="showMappingsForm();else mappingWillBeHereMessage">
                <div>
                    <label for="sf-cu-brand-mapping">brand</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-brand-mapping" matInput placeholder="Describe" name="mapping-brand"
                               [(ngModel)]="store.feed.mapping.brand" i18n-placeholder>
                    </mat-form-field>

                </div>
                <div>
                    <label for="sf-cu-brand-link-mapping">brand_link</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-brand-link-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-brand_link" [(ngModel)]="store.feed.mapping.brand_link">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-category-mapping">category</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-category-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-category" [(ngModel)]="store.feed.mapping.category">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-description-mapping">description</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-description-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-description" [(ngModel)]="store.feed.mapping.description">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-ean-mapping">ean</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-ean-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-ean" [(ngModel)]="store.feed.mapping.ean">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-ecotax-mapping">ecotax</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-ecotax-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-ecotax" [(ngModel)]="store.feed.mapping.ecotax">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-id_parent-mapping">id_parent</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-id_parent-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-id_parent" [(ngModel)]="store.feed.mapping.id_parent">
                    </mat-form-field>
                </div>
                <div *ngFor="let image of images; index as i; trackBy: trackByIndex">
                    <label for="sf-cu-image_{{i}}-mapping">image_{{i+1}}</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-image_{{i}}-mapping"
                               matInput placeholder="Describe" i18n-placeholder
                               name="mapping-image_{{i}}" [(ngModel)]="images[i]">
                        <button *ngIf="i==0" mat-button matSuffix mat-icon-button aria-label="Add an image"
                                (click)="addImage()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button *ngIf="i>0" mat-button matSuffix mat-icon-button aria-label="Remove the image"
                                (click)="removeImage(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-link-mapping">link</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-link-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-link" [(ngModel)]="store.feed.mapping.link">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-name-mapping">name</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-name-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-name" [(ngModel)]="store.feed.mapping.name">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-old_price-mapping">old_price</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-old_price-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-old_price" [(ngModel)]="store.feed.mapping.old_price">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-quantity-mapping">quantity</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-quantity-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-quantity" [(ngModel)]="store.feed.mapping.quantity">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-reference-mapping">reference</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-reference-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-reference" [(ngModel)]="store.feed.mapping.reference">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-shipping_cost-mapping">shipping_cost</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-shipping_cost-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-shipping_cost" [(ngModel)]="store.feed.mapping.shipping_cost">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-shipping_time-mapping">shipping_time</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-shipping_time-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-shipping_time" [(ngModel)]="store.feed.mapping.shipping_time">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-short_description-mapping">short_description</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-short_description-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-short_description" [(ngModel)]="store.feed.mapping.short_description">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-tva-mapping">tva</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-tva-mapping" matInput placeholder="Describe" i18n-placeholder
                               name="mapping-tva" [(ngModel)]="store.feed.mapping.tva">
                    </mat-form-field>
                </div>
                <div>
                    <label for="sf-cu-weight-mapping">weight</label>
                    <mat-form-field floatPlaceholder="never">
                        <input id="sf-cu-weight-mapping" matInput placeholder="Describe" i18n-placeholder
                               i18n-placeholder name="mapping-weight" [(ngModel)]="store.feed.mapping.weight">
                    </mat-form-field>
                </div>
            </mat-card-content>
            <ng-template #mappingWillBeHereMessage>
                <mat-card-content i18n>
                    Field Mapping will be displayed here if needed.
                </mat-card-content>
            </ng-template>
        </mat-card>
    </form>
</div>