<sfl-sidebar-container bgColor="#006064" menuHeight="0px">
    <mat-list fxLayout="column" class="main-sidenav">
        <mat-list-item>
            <a class="nav-link home" routerLink="/" fxShow fxHide.xs>
                <img alt="Home" title="Home" i18n-alt i18n-title width="35" src="assets/images/s-logo.png">
            </a>
        </mat-list-item>
    </mat-list>
</sfl-sidebar-container>
<div class="sf-content settings-static-bar" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex>
        <img [src]="channel?._links?.image?.href" height="60">
    </div>
    <a mat-stroked-button color="primary" i18n [href]="appLink | async" target="_blank">Access demo store</a>
</div>
<mat-divider></mat-divider>
<form class="sf-content scrollable-container" [formGroup]="formGroup">
    <mat-card>

        <mat-card-header>
            <div fxLayout="row" fxLayoutAlign="center baseline" fxLayoutGap="60px">
                <mat-card-title class="mat-title">Settings</mat-card-title>
                <mat-card-subtitle>Define channel main data : contact, category, and countries.</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="20px">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Contact email</mat-label>
                    <input matInput required formControlName="contact">
                    <mat-hint>Contact email displayed to users in Shopping Feed</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="segment">
                        <mat-option value="professional">Professional</mat-option>
                        <mat-option value="motors">Motors</mat-option>
                        <mat-option value="organic">Organic</mat-option>
                        <mat-option value="appliances">Appliances</mat-option>
                        <mat-option value="gastronomy">Gastronomy</mat-option>
                        <mat-option value="highTech">HighTech</mat-option>
                        <mat-option value="toys">Toys</mat-option>
                        <mat-option value="homeAndGarden">Home And Garden</mat-option>
                        <mat-option value="fashion">Fashion</mat-option>
                        <mat-option value="nursery">Nursery</mat-option>
                        <mat-option value="healthAndBeauty">Health And Beauty</mat-option>
                        <mat-option value="wineAndSpirits">Wine And Spirits</mat-option>
                        <mat-option value="universal">Universal</mat-option>
                        <mat-option value="sports">Sports</mat-option>
                    </mat-select>
                    <mat-hint>Category allows user to find channel more easily through filters</mat-hint>
                </mat-form-field>
                <sfl-country-autocomplete multipleSelection="chips" formControlName="country" appearance="outline"
                                          color="primary"
                                          [required]="true" hintText="Countries where channel is available"
                                          i18n-hintText>
                </sfl-country-autocomplete>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>

        <mat-card-header>
            <div fxLayout="row" fxLayoutAlign="center baseline" fxLayoutGap="60px">
                <mat-card-title class="mat-title">Template</mat-card-title>
                <mat-card-subtitle>Design the product data feed, as you wish sellers to fill it in.
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <form fxLayout="column" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px" *ngFor="let fieldSet of templateControls; let i = index">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label i18n>Channel field</mat-label>
                        <input matInput [formControl]="fieldSet.controls.channelField" required>
                        <mat-hint i18n>Input field name as written in feed</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label i18n>SF field</mat-label>
                        <mat-select [formControl]="fieldSet.controls.appField">
                            <mat-option *ngFor="let field of templateFields" [value]="field.label">{{field.label}}</mat-option>
                        </mat-select>
                        <mat-hint i18n>Select feed name as written in feed</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label i18n>Default value</mat-label>
                        <input matInput [formControl]="fieldSet.controls.defaultValue">
                        <mat-hint i18n>Or input default value of feed</mat-hint>
                    </mat-form-field>
                    <button mat-stroked-button *ngIf="i === 0" (click)="addField()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-stroked-button *ngIf="i > 0" (click)="removeField(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div fxLayout="row" fxLayoutAlign="center baseline" fxLayoutGap="60px">
                <mat-card-title class="mat-title">Taxonomies</mat-card-title>
                <mat-card-subtitle>Import your categories sellers will use to classify their product.
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <form fxLayout="column" fxLayoutGap="20px">
                <div *ngFor="let country of countryList" fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="start center">
                    <div fxFlex="25%" class="country-name">{{countryNames[country.code]}}</div>
                    <mat-form-field appearance="outline" color="primary" fxFlex="30%">
                        <mat-label>Choose a taxonomy</mat-label>
                    <mat-select>
                        <mat-option>Google Taxonomy</mat-option>
                        <mat-option>I don't have categories</mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="actions">
        <button mat-raised-button (click)="save()" color="primary">Save</button>
    </div>
</form>