@import '../../sass/variables';

$static-bar-height: 103px;

.scrollable-container {
  height: calc(100vh - (2 * #{$content-margin}) - #{$static-bar-height});
}

mat-list-item {
  outline: none;
  cursor: pointer;

  .nav-link.home {
    margin: auto;
  }
}

mat-panel-title.mat-title {
  // avoid panel-description mispositioning
  line-height: mat-font-size($config, title);
  margin: 0;
}

mat-card {
  margin-bottom: 20px;
}

.actions {
  text-align: right;
}

::ng-deep {
  .sf-content .mat-card-header-text {
    margin: 0;
  }
}