@import '../sass/variables';

mat-list-item {
  outline: none;
  cursor: pointer;

  .nav-link.home {
    margin: auto;
  }
}

mat-panel-title.mat-title {
  // avoid panel-description mispositioning
  line-height: mat-font-size($config, title);
  margin: 0;
}