<sfl-sidebar-container bgColor="#006064" menuHeight="0px">
    <mat-list fxLayout="column" class="main-sidenav">
        <mat-list-item>
            <a class="nav-link home" routerLink="/" fxShow fxHide.xs>
                <img alt="Home" title="Home" i18n-alt i18n-title width="35" src="assets/images/s-logo.png">
            </a>
        </mat-list-item>
    </mat-list>
</sfl-sidebar-container>
<div class="sf-content">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="mat-title">Settings</mat-panel-title>
                <mat-panel-description>Define channel main data : contact, category, and countries.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <sfcs-settings [channel]="channel"></sfcs-settings>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="mat-title">Template</mat-panel-title>
                <mat-panel-description>Design the product data feed, as you wish sellers to fill it in.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <sfcs-template [channelId]="channelId"></sfcs-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>