$primary: #098Fd0;
$secondary: #473A7A;
$success: #7BC280;
$color-text: #333;

$selectorColor: (
  1: $primary,
  2: $secondary,
  3: $success
);

.box-key ul {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 0 0 30px 0;
    text-align: center;
    font: {
      family: HelveticaNeue-Bold;
      size: 50px;
    }
    list-style: none;

    span {
      display: block;
      padding: 0 0 30px 0;
      color: $color-text;
      font: {
        family: HelveticaNeue-Regular;
        size: 13px;
      }

      &:first-letter {
        text-transform: capitalize;
      }
    }

    @each $selector, $colorFont in $selectorColor {
      &:nth-child(#{$selector}) {
        color: $colorFont;
      }
    }
  }
}
