$color-text: #333;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);

md-card {
  margin: 30px 0;
  padding: 15px 20px;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  .half-box {
    color: $color-text;
    font: {
      family: Nunito-Regular;
      size: 16px;
    }

    span {
      display: block;
      margin-bottom: 5px;
    }

    ul li {
      display: inline-block;
      list-style: none;
      width: 19%;
      img {
        width: 100%;
        max-width: 100px;
      }
    }
  }
}


.col-xs-6 {
  &:nth-child(1) {
    .half-box {
      margin-top: 20px;
    }
  }
}