$color-text: #333;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);

md-card {
  margin: {
    top: 20px;
  }
  padding: 15px 20px;
  box-shadow: $box-shadow;

  .half-box {
    color: $color-text;
    font: {
      family: Nunito-Regular;
      size: 16px;
    }

    span {
      display: block;
      margin-bottom: 5px;
    }

    ul li {
      display: inline-block;
      list-style: none;
      width: 19%;
      img {
        width: 100%;
        max-width: 100px;
      }
    }
  }
}