@import './variables';

mat-dialog-content.mat-dialog-content {
  margin-top: 35px;
  margin-bottom: 35px;

  color: $black-54-opacity;

  .error {
    color: mat-color($warn);
  }
}

mat-dialog-actions {
  float: right;

  button.mat-button {
    margin-right: 5px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}