@import 'variables';

@include mat-core();
@include angular-material-theme($theme);

@include angular-material-typography($sf-typography);

body {
  font-family: 'Noto Sans', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  mat-sidenav {
    min-width: 15%;

    [mat-button] {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  mat-toolbar {
    mat-icon {
      cursor: pointer;
    }
  }

  h1 {
    font-size: 20px;
  }
}

[mat-raised-button].mat-raised-button {
  &:not(:hover) {
    box-shadow: none;
  }
}

sf-admin-menu {
  .sf-top-menu {
    .sf-top-menu-container {
      mat-toolbar[color=primary] {
        background-color: mat-color($grey, 900);
      }
    }
  }
}

mat-list-item {
  & > .mat-list-item-content {
    min-height: inherit;
  }
}