@import 'variables';

@include mat-core();
@include angular-material-theme($theme);

@include angular-material-typography($config);

body {
  font-family: 'Noto Sans', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  mat-sidenav {
    min-width: 15%;

    [mat-button] {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  mat-toolbar {
    mat-icon {
      cursor: pointer;
    }
  }

  h1 {
    font-size: 20px;
  }
}

[mat-raised-button].mat-raised-button {
  &:not(:hover) {
    box-shadow: none;
  }
}

sf-filter-channels-dialog {
  .mat-focused {
    label.mat-input-placeholder {
      color: mat-color($accent);
    }
    .mat-form-field-underline {
      &, .mat-form-field-ripple {
        background-color: mat-color($accent);
      }
    }
  }

}

button[mat-button] {
  text-transform: uppercase;
}

sf-admin-menu {
  .sf-top-menu {
    .sf-top-menu-container {
      mat-toolbar[color=primary] {
        background-color: mat-color($grey, 900);
      }
    }
  }
}

mat-list-item {
  & > .mat-list-item-content {
    min-height: inherit;
  }
}

mat-sidenav-container {
  @media #{$xs} {
    overflow: visible;

    .mat-drawer-backdrop.mat-drawer-shown {
      position: fixed;
      width: 100vw;
      height: 100vh;
    }
  }
}

sf-filtering-tabs mat-tab-header {
  z-index: 0;
}

sf-filter-channels-dialog {
  .mat-focused {
    label.mat-input-placeholder {
      color: mat-color($accent);
    }
    .mat-form-field-underline {
      &, .mat-form-field-ripple {
        background-color: mat-color($accent);
      }
    }
  }

}

.sf-accent {
  :not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
  .mat-calendar-body-selected {
    background-color: mat-color($accent);
    color: white;
  }
  .mat-calendar-period-button {
    color: mat-color($accent);
  }
}

sf-filtering-tabs {
  .mat-tab-group.mat-accent {
    .mat-tab-label-active, .mat-tab-label:not(.mat-tab-disabled):focus {
      background: none;
      color: mat-color($accent);
      opacity: 1;
    }
    .mat-tab-label:not(.mat-tab-label-active) {
      .tab-label:hover {
        color: $black-87-opacity;
      }
    }
  }
}

.sf-countries-autocomplete {
  mat-option {
    text-transform: capitalize;
  }
}

sf-orders-table {
  table {
    .mat-chip-list-wrapper {
      width: min-content;
    }
  }
}

mat-sidenav-container {
  &.mat-sidenav-container {
    &.mat-drawer-container {
      overflow: visible;
    }
  }
}

mat-chip.mat-chip.sf-tag {
  background-color: mat-color($accent, 0.3);
}