.sf-nav-search {
  & > .mat-input-wrapper {

    color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    .mat-input-table {
      padding-left: 20px;
    }
  }
}

.sf-language-menu {
  min-width: 0 !important;
}