@import 'variables';

$config: mat-typography-config();
$badge-font-level: caption;

.sf-badge {
  position: relative;
}

.sf-badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -7px;
  right: -7px;
  font-family: mat-font-family($config);
  font-size: mat-font-size($config, $badge-font-level);
  font-weight: bold;
  background: mat-color($green, A700);
  color: white;
  width: mat-line-height($config, $badge-font-level);
  height: mat-line-height($config, $badge-font-level);
  text-align: center;
  line-height: mat-line-height($config, $badge-font-level);
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}