@import 'variables';
$badge-font-level: caption;

.sf-badge {
  position: relative;
}

.sf-badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -7px;
  right: -7px;
  font-family: mat-font-family($config);
  font-size: mat-font-size($config, $badge-font-level);
  font-weight: bold;
  background: mat-color($green, 400);
  color: white;
  min-width: 15px;
  padding: 0 3px 0 2px;
  height: mat-line-height($config, $badge-font-level);
  text-align: center;
  line-height: mat-line-height($config, $badge-font-level);
  border-radius: 50%;
}

.sf-flag {
  vertical-align: sub;
}

.sf-flag-filter {
  margin-right: 10px;
}

.sf-fill-space {
  flex: 1;
}


.tooltip-over-update {
  position: relative;
  top: 47px;
}


.scrollable-container {
  padding-left: 5px;
  padding-top: $content-margin;
  padding-bottom: $content-margin;
  display: block;
  height: calc(100vh - #{$toolbar-height});
  overflow: auto;
}