@import 'variables';

$badge-font-level: caption;

.sf-badge {
  position: relative;
}

.sf-badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -7px;
  right: -7px;
  font-family: mat-font-family($config);
  font-size: mat-font-size($config, $badge-font-level);
  font-weight: bold;
  background: mat-color($green, 400);
  color: white;
  min-width: 15px;
  padding: 0 3px 0 2px;
  height: mat-line-height($config, $badge-font-level);
  text-align: center;
  line-height: mat-line-height($config, $badge-font-level);
  border-radius: 50%;
}

.sf-flag {
  vertical-align: sub;
}

.sf-flag-filter {
  margin-right: 10px;
}

.sf-fill-space {
  flex: 1;
}

.tooltip-over-update {
  position: relative;
  top: 47px;
}

.scrollable-container {
  display: block;
  // viewport height - top padding - bottom padding
  height: calc(100vh - (2 * #{$content-margin}));
  overflow: auto;
}

.spinner-parent {
  margin-top: 10px;
  margin-bottom: 30px;
}

.sf-warn-alert {
  background-color: mat-color($warn, 900, 0.1);
  color: mat-color($warn, 900);
  border: mat-color($warn, 900) 1px solid;
  padding: 10px;
  margin-bottom: 20px;

  mat-icon.mat-icon.mat-warn {
    vertical-align: middle;
    color: mat-color($warn, 900);
  }
}

.sf-snackbar-error {
  color: mat-color($warn);
  font-weight: mat-font-weight($config, body-2);
}

// avoid double gaps on the grid where we have a gap between two elements, and one of them
// contains nothing (conditionally displayed content, for instance)
.sf-gap-compensate-parent {
  margin-top: -$default-grid-gap;

  .sf-gap-compensate-child {
    margin-top: $default-grid-gap;
  }
}

.sf-color-grey {
  color: $black-54-opacity;
}

.tag-color-blue {
  background-color: rgba(25, 118, 210, 0.3) !important;
}

.tag-color-green {
  background-color: rgba(56, 142, 60, 0.3) !important;
}

.tag-color-red {
  background-color: rgba(183, 28, 28, 0.3) !important;
}

.tag-color-orange {
  background-color: #FFCCBC !important;
}

.tag-color-yellow {
  background-color: #FFE0B2 !important;
}

.tag-color-indigo {
  background-color: #C5CAE9 !important;
}

.tag-color-grey {
  background-color: #B0BEC5 !important;
}

.tag-color-brown {
  background-color: #BCAAA4 !important;
}

.sf-label.mat-chip {
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
  margin: 4px;
  box-sizing: border-box;
  font-weight: normal;

  &.green {
    background-color: mat-color($green, 0.2);
    color: $black-87-opacity;
  }

  &.red {
    background-color: mat-color($warn, 0.2);
    color: $black-87-opacity;
  }

  &.blue {
    background-color: mat-color($mat-blue, 700, 0.3);
    color: $black-87-opacity;
  }
}
