@import '~@angular/material/theming';

$primary: mat-palette($mat-blue-grey, 700);
$accent: mat-palette($mat-blue, 700);
$warn: mat-palette($mat-red);

$grey: mat-palette($mat-grey);
$green: mat-palette($mat-green);
$theme: mat-light-theme($primary, $accent, $warn);

$black-54-opacity: rgba(black, 0.54);

$toolbar-height: 0px;
$left-sidebar-width: 75px;

$config: mat-typography-config(
        $font-family: '"Noto Sans", sans-serif',
        $body-2: mat-typography-level(14px, 24px, 700),
        $button: mat-typography-level(14px, 14px, 700),
        $title: mat-typography-level(20px, 32px, 700),
        $input: mat-typography-level(14px, 1.25, 400)
);

$mobile-tabs-background: #385370;

$content-margin: 20px;
$min-width: 1024px;

$default-grid-gap: 20px;

$card-padding: 24px;

// media queries according to material spec

$xs: 'screen and (max-width: 599px)';
$gt-xs: 'screen and (min-width: 600px)';
$sm: 'screen and (min-width: 600px) and (max-width: 959px)';
$gt-sm: 'screen and (min-width: 960px)';
$lt-md: 'screen and (max-width: 959px)';