@import '~@angular/material/theming';

$primary: mat-palette($mat-blue, 700);
$accent: mat-palette($mat-purple, 700);
$warn: mat-palette($mat-red);

$grey: mat-palette($mat-grey);
$green: mat-palette($mat-green);
$theme: mat-light-theme($primary, $accent, $warn);

$toolbar-height: 64px;
$left-sidebar-width: 75px;

$sf-typography: mat-typography-config(
        $font-family: 'Noto Sans'
);

$content-margin: 20px;

$config: mat-typography-config();
$min-width: 1024px;