@import '~@angular/material/theming';

$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-deep-purple, 400);
$warn: mat-palette($mat-red);

$grey: mat-palette($mat-grey);
$theme: mat-light-theme($primary, $accent, $warn);


$toolbar-height: 64px;
$toolbar-tablet-height: 56px;


$sf-typography: mat-typography-config(
        $font-family: 'Noto Sans'
);