@import '../../sass/variables';

$page-bg: #D4EFF9;

.page {
  background-color: $page-bg;
  display: block;
  min-height: calc(100% - #{$toolbar-height});
  padding-bottom: 50px;

  .card {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  }
}