<div fxLayout="row" fxLayoutGap="20px">
    <sf-autotag-input [autotag]="autotag" (loaded)="inputLoaded=true; markAsLoaded()" fxFlex></sf-autotag-input>
    <mat-form-field appearance="outline" color="accent" fxFlex>
        <mat-label i18n>Authorized values</mat-label>
        <mat-select [(ngModel)]="autotag.value" (selectionChange)="notifyChange()">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let option of options" [value]="'['+option+']'">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>