<div fxLayout="row" fxLayoutGap="20px">
    <sf-autotag-input #input [value]="value" [label]="attribute.name" fxFlex
                      (changed)="changed.emit($event)"></sf-autotag-input>
    <mat-form-field appearance="outline" color="accent" fxFlex>
        <mat-label i18n>Authorized values</mat-label>
        <input type="text" matInput [formControl]="control" [matAutocomplete]="auto" #inputElement>
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
    </mat-form-field>
</div>
<mat-autocomplete #auto="matAutocomplete"
                  (optionSelected)="changed.emit($event.option.value); input.notifyInputDirty(); control.setValue(''); inputElement.blur()">
    <mat-option *ngFor="let option of options" [value]="'['+option+']'" [innerHTML]="option | highlight:control.value"></mat-option>
</mat-autocomplete>
