# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
documentation

# dependencies
/node_modules
/bower_components

# Translations
/src/locale/*
/src/messages.xlf

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# docker local config
/src/environments/environment.prod.ts

# Build files
.v8flags.*
/ts-node*

# Crowdin archives
/*.zip
/bin/
