server:
  extends:
    file: resources/docker/services.yml
    service: node
  ports:
    - 0.0.0.0:4200:4200
  volumes:
    - .:/var/www
  command: bash -c "./node_modules/.bin/ng serve --host 0.0.0.0"

node:
  extends:
    file: resources/docker/services.yml
    service: node
  volumes:
    - .:/var/www