<mat-form-field appearance="outline" color="accent">
    <mat-icon matPrefix class="sf-search-icon">search</mat-icon>
    <input matInput
           placeholder="Search a store"
           i18n-placeholder
           class="toolbar-search"
           [formControl]="searchControl"
           [matAutocomplete]="auto"
           [searchControl]="searchControl"
           sfaSearchStore
           (searchResults)="searchResults = $event"
           (processingSearch)="processing = $event">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectStore($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let option of searchResults" [value]="option">
            <div class="title" (click)="selectStore(option.id)">{{option.name}}</div>
        </mat-option>
        <mat-option *ngIf="searchResults && !searchResults.length" class="no-results-container">
            <div class="mat-subheading-2 no-results" i18n>No results</div>
            <a href="#" (click)="clearSearch()" class="mat-body-1 clear-results" i18n>Clear</a>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-progress-bar mode="indeterminate" color="accent" *ngIf="processing"></mat-progress-bar>

