<div class="scrollable-container">
    <sf-orders-subnav fxShow fxHide.xs>
        <mat-list-item>
            <a routerLink="/orders">
                <mat-icon>keyboard_backspace</mat-icon>
                <ng-container i18n>Order ID {{order.reference}}</ng-container>
            </a>
        </mat-list-item>
        <mat-list-item class="sf-fill-space"></mat-list-item>
        <mat-list-item class="status">
            <sf-order-status [status]="order.status"></sf-order-status>
        </mat-list-item>
    </sf-orders-subnav>

    <div class="sf-warn-alert" *ngIf="order.errors?.length">
        <mat-icon color="warn">error</mat-icon>
        <span *ngIf="order.errors[0].type === errorTypes.ship" i18n class="mat-body-1">
            We were unable to ship your order {{order.reference}}</span>
        <span *ngIf="order.errors[0].type === errorTypes.acknowledge" i18n class="mat-body-1">
            We were unable to import your order {{order.reference}}</span>
    </div>

    <div fxHide fxShow.xs>
        <div i18n>Order ID {{order.reference}}</div>
        <mat-card class="handset-order-details">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <div fxFlex class="order-summary">
                                <div>
                                    <sf-order-status [status]="order.status"></sf-order-status>
                                </div>
                                <div>{{order.createdAt | date:'shortDate'}}</div>
                                <div>{{order.createdAt | date:'shortTime'}}</div>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngFor="let item of order.items">
                        <div fxLayout="column">
                            <div i18n>ID {{item.reference}}</div>
                            <div>{{item.name}}</div>
                            <div i18n>QTY {{item.quantity}}</div>
                            <div class="mat-body-2">{{item.price | sfCurrency:order.payment.currency}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="totals-handset mat-body-2" fxLayout="column">
                            <div fxLayout="row">
                                <div fxFlex i18n>Products Amount</div>
                                <div fxFlex i18n>{{order.payment.productAmount | sfCurrency:order.payment.currency}}
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex i18n>Shipping Amount</div>
                                <div fxFlex>{{order.payment.shippingAmount | sfCurrency:order.payment.currency}}</div>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex i18n>Total Price</div>
                                <div fxFlex>{{order.payment.productAmount + order.payment.shippingAmount |
                                    sfCurrency:order.payment.currency}}
                                </div>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </div>

    <div fxLayout="row" fxShow fxHide.xs>
        <div fxFlex class="channel-image">
            <img [src]="order._embedded.channel._links.image.href">
        </div>
        <div class="order-head-date">
            <div i18n>Store reference {{order.storeReference}}</div>
            <div>{{order.createdAt | date:'short'}}</div>
        </div>
    </div>
    <mat-card class="orders-table" fxShow fxHide.xs>
        <div class="actions" fxLayout="row">
            <sf-action-buttons
                    [status]="order.status"
                    [acknowledgment]="acknowledgment"
                    (actionApplied)="applyStatusAction($event)">
            </sf-action-buttons>
            <a mat-icon-button sfLegacyLink path="/marketplaces/invoice/{{order.id}}" target="_blank">
                <mat-icon>local_printshop</mat-icon>
            </a>
        </div>
        <mat-card-content>
            <mat-table [dataSource]="data">
                <ng-container matColumnDef="sku">
                    <mat-header-cell *matHeaderCellDef>
                        <ng-container i18n>SKU</ng-container>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.sku}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef>
                        <ng-container i18n>Visual</ng-container>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <img [src]="row.image" [alt]="row.name" *ngIf="row.image" class="product-visual">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>
                        <ng-container i18n>Name</ng-container>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef>
                        <ng-container i18n>Quantity</ng-container>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.quantity}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef>
                        <ng-container i18n>Price</ng-container>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mat-body-2">{{row.price | sfCurrency:order.payment.currency}}</span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">{{row.name}}</mat-row>


                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef>
                        <ng-container i18n>Total</ng-container>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.total}}</mat-cell>
                </ng-container>

            </mat-table>

            <div class="totals">
                <div class="flex-gap"></div>
                <div class="description" fxLayout="column" fxLayoutGap="20px">
                    <div i18n>Total products</div>
                    <div i18n>Total delivery</div>
                    <div class="mat-body-2" i18n>Total price</div>
                </div>
                <div class="value" fxLayout="column" fxLayoutGap="20px">
                    <div i18n>{{order.payment.productAmount | sfCurrency:order.payment.currency}}</div>
                    <div i18n>{{order.payment.shippingAmount | sfCurrency:order.payment.currency}}</div>
                    <div class="mat-body-2" i18n>{{order.payment.productAmount + order.payment.shippingAmount |
                        sfCurrency:order.payment.currency}}
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <form #form="ngForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutGap.xs="10px">
            <div fxFlex *ngFor="let address of [order.billingAddress, order.shippingAddress]; index as i">
                <div class="mat-body-1 address-form-title" i18n *ngIf="i === 0">Billing address</div>
                <div class="mat-body-1 address-form-title" i18n *ngIf="i === 1">Delivery address</div>
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>First Name</mat-label>
                                <input matInput [(ngModel)]="address.firstName" name="firstName{{i}}" required
                                       #firstName="ngModel">
                                <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" i18n>
                                    Please, specify the first name.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Last Name</mat-label>
                                <input matInput [(ngModel)]="address.lastName" name="lastName{{i}}" required
                                       #lastName="ngModel">
                                <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" i18n>
                                    Please, specify the last name.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Address</mat-label>
                                <input matInput [(ngModel)]="address.street" name="street{{i}}" required #street="ngModel">
                                <mat-error *ngIf="street.invalid && (street.dirty || street.touched)" i18n>
                                    Please, specify the address.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Address 2</mat-label>
                                <input matInput [(ngModel)]="address.street2" name="street2{{i}}" #street2="ngModel">
                                <mat-error *ngIf="street2.invalid && (street2.dirty || street2.touched)" i18n>
                                    Please, specify the address 2.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayout.gt-lg="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Zip</mat-label>
                                <input matInput [(ngModel)]="address.postalCode" name="postalCode{{i}}" required
                                       #postalCode="ngModel">
                                <mat-error *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" i18n>
                                    Please, specify the zip code.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>City</mat-label>
                                <input matInput [(ngModel)]="address.city" name="city{{i}}" required #city="ngModel">
                                <mat-error *ngIf="city.invalid && (city.dirty || city.touched)" i18n>
                                    Please, specify the city.
                                </mat-error>
                            </mat-form-field>
                            <sf-country-autocomplete fxFlex [value]="address.country"
                                                     (valueChanged)="address.country = $event"
                                                     appearance="outline"></sf-country-autocomplete>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Company</mat-label>
                                <input matInput [(ngModel)]="address.company" name="company{{i}}" required
                                       #company="ngModel" autocomplete="off">
                                <mat-error *ngIf="company.invalid && (company.dirty || company.touched)" i18n>
                                    Please, specify the company.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Phone</mat-label>
                                <input type="tel" matInput [(ngModel)]="address.phone" name="phone{{i}}" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Mobile phone</mat-label>
                                <input type="tel" matInput [(ngModel)]="address.mobilePhone" name="mobilePhone{{i}}" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Email</mat-label>
                                <input matInput [(ngModel)]="address.email" name="email{{i}}" type="email" email
                                       #email="ngModel" autocomplete="off">
                                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" i18n>
                                    Email is not valid.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex color="accent">
                                <mat-label i18n>Additional Details</mat-label>
                                <input matInput [(ngModel)]="address.other" name="additionalDetails{{i}}" #details="ngModel" autocomplete="off">
                                <mat-error *ngIf="details.invalid && (details.dirty || details.touched)" i18n>
                                    Please, specify the additional details.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>


        </div>
        <div class="buttons">
            <button mat-button color="accent" i18n (click)="cancel()">Cancel</button>
            <button mat-raised-button color="accent" i18n (click)="save(form.valid)">
                SAVE
            </button>
        </div>
    </form>
</div>