<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <md-card>
        <div class="row">
          <div class="col-xs-6">
            <div class="half-box">
              <span i18n>Bienvenue</span>,
              <ng-container i18n>Voici vos meilleures produits et vos statistiques sur les 30 derniers jours.</ng-container>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="half-box">
              <ul>
                <li *ngFor="let bestSeller of bestSellers">
                  <img [src]="bestSeller.logo"  [alt]="bestSeller.name" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>
