<div fxLayout="row" fxLayoutAlign="end center" class="action-buttons">
    <button mat-button color="accent" i18n (click)="applyStatusAction(actions.accept)"
            *ngIf="order.status === statuses.waiting_store_acceptance">
        Accept
    </button>

    <button mat-button color="accent" i18n (click)="applyStatusAction(actions.refuse)"
            *ngIf="order.status === statuses.waiting_store_acceptance">
        Refuse
    </button>

    <button mat-button color="accent" i18n (click)="shipOrder()"
            *ngIf="order.status === statuses.waiting_shipment">
        Ship
    </button>

    <button mat-button color="accent" i18n (click)="cancelOrder()"
            *ngIf="!supportsRefund && (order.status === statuses.shipped || order.status === statuses.waiting_shipment)">
        Cancel
    </button>

    <button mat-button color="accent" i18n (click)="openRefundDialog()" *ngIf="supportsRefund">
        Refund
    </button>

    <button mat-button color="accent" i18n (click)="applyStatusAction(actions.acknowledge)"
            *ngIf="acknowledgment === acknowledgments.unacknowledged">
        Acknowledge
    </button>

    <button mat-button color="accent" i18n (click)="applyStatusAction(actions.unacknowledge)"
            *ngIf="acknowledgment === acknowledgments.acknowledged">
        Unacknowledge
    </button>

    <a mat-icon-button sflLegacyLink path="/marketplaces/invoice/{{order.id}}" matTooltip="Export" i18n-matTooltip
       matTooltipPosition="above" target="_blank">
        <mat-icon>local_printshop</mat-icon>
    </a>
</div>