@import '../../../../sass/mixins/order-actions-bar';

@include order-actions-bar();

$side-padding: 25px;

table {
  min-width: 100%;
  table-layout: auto;

  &.order-items {
    th, td {
      padding: 0 $side-padding;
    }
  }

  &.totals {
    margin-top: 10px;
    td {
      padding: 10px $side-padding;
    }
  }

  th, td {
    &:last-child {
      // set the Price column width to the minimum available,
      // to have the proper align with totals values
      width: 1px;
    }
  }
}

img.product-visual {
  max-width: 100%;
  max-height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-sku {
  color: mat-color($grey);
  cursor: pointer;
  vertical-align: text-bottom;
}

.items-table {
  max-width: 100%;
  overflow: auto;
  margin: 0 2px;
}

.sku {
  white-space: nowrap;
}