<div class="items-table">
    <table mat-table [dataSource]="tableData">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n>SKU</ng-container>
            </th>
            <td mat-cell *matCellDef="let row">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
                    <div fxFlex>
                        {{row.sku}}
                        <mat-icon (click)="updateItemReference(row)" class="edit-sku" *ngIf="mode === 'normal'"
                                  matTooltip="Edit SKU" i18n-matTooltip matTooltipPosition="above">edit
                        </mat-icon>
                    </div>

                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n>Visual</ng-container>
            </th>
            <td mat-cell *matCellDef="let row">
                <img [src]="row.image" [alt]="row.name" *ngIf="row.image" class="product-visual">
            <td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n>Name</ng-container>
            </th>
            <td mat-cell *matCellDef="let row">{{row.name}}
            <td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n>Quantity</ng-container>
            </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="mode === 'normal'">{{row.quantity}}</ng-container>
                <mat-select *ngIf="mode === 'refund'" [(ngModel)]="selectedQuantity[row.reference]" placeholder="">
                    <mat-option [value]="i" *ngFor="let i of (row.quantity | arrayFromNumber)">{{i}}</mat-option>
                </mat-select>
            <td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n>Price</ng-container>
            </th>
            <td mat-cell *matCellDef="let row">
                {{row.price | sfCurrency:order.payment.currency}}
            <td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">{{row.name}}</tr>

    </table>
</div>

<div fxLayout="row" fxLayoutAlign="stretch center" class="totals" fxLayoutGap="20px">
    <div *ngIf="mode === 'refund'">
        <mat-checkbox (change)="$event ? refundShipping = !refundShipping : null"
                      [checked]="refundShipping"></mat-checkbox>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="flex-start stretch" fxFlex="100%">
        <div fxLayout="row" fxLayoutGap="20px">
            <div i18n fxFlex>Total products</div>
            <div>{{order.payment.productAmount | sfCurrency:order.payment.currency}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div i18n fxFlex>Total delivery</div>
            <div>{{order.payment.shippingAmount | sfCurrency:order.payment.currency}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div class="mat-body-2" i18n fxFlex>Total price</div>
            <div class="mat-body-2">{{order.payment.productAmount + order.payment.shippingAmount |
                sfCurrency:order.payment.currency}}
            </div>
        </div>
    </div>
</div>

