<app-menu></app-menu>

<div class="page">
  <div class="card">
    <div class="logo">
      <img src="assets/path/initial-path/create-password/ballon.png" alt="Shopping Feed" />
    </div>
    <div class="cloud">
      <img src="assets/path/initial-path/create-password/cloud.png" alt="I'm a cloud" />
    </div>

    <h1 class="title element">
      Shopping Feed account
    </h1>

    <form (submit)="createPassword()">
      <div class="element">
        <label class="form-label" for="create-password-email">
          E-mail address
        </label>
        <input id="create-password-email"  class="form-input" name="create-password[email]" type="email" [(ngmodel)]="email" required>
        <div class="form-error">Ce champ n'est pas valide</div>
      </div>

      <div class="element">
        <label class="form-label" for="create-password-password">
          Create password
        </label>
        <input id="create-password-password" class="form-input" name="create-password[password]" type="password" [(ngmodel)]="password" required />
        <div class="form-error">Ce champ n'est pas valide</div>
      </div>
      <input type="submit" class="btn btn-success btn-create-password" value="OK" />
    </form>
  </div>
</div>