$sf-primary: #098FD0;

$sf-light-primary-menu: #D5EEF7;

$sf-light-secondary: #BCDBE7;

$sf-border-dropdown: #D4EFF9;

$sf-link-dropdown: #473A7A;

$sf-success: #7BC270;

$sf-alert: #DB3232;

$sf-light-text: #7D7D7D;

$sf-border-input: #C7C7C7;

$sf-background: #F7F7F7;

$sf-background-dropdown: #FAFAFA;

$sf-border-line: #DADADA;

$sf-hover-dropdown: #EEEEEE;

$sf-dark-text: #333333;

$sf-light: #FFF;

$sf-dark: #000;

$sf-success-pellet: #BCDBE7;

$sf-warning-pellet: #F9BB98;

$sf-alert-pellet: #EF9090;

$sf-tab-hover: #EAF2F5;

$sf-border-pellet: #E1E5EA;

$sf-border-pellet-check: #9BD6F3;