.card {
  position: relative;
  margin-bottom: 24px;
  padding: 20px 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  .half-box {
    display: inline-block;
    width: 49%;
    color: #333;
    font: {
      family: "Nunito";
      size: 16px;
    }
    span {
      display: block;
      margin-bottom: 5px;
    }
    ul {
      li {
        display: inline-block;
        width: 18%;
        padding: 0 1%;
        img {
          width: 100%;
        }
      }
    }
  }
}
