@import "../../components/core/_color.scss";

.box-order-fictive {
  padding: 3rem 0;
  font-size: 1.4rem;

  .badge:empty {
    display: inherit;
  }

  .badge-perso {
    text-align: center;

    .badge-lg {
      padding: .5rem;
    }

    .badge-txt {
      font-family: "Nunito";
      font-weight: normal;
      background-color: #C7C7C7;
    }

    .badge-check {
      padding: .4rem;
    }

    .badge {
      display: inline-block;
      width: 2.6rem;
    }

    .separateur {
      display: inline-block;
      position: relative;
      width: 20rem;
      height: .2rem;
      margin: 0 1rem;
      background-color: $sf-success-pellet;
      vertical-align: middle;
    }

    .mdi-navigation-check {
      padding: .1rem 0 .6rem;
    }

    .glyphicon-triangle-right {
      &:before {
        position: absolute;
        top: -6px;
        right: -5px;
        color: $sf-success-pellet;
      }
    }

    .txt-badge {
      display: inline-block;
      font-family: "HelveticaNeue";
      vertical-align: baseline;
    }
  }
  .box-body {
    padding: 4rem 0 0;
    text-align: center;

    .md-check {
      font-family: "HelveticaNeue";
      font-size: 1.3rem;
      color: $sf-dark-text;

      > i {
        &::before {
          border-color: $sf-border-input;
        }
      }
    }
  }

  .box-footer {
    padding: 2rem 0 0;
  }
}
.export, .fictive, .gestion {
  .btn-expand {
    padding: 1rem 2rem;
    font-family: "Nunito";
    font-size: 1.4rem;
    transition: all .2s linear;
    text-transform: uppercase;
    border-radius: 0;
    margin-right: 2rem;
    box-shadow: none;

    &:hover {
      transition: all .2s linear;
    }
  }

  .btn-cancel {
    color: $sf-light-text !important;

    &:hover {
      background-color: $sf-hover-dropdown !important;
    }
  }

  .btn-confirm {
    color: $sf-link-dropdown !important;

    &:hover {
      background-color: #D4CEEB !important;
    }
  }
}
