@import "../../components/core/_color.scss";

.box-gestion {
  .row {
    background-color: inherit !important;
  }

  .box-email {
    font-family: "HelveticaNeue";
    font-size: 1.3rem;
    text-align: inherit;
  }

  .md-check {
    display: block;
    padding-top: 2rem;
    font-family: "HelveticaNeue";
    font-size: 1.3rem;
    color: $sf-dark-text;

    > i:before {
      border-color: $sf-border-input;
    }
  }
  .txt-input {
    font-family: "HelveticaNeue";
    font-size: 10px;
    color: $sf-dark-text;
  }

  .order-import {
    margin: 3rem 0;

    .sub-header {
      border-top: 1px solid $sf-border-line;
    }
  }
}
