@import "../../components/core/_color.scss";
@import "../../components/core/_class.scss";

.box-menu {
  min-height: inherit;
  font-family: "Nunito";

  .nav {
    height: 6rem;

    > li {
      height: inherit;
      clear: initial;

      > a {
        font-family: "Nunito";
        font-size: 1.4rem;
        margin-top: 0;
        line-height: 6rem;
      }

      &:after {
        bottom: 1px;
      }
    }
  }
}

.orders, .orders-invoice {
  background-color: $sf-background;

  .search-contain {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "HelveticaNeue";
    font-size: 1.4rem;
    color: $sf-light-text;

    .search {
      width: 90%;
      border: 1px solid $sf-primary;
      padding: 1rem .5rem;
      border-radius: 0;
      margin: 0;
      vertical-align: 10%;
      box-sizing: border-box;
    }

    button {
      width: 10%;
      height: 4.2rem;
      background-color: $sf-primary;
      padding: .8rem 0 .8rem;
      border: none;
      margin: 0 0 0 -.4rem;
      box-sizing: border-box;
      border-radius: 0;
      vertical-align: bottom;

      span {
        font-size: 2rem;
        vertical-align: middle;
      }
    }
    .filter {
      font-family: "Nunito-Bold";
      font-size: 1.2rem;
      width: 94.6%;
      background-color: $sf-primary;
      text-align: center;
      clear: both;
      margin: .5rem auto 0;

      a {
        display: block;
        width: 100%;
        color: $sf-light;
        text-decoration: none;
        &:after {
          content: '';
          display: inline-block;
          width: 1rem;
          height: .6rem;
          background: url("../../../../../front/plateforme/static/img/fleche_recherche.png") no-repeat;
          margin: 0 0 0 .5rem;
          vertical-align: middle;
          transition: tranform 0.3s linear;
        }
      }

      a.arrow {
        &:after {
          content: '';
          transform: rotate(180deg);
          transition: tranform 0.3s linear;
        }
      }

      .hide-filter {
        visibility: hidden;
        padding: 0;
        height: 0;
      }

      .show-filter {
        background-color: $sf-light;
        border: 1px solid $sf-primary;
        overflow: hidden;
        padding: 2rem 1rem;
        visibility: visible;
        height: inherit;

        .input-contain {
          text-align: left;
          float: left;
          margin: 0 1.5rem;
          width: 35%;

          &:nth-child(2) {
            width: 58%;
            margin: 0;
          }

          .input-block {
            display: inline-block;
            margin: 0 1rem 0 0;

            &:nth-child(3) {
              margin: 0;
            }
          }
          label {
            font-family: "HelveticaNeue";
            font-size: 1.4rem;
            color: $sf-dark-text;
            cursor: pointer;

            input {
              display: inline-block;
              margin: 0 .5rem 0 0;
              vertical-align: sub;
            }
          }
        }
      }
    }
  }

  .open > .dropdown-toggle.btn-default {
    background-color: $sf-primary;
  }

  .dropdown {
    width: 100%;
    margin: .5rem 0 0 .2rem;

    > button {
      width: 100%;
      border-radius: .3rem;
    }
  }
  .open > .dropdown-menu {
    display: inline-block;
    margin: 0 0 0 .2rem;
    padding: 2rem 3rem;
  }

  .dropdown-menu li {
    display: inline-block;

    label {
      display: inline-block;
      width: 100%;
      padding: 1rem 0;
      transition: background-color .2s linear;
      &:hover {
        background-color: $sf-hover-dropdown;
        transition: background-color .2s linear;
      }

      input {
        display: inline-block;
        vertical-align: sub;
      }
    }
  }
  .dropdown-menu {
    min-width: 18rem;
    padding: 2rem 0;

    > li > a {
      line-height: 3rem;
      padding: 0 1rem;
      color: initial;
      transition: background-color .2s linear;

      &:hover {
        background-color: $sf-hover-dropdown;
        transition: background-color .2s linear;
      }
    }
  }
  .filter {
    border: 1px solid $sf-primary;
    margin: .5rem 0 0 0;
    padding: 2rem 2rem;
    text-align: center;

    .date-filter, .platform-filter, .transport-filter {
      font-family: "HelveticaNeue";

      .open > .dropdown-menu {
        min-width: 18rem;
        padding: 2rem 0;

        li {
          width: 100%;
          padding: 0;

          a {
            display: block;
            height: 3rem;
          }
        }
      }
    }
    .header-filter {
      font-size: 1.4rem;
      font-weight: 600;
      color: $sf-primary;

    }
    .body-filter {
      font-size: 1.3rem;

      .btn-filter {
        min-width: 20rem;
        text-align: left;
        transition: all .2s linear;

        button {
          width: 100%;
          padding: 2rem 0 .5rem;
          color: $sf-dark-text;
          border-bottom: 1px solid $sf-border-dropdown;
          text-align: left;
          box-shadow: none;
        }

        i {
          position: absolute;
          top: 50%;
          right: 1rem;
          font-size: 2.4rem;
          color: $sf-primary;
          transition: transform .2s linear;
        }

        .dropdown-menu.pull-up {
          top: 5rem;
        }
      }
      .open {
        height: 22rem;
        transition: all .2s linear;

        > button > i {
          transform: rotate(180deg);
          transition: transform .2s linear;
        }
      }
    }
  }
  .card {
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.26);

    .box-tab {
      margin-top: 3rem;
      overflow: hidden;

      .nav-tabs.nav-justified > .active {
        > a {
          border-color: transparent;
        }
      }

      .nav-tabs > li {
        &:hover {
          > a {
            border-color: transparent;
            background-color: inherit;
          }
        }

        > a {
          height: 100%;
          line-height: 4rem;
          padding: 0;
          border-bottom-color: transparent;
        }
      }
      .tab {
        height: 4rem;
        margin: 0;
        font-size: 1.4rem;
        color: $sf-dark-text;
        background-color: $sf-border-dropdown;
        text-align: center;
        vertical-align: middle;
        transition: background-color .2s linear;
        &:after {
          content: '';
          overflow: hidden;
          clear: both;
        }

        a:first-letter {
          text-transform: capitalize;
        }

        .mdi-action-report-problem {
          &:before {
            color: $sf-alert;
            display: inline-block;
          }
        }
      }

      .active {
        background-color: $sf-light;
        transition: background-color .2s linear;
      }
    }
    .box-tab-orders {
      padding: 2rem 1rem;
      margin-bottom: 2rem;

      .btn-tab {
        display: inline-block;
        margin-top: .5rem;

        .caret {
          font-size: 2.4rem;
        }

        .btn-filter {
          font-family: 'Nunito';
          font-size: 1.2rem;
          padding: 1rem 2rem;
          border: 1px solid $sf-link-dropdown;
          color: $sf-link-dropdown;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
          text-transform: uppercase;
        }

        .dropdown-menu.pull-up {
          top: 4rem;
          padding: 2rem 0;
          background-color: $sf-background-dropdown;
          font-family: "HelveticaNeue";
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);

          li {
            display: block;

            .checkbox-tab {
              color: $sf-light;
              background-color: $sf-link-dropdown;
            }

            span {
              display: inline-block;
            }
          }
        }
        .btn-tab-filter {
          min-width: 19rem;
          margin: 0;

          .checkbox-tab {
            margin-left: 1rem;
          }

          i {
            margin-left: 1rem;
            background-color: $sf-link-dropdown;
            &:before {
              border-color: $sf-border-input;
            }
          }
        }
      }
      .btn-tab.force-import {
        color: $sf-light;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);

        .btn {
          font-family: 'Nunito';
          font-size: 1.2rem;
          padding: 1rem 2rem;
          border: 1px solid $sf-link-dropdown;
          background-color: $sf-link-dropdown;
          text-transform: uppercase;
          transition: color .2s linear;

          &:hover, &:active, &:focus {
            color: $sf-light;
            transition: color .2s linear;
          }
        }
      }
      .header-tab {
        height: 4rem;
        line-height: 4rem;
        margin-top: 2rem;
        padding: 0 1.5rem;
        font-family: "Nunito";
        font-size: 1.3rem;
        overflow: hidden;
        clear: both;

        .checkbox-tab {
          color: $sf-light;
          background-color: $sf-primary;

          i {
            color: $sf-primary;
            &:after {
              border-bottom: 0;
              transform: rotate(90deg);
            }
          }
        }
        .md-check {
          > i:before {
            border-color: transparent;
            background-color: $sf-light;
          }
        }
      }
      .body-tab {
        padding: 0 1.5rem;

        .row {
          background-color: inherit !important;
        }

        .line-tab {
          height: 7rem;
          padding-top: 25px;
          font-family: "HelveticaNeue";
          font-size: 1.3rem;
          border-bottom: 1px solid $sf-border-line;
          overflow: hidden;
          transition: background-color .2s linear;

          &:hover {
            cursor: pointer;
            background-color: $sf-tab-hover;
            transition: background-color .2s linear;
          }

          .md-check {
            vertical-align: middle;

            > i:before {
              border-color: $sf-border-input;
            }
          }

          .mdi-action-report-problem {
            &:before {
              color: $sf-alert;
            }
          }

          .flag-icon {
            color: $sf-primary;
            font-size: 1.6rem;
          }

          .id {
            display: inline-block;
            padding-left: 0;
            font-size: inherit;
            vertical-align: middle;
          }

          .alert-icon {
            color: $sf-alert;
            font-size: 1.6rem;
          }

          .eye-icon {
            color: $sf-primary;
          }

          .marketplace {
            width: 100%;
            max-width: 10rem;
            margin-top: -10px;
          }

          .mdi-image-remove-red-eye {
            &:before {
              font-size: 2rem;
              padding-left: 1.5rem;
            }
          }

          i {
            vertical-align: middle;
          }

          a {
            display: block;
          }

          b {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.orders-invoice .txt-alert {
  font-family: "Nunito";
  color: $sf-alert;
  background-color: $sf-light;
  font-size: 1.4rem;
  border: 1px solid $sf-alert;
  padding: 2rem;
  margin: 0 0 2rem 0;

  > i {
    font-size: 2rem;
  }

  .btn-return, .btn-return-bottom {
    float: right;
    transition: color .2s linear;

    &:hover {
      color: $sf-success !important;
      transition: color .2s linear;
    }
  }

  .btn-return-bottom {
    margin: 2rem 0 4rem 0;
  }

  .btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: 1px solid $sf-success;
    background-color: $sf-success;
    transition: all .2s linear;

    &:hover {
      background-color: $sf-light;
      transition: all .2s linear;
    }
  }

  .card {
    margin-top: 2rem;
    font-family: "HelveticaNeue";
    font-size: 1.3rem;
    color: #222222;

    .header-invoice {
      .box-marketplace {
        display: inline-block;

        .marketplace {
          width: 15rem;
        }
      }

      .id-order, .status-order {
        color: $sf-light-text;
        padding: 1rem 0 0 0;
        font-family: "Nunito";
        font-size: 1.8rem;
      }

      .body-tab .line-tab {
        &:hover {
          cursor: inherit;
          background-color: inherit;
        }
      }
    }
    .footer-invoice {
      padding: 2rem;
      overflow: hidden;
      clear: both;

      .product, .delivery, .price {
        padding: 1rem 0;
      }
    }
  }
  .box-form {
    padding: 4rem 4rem 3rem;
    background-color: $sf-light;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);

    .header-form {
      font-family: "Nunito";
      font-size: 1.8rem;
    }

    .body-form {
      padding: 3rem 0 4rem 0;

      .box-input {
        position: relative;

        .md-input {
          font-family: "HelveticaNeue";
          font-size: 1.4rem;
          color: $sf-dark-text;
          margin: 1rem 0;
          transition: border-color 0.2s linear;

          &:focus {
            transition: border-color 0.2s linear;
            border-color: $sf-primary;
          }
        }

        .glyphicon-pencil {
          opacity: 0;
          position: absolute;
          top: 20px;
          right: 10px;
          transition: opacity .2s linear;
        }

        &:hover {

          .glyphicon-pencil {
            opacity: 1;
            transition: opacity .2s linear;
          }
        }

        .name {
          font-family: "HelveticaNeue";
          font-weight: 600;
        }
      }
    }
    .footer-form {
      overflow: hidden;
    }
  }

  .btn-expand {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: bold;

    &:hover {
      transition: all .2s linear;
    }
  }

  .btn-cancel {
    color: $sf-light-text !important;

    &:hover {
      background-color: $sf-hover-dropdown !important;
    }
  }

  .btn-confirm {
    color: $sf-link-dropdown !important;

    &:hover {
      background-color: #D4CEEB !important;
    }
  }

  .btn-group-invoices {
    display: inline-block;

    &:nth-child(1) {
      margin: 0 2rem 0 0;
    }

    .btn {
      border-color: $sf-link-dropdown;
      color: $sf-link-dropdown;
      background-color: $sf-light;

      .caret {
        font-size: 2.4rem;
      }
    }

    .dropdown-menu.pull-up {
      min-width: 20rem;
      top: 3rem;
      padding: 2rem 1rem;

      li {
        height: 3rem;

        > label {
          width: 100%;
        }
      }
    }
  }

  .box-history-order {
    max-width: 75rem;
    margin: 0 auto;

    .history-order {
      border-bottom: 1px solid $sf-success-pellet;

      .header-history-order {
        height: 4rem;
        padding: 1rem 4rem 0;
        font-family: "Nunito";
        font-size: 1.8rem;
      }

      .sub-header-history-order {
        color: $sf-primary;
        padding: 2rem 4rem 0 4rem;
        font-family: "Nunito";
        font-size: 1.8rem;
      }

      .body-history-order {
        padding: 3rem 0 0;
        color: $sf-dark-text;
        font-size: 1.4rem;

        .pellet {
          position: relative;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: $sf-success-pellet;
          margin: 2.5rem auto;
        }

        .wire {
          position: absolute;
          top: 4.5rem;
          left: 49.5%;
          width: .3rem;
          height: 6.5rem;
          background-color: $sf-border-dropdown;
        }

        p {
          line-height: 7rem;
        }

        .row {
          &:nth-last-child(1) {
            .wire {
              display: none;
            }
          }
        }

        .info-order, .info-schedule {
          line-height: 6rem;
        }
      }
    }
  }
}

@import "_export.scss";
@import "_fictive.scss";
@import "_management.scss";
