<div class="container">
  <div class="card">
    <div class="box-search">
      <button class="icon mdi-action-search"
              (click)="addSearchTab(newSearchTab.value)"></button>

      <input #newSearchTab
             type="text"
             placeholder="Rechercher une plateforme"
             (keyup.enter)="addSearchTab(newSearchTab.value); newSearchTab.value='' ">

      <button class="icon mdi-action-view-list"></button>

      <ul>
        <li *ngFor="let a of searchTabs">
          <div>{{ a }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
