<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="box-search">
          <div class="row">
            <div class="col-xs-1">
              <button class="icon mdi-action-search"
                      (click)="addSearchTab(newSearchTab.value)"></button>
            </div>
            <div class="col-xs-10">
              <input #newSearchTab
                     type="text"
                     placeholder="Rechercher une plateforme"
                     (keyup.enter)="addSearchTab(newSearchTab.value); newSearchTab.value='' ">
            </div>

            <div class="col-xs-1">
              <button class="icon mdi-action-view-list pull-right" data-toggle="modal" data-target="#List"></button>
            </div>
          </div>

          <ul>
            <li *ngFor="let a of searchTabs">
              <div>{{ a }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<app-home-page-modal-search></app-home-page-modal-search>

