<div class="background">
  <div class="card">
    <div class="card-body">
      <h4 class="title">{{daysLeft}} days left in your trial</h4>

      <div class="channel-price">
        <img [src]="channelImage" [alt]="channel" class="channel-logo"/>
        <div class="channel-text">
          Only <span class="price">{{price}}</span>
        </div>
      </div>

      <div class="content">
        Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius supplicio omni
        vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi;  haud scio an aliquando futurum sit.
      </div>

      <a href="#" class="btn btn-success btn-accept">I accept</a>
    </div>
    <div class="card-footer">
      <div class="element">
        <div class="element-text">
          <i class="element-icon mdi-editor-insert-emoticon"></i>
          Simplicité
        </div>
      </div>
      <div class="element">
        <div class="element-text">
          <i class="element-icon mdi-action-alarm"></i>
          Rapidité
        </div>
      </div>
      <div class="element">
        <div class="element-text">
          <i class="element-icon mdi-action-settings"></i>
          Efficacité
        </div>
      </div>
    </div>
  </div>
</div>
