<div class="background">
  <div class="card">
    <div class="card-body">
      <h4 class="title">{{daysLeft}} days left in your trial</h4>

      <div class="channel-price">
        <img [src]="channelImage" [alt]="channel" class="channel-logo"/>
        <div class="channel-text">
          <span i18n>+ 2 premium channels for</span> <span class="price">${{price}}</span> / <span i18n>month</span>
        </div>
      </div>

      <div class="content" i18n>
          When you accept, you will be redirected to your Shopify Store to confirm the trial and recurring charge.
          Don't stop with just your first channel: each channel brings in on average $900/month of new orders
      </div>

      <a href="#" class="btn btn-success btn-accept">I accept</a>
    </div>
    <div class="card-footer">
      <div class="element">
        <div class="element-text">
          <i class="element-icon mdi-editor-insert-emoticon"></i>
          <span i18n>Easy setup</span>
        </div>
      </div>
      <div class="element">
        <div class="element-text">
          <i class="element-icon mdi-action-alarm"></i>
          <span i18n>Fast support</span>
        </div>
      </div>
      <div class="element">
        <div class="element-text">
          <i class="element-icon mdi-action-settings"></i>
          <span i18n>Powerful tools</span>
        </div>
      </div>
    </div>
  </div>
</div>
