@import '../../../../src/sass/variables';
@import '../../../../src/sass/mixins/scrollable-table.mixin';

$page-header-height: 56px;
$search-field-height: 89px;
$filters-height: 50px;

@include scrollableTable(calc(#{$page-header-height} + #{$search-field-height}), $filters-height);

td:last-child {
  width: 60px;
}

.no-results {
  background-color: white;
  padding: 5px 10px;
}

sft-solo-search {
  display: block;
  margin-bottom: 20px;
}

[mat-row] {
  cursor: pointer;
}

mat-chip-list {
  display: block;
  margin-bottom: 10px;

  mat-chip {
    mat-icon {
      cursor: pointer;
      color: mat-color($grey);
    }
    mat-icon, span {
      vertical-align: middle;
    }
  }
}

.custom-feeds {
  margin-bottom: 24px;
}
