@import '../../../../src/sass/variables';

mat-sidenav {
  position: sticky;
  bottom: 0;
  left: 0;
  text-align: center;
  top: 0;

  @media #{$xs} {
    position: fixed;
    padding-top: 10px;
  }
}

mat-sidenav-container {
  float: left;
  min-height: 100%;
  max-width: 100%;
  transform: none;
  height: auto;
  margin: 0;
}
