<div matDialogTitle i18n>Billing Group</div>

<mat-dialog-content>
    <sfa-error-message *ngIf="serverError">{{serverError}}</sfa-error-message>
    <form fxLayout="column">
        <mat-form-field appearance="outline" color="accent">
            <input matInput placeholder="Name" i18n-placeholder name="groupName" [(ngModel)]="group.name" required>
            <mat-error>The group name is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" *ngFor="let store of group.stores; let i = index">
            <input matInput placeholder="Name" i18n-placeholder name="store[{{store.id}}]" readonly [value]="store.name">
            <button mat-button mat-icon-button matSuffix (click)="remove(i)">
                <mat-icon class="mat-18">remove</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <input matInput [formControl]="searchControl" sfaSearchBillingStore [searchControl]="searchControl"
                   (searchResults)="storeSearchResults = $event" [matAutocomplete]="auto" (blur)="searchControl.reset()"
                   placeholder="New store" autocomplete="off">
            <mat-autocomplete #auto="matAutocomplete"
                              (optionSelected)="addStore($event.option.value); searchControl.reset()">
                <mat-option *ngFor="let option of storeSearchResults" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose i18n color="accent">Cancel</button>
    <button mat-button i18n color="accent" (click)="save()">
        <mat-spinner [diameter]="20" mode="indeterminate" *ngIf="processing" color="accent"></mat-spinner>
        <ng-container *ngIf="!processing" i18n>Save</ng-container>
    </button>

</mat-dialog-actions>