<mat-dialog-content>
  <img src="{{baseHref}}/assets/images/ballon.png" alt="Shopping Feed" class="logo">
  <div class="dialog-heading">
    <div i18n class="mat-display-1" i18n>Welcome to Shopping Feed!</div>
    <div i18n class="mat-display-1" i18n>Great to see you here</div>
  </div>

  <div class="mat-subheading-2 " i18n>
    For starting your trial select a channel or if you need more help, click on «Schedule a call». Our team will contact you.
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <a mat-button color="accent" i18n (click)="showChannels()">SELECT A CHANNEL</a>
  <button mat-raised-button color="accent" i18n (click)="scheduleACall()">SCHEDULE A CALL</button>
</mat-dialog-actions>