<md-dialog-content>
  <img src="/assets/images/ballon.png" alt="Shopping Feed" class="logo">
  <div class="dialog-heading">
    <div i18n class="mat-display-1">Welcome to Shopping Feed!</div>
    <div i18n class="mat-display-1">Great to see you here</div>
  </div>

  <div class="mat-subheading-2 ">
    For starting your trial select a channel or if you need more help, click on «Schedule a call». Our team will contact you.
  </div>
</md-dialog-content>
<md-dialog-actions>
  <a md-button color="accent" i18n (click)="showChannels()">SELECT A CHANNEL</a>
  <button md-raised-button color="accent" i18n (click)="scheduleACall()">SCHEDULE A CALL</button>
</md-dialog-actions>