@import '../../../../../src/sass/variables';

.sf-nav-welcome-text {
  margin-left: 29px;
  margin-right: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

sf-search-store {
  flex: 1;
}


@media #{$gt-sm} {
  .sf-nav-welcome-text {
    min-width: 230px; //calculated number to have the help center search bar in the center of the window SFBUG-2159
  }

  sf-search-store {
    margin: 0 302px //calculated number to have the help center search bar in the center of the window SFBUG-2159
    0 10px;
    flex: 1;
  }
}

@media #{$sm} {
  .sf-nav-welcome-text {
    min-width: 80px; //calculated number to have the help center search bar in the center of the window SFBUG-2159
  }

  sf-search-store {
    margin: 0 142px //calculated number to have the help center search bar in the center of the window SFBUG-2159
    0 10px;
    flex: 1;
  }
}

@media #{$xs} {
  mat-icon.sf-nav-icon {
    margin-left: 20px;
  }
}