<sfl-menu-container backgroundColor="#212121">
    <div class="sf-nav-welcome-text mat-title" i18n routerLink="/" fxShow [fxHide.xs]="searchFocused">Admin</div>

    <sfa-search-store class="sf-fill-space" (focus)="searchFocused = true"
                     (blur)="searchFocused = false"></sfa-search-store>
    <mat-icon class="sf-nav-icon" [matMenuTriggerFor]="accountMenu">person_outline</mat-icon>
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false">
        <a mat-menu-item i18n (click)="logout()">Logout</a>
    </mat-menu>
</sfl-menu-container>