<div class="sf-gap-compensate-child" *ngIf="errorType">
    <div class="sf-warn-alert">
        <mat-icon color="warn">error</mat-icon>
        <span *ngIf="errorType === errorTypes.ship" i18n class="mat-body-1">
            We were unable to ship your order {{order.reference}}.
            <ng-container *ngIf="errorMessage">Reason: {{errorMessage}}</ng-container>
        </span>
        <span *ngIf="errorType === errorTypes.acknowledge" i18n class="mat-body-1">
            We were unable to import your order {{order.reference}}.
            <ng-container *ngIf="errorMessage">Reason: {{errorMessage}}</ng-container>
        </span>
    </div>
</div>
