<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="25" fxFlexAlign="baseline">
        <div class="statistics-welcome" i18n>Welcome,</div>
        <div class="mat-caption" i18n>Here's what's happening on your store this month</div>
    </div>
    <div fxFlex="25" class="statistics-item"  fxFlexAlign="baseline">
        <div class="mat-caption" i18n>Turnover</div>
        <div class="mat-display-2 statistics-value"> {{ statistics.revenue  | sfCurrency:statistics.symbol }}</div>
    </div>
    <div fxFlex="25" class="statistics-item" fxFlexAlign="baseline">
        <div class="mat-caption" i18n>Orders</div>
        <div class="mat-display-2 statistics-value">{{ statistics.orders | largeNumberSuffix }}</div>
    </div>
    <div fxFlex="25" class="statistics-item" fxFlexAlign="baseline">
        <div class="mat-caption" i18n>Clicks</div>
        <div class="mat-display-2 statistics-value"> {{ statistics.clicks | largeNumberSuffix}}</div>
    </div>
</div>
<div fxLayout="row" fxLayoutGap="2%" fxLayoutWrap="wrap">
    <div fxFlex.md="23" fxFlex.sm="31.33" fxFlex.lg="23" fxFlex.xl="14.66" *ngFor="let channel of channels">
    <md-card class="channel-card">
        <md-card-content>
           <div class="channel-logo"> <img [src]="appUrl + '/images' + channel.image" [alt]="channel.name"></div>
            <div class="channel-info-line channel-revenue">
                <md-icon>monetization_on</md-icon>
                <span>{{channel.statistics.revenue | sfNumber:'1.0-2' | sfCurrency:channel.statistics.symbol}}</span>
            </div>
            <div class="channel-info-line channel-checked">
                <md-icon>check_circle</md-icon>
                <span>{{channel.statistics.selected | sfNumber:'1.0'}} checked</span>
            </div>
            <div class="channel-info-line channel-issues">
                <md-icon>error</md-icon>
                <span>{{channel.statistics.selected - channel.statistics.exported | sfNumber:'1.0'}} issues</span>
            </div>
            <div class="channel-info-line">
                <md-icon>open_in_new</md-icon>
                <span><a href="{{appUrl}}/tools/relaunch" target="_blank">Quickfix</a></span>
            </div>
        </md-card-content>
    </md-card>
    </div>
</div>