ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: top;

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.cards {
  display: block;
  width: 100%;
}

md-card {
  min-width: 300px;
  height: 140px;
  margin: 0 auto 20px auto;
  padding: 10px 0 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);

  .header-card {
    text-align: center;
    img {
      width: 100%;
      max-width: 100px;
    }
  }

  .body-card {
    font-size: 20px;
    color: #098FD0;
    padding: 10px 0 10px;
    text-align: center;

    .btn-add button {
      position: absolute;
      bottom: 20px;
      left: calc(50% - 55px);
      padding: 10px 30px;
      border: none;
      border-radius: 20px;
      background-color: #7BC280;
      color: #FFF;
      font: {
        family: Nunito-Bold;
        size: 12px;
      }
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .footer-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
    clear: both;
    background-color: #F7F7F9;

    .badge {
      display: inline-block;
      padding: 2px 10px;
      border-radius: 15px;
      color: #FFF;
      

    }
  }

  .card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:hover {
      background-color: rgba(36, 36, 76, 0.65);
      opacity: 1;

      .body-card {
        display: block;
        padding: 25px 10px 0;
        font: {
          family: HelveticaNeue-Bold;
          size: 24px;
        }
      }
    }

    .body-card {
      display: none;
      color: #fff;

      a {
        display: block;
        color: #fff;
        text-decoration: underline;
        font: {
          family: HelveticaNeue-Regular;
          size: 13px;
        }

      }
    }
  }
}


.modal {
  box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19), 0 12px 15px 0 rgba(0,0,0,0.24);

  .modal-dialog {
    width: 690px;

    .modal-content {
      padding: 50px;
      border-radius: 0;

      .modal-header {
        border: none;
        padding: 0 0 50px;
      }
    }
  }



  .title {
    color: #098FD0;
    text-align: center;
    font: {
      family: Nunito-Regular;
      size: 30px;
    }
  }

  .modal-body {
    padding: 0 0 50px;
    color: #333;
    font: {
      family: HelveticaNeue-Regular;
      size: 16px;
    }
    line-height: 26px;
  }

  .modal-footer {
    border: none;
    text-align: center;

    .btn {
      border: none;
      border-radius: 25px;
      padding: 5px 50px;
    }

    .btn-success {
      font: {
        family: Nunito-Regular;
        size: 20px;
      }
      color: #fff;
      background-color: #7BC270;
      text-transform: uppercase;
    }
  }
}


