@import '../variables';

@mixin scrollableTable($top-margin, $filters-height: 0) {
  .table-container {
    max-height: calc(100vh - 2 * #{$content-margin} - #{$paginator-height} - #{$top-margin});
    overflow: auto;

    mat-icon {
      cursor: pointer;
      color: $black-54-opacity;
    }
  }

  .filters-applied {
    .table-container {
      max-height: calc(100vh - 2 * #{$content-margin} - #{$paginator-height} - #{$top-margin} - #{$filters-height});
    }
  }

  table {
    width: 100%;
  }

  mat-paginator {
    position: relative;
  }

  .page-header {
    margin-bottom: 20px;
    margin-top: $toolbar-height;
  }

  mat-progress-bar {
    position: absolute;
    z-index: 10;
  }

  .progress-bar-wrapper {
    position: relative;
    z-index: 150;
  }

  .list-title {
    margin-bottom: 0;
  }


  mat-card {
    margin: 0 0 30px 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    mat-card-content {
      flex: 1;
      margin-bottom: 0;


      .search-container {
        display: flex;
        margin: 4px 24px;
        align-items: center;
        padding: 8px 0;

        mat-icon {
          color: mat-color($grey);
        }

        input {
          margin: 0 10px;
          border: none;
          flex: 1;
          color: mat-color($grey, 600);

          &:focus {
            outline: none;
          }
        }
      }
    }

  }

  .no-results {
    background-color: white;
    padding: 5px 10px;
  }
}

sft-solo-search {
  display: block;
  margin-bottom: $content-margin;
}
