<div matDialogTitle i18n>Filters</div>
<mat-dialog-content>

    <mat-form-field color="accent" appearance="outline">
        <mat-label i18n>Channels</mat-label>
        <mat-select [(ngModel)]="filter.permission">
            <mat-option value="" i18n>All channels</mat-option>
            <mat-option [value]="channelsPermission.notEmpty" i18n>With accounts</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="accent" matDialogClose i18n>Cancel</button>
    <button mat-button color="accent" (click)="accept()" i18n class="accept">Filter</button>
</mat-dialog-actions>
