@import '../../../../sass/variables';
@import '../../../../sass/mixins/order-actions-bar.scss';

@include order-actions-bar();

$actions-left-padding: 29px;
$hover-row-bg: #EBEBEB;
$chat-height: 50px;

.actions {
  justify-content: flex-start;
  padding-left: $actions-left-padding;

  &.accent {
    background-color: mat-color($accent, 0.1);
  }
}

.table-list-layout {
  height: calc(100vh - 2 * #{$content-margin});

  ::ng-deep .sf-chat-enabled & {
    height: calc(100vh - 2 * #{$content-margin} - #{$chat-height});
  }

  align-content: start;
  overflow: hidden;
  display: grid;

  mat-card.orders {
    height: 100%;
    overflow: hidden;

    mat-card-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .table-scrollable {
        overflow-x: auto;
        overflow-y: hidden;

        .table-container {
          height: 100%;
          overflow: auto;
        }

        mat-progress-bar {
          z-index: 200;
        }
      }
    }
  }
}

mat-card {
  padding: 0;
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-tab-group {
  text-transform: uppercase;
}


.selected-orders {
  color: mat-color($accent);
}

.marketplace-logo {
  vertical-align: middle;
}

.no-orders-message {
  margin-left: 15px;
  margin-top: 30px;
  text-align: center;
}

mat-progress-bar {
  position: absolute;
  z-index: 10;
}

button:not([mat-menu-item]) {
  margin-left: 10px;
}

table {
  min-width: 100%;

  td {
    white-space: nowrap;
  }

  th, td {
    padding: 0 15px;

    &:first-child {
      padding-left: $actions-left-padding;
    }

    &.column-tags, &.column-hasErrors {
      padding: 0;
    }

    &.column-tags mat-chip-list, &.column-hasErrors mat-icon {
      margin-left: 5px;
      margin-right: 5px;
    }

  }

  [mat-row] {
    cursor: pointer;

    &:hover, &:focus {
      background-color: $hover-row-bg;

      .right-sticky-column {
        position: sticky;
        right: 0;
        background-color: $hover-row-bg;

        .invoice-link {
          visibility: visible;

          mat-icon {
            color: $black-54-opacity;
          }
        }
      }


    }
  }
}

mat-icon[color="warn"] {
  color: mat-color($warn, 900);
}

mat-chip {
  white-space: nowrap;
}

.right-bordered {
  border-right: 1px solid $black-12-opacity;
}

.invoice-link {
  visibility: hidden;
}


mat-chip-list.filter-chips {
  margin-bottom: $content-margin;
  display: block;

  mat-chip {
    mat-icon {
      cursor: pointer;
      color: mat-color($grey);
    }

    mat-icon, span {
      vertical-align: middle;
    }
  }
}

sft-solo-search {
  display: block;
  margin-bottom: $content-margin;
}
