<mat-card *ngIf="isDisplayed">
    <mat-card-content>
        <section *ngIf="lastImports.length">
            <div class="mat-body-2" i18n>Last imports</div>
            <div *ngFor="let lastImport of lastImports">
                <sf-event-stats-row [action]="lastImport.action"
                                    [date]="lastImport.occurredAt"></sf-event-stats-row>
            </div>
            <mat-divider></mat-divider>
        </section>
        <section *ngIf="lastExports.length">
            <div class="mat-body-2" i18n>Last exports</div>
            <div *ngFor="let lastExport of lastExports">
                <sf-event-stats-row [action]="lastExport.action"
                                    [channelName]="lastExport._embedded.channel.name"
                                    [date]="lastExport.occurredAt"></sf-event-stats-row>
            </div>
            <mat-divider></mat-divider>
        </section>
        <section *ngIf="acknowledgeErrors.length" class="section-with-chip">
            <div class="mat-body-2" i18n>Acknowledgment failed <mat-chip color="warn">{{totalAcknowledgeErrors}}</mat-chip></div>
            <div *ngFor="let order of acknowledgeErrors">
                <sf-order-error-row [channelName]="order._embedded.channel.name"
                                    [reference]="order.reference"></sf-order-error-row>
            </div>
            <div class="view-link"><a routerLink="/orders" [queryParams]="{error: 'acknowledge'}" i18n>View all</a></div>
            <mat-divider></mat-divider>
        </section>
        <section *ngIf="shipmentErrors.length" class="section-with-chip">
            <div class="mat-body-2" i18n>Shipment failed <mat-chip color="warn">{{totalShipmentErrors}}</mat-chip></div>
            <div *ngFor="let order of shipmentErrors">
                <sf-order-error-row [channelName]="order._embedded.channel.name"
                                    [reference]="order.reference"></sf-order-error-row>
            </div>
            <div class="view-link"><a routerLink="/orders" [queryParams]="{error: 'ship'}" i18n>View all</a></div>
        </section>
    </mat-card-content>
</mat-card>