@import '../../../sass/variables';


mat-card-content > div {

  &, & > .mat-title {
    line-height: 60px;
  }

  &.mat-title, & > .mat-title {
    margin-bottom: 0;
  }
}

.last-events-content {
  width: 422px;
  padding: $content-margin $content-margin $content-margin 0;

  & > mat-card {
    padding: 0 $content-margin;
  }
}


.view-link {
  text-align: right;
}

mat-icon[color="warn"] {
  color: mat-color($warn, 900);
}