@import '../../../sass/variables';

.orders {
  color: $black-87-opacity;
  padding-left: 5px;
  padding-top: $content-margin;
  display: block;
  height: calc(100vh - #{$toolbar-height} - #{$content-margin});
  overflow: scroll;
}
