@import '../../../sass/variables';

.page-container {
  display: flex;
  height: calc(100vh - #{$toolbar-height});

  & > div {
    margin: auto;
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: $black-54-opacity;
  }
}

mat-card {
  width: 550px;
  text-align: left;
  padding: 45px 90px;
  color: $black-54-opacity;

  h2.mat-title {
    color: mat-color($accent);
    font-weight: normal;
    line-height: mat-font-size($config, title); // remove free space above the title
  }

  .image {
    margin-right: 40px;
  }

  .form-actions {
    text-align: center;

    margin-top: 25px;
  }
}
