<sf-unauthenticated-menu></sf-unauthenticated-menu>
<div class="page-container">
    <div>
        <h1 i18n class="mat-display-1">
           Creating your Shopping Feed account
        </h1>

        <md-card>
            <md-card-content>
                <div fxLayout="row">
                    <div class="image">
                        <img src="assets/path/initial-path/create-account/auto-setup.png" alt="Auto-setup">
                    </div>
                    <div>
                        <h2 class="mat-title" i18n>Auto-Configure</h2>
                        <p i18n>
                            Each channel walks you through every step, connecting to the channel and listing products in
                            no time.
                            Just click Connect, and go!
                        </p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div class="image">
                        <img src="assets/path/initial-path/create-account/order-sync.png" i18n-alt
                             alt="Custom channels">
                    </div>
                    <div>
                        <h2 class="mat-title" i18n>Order syncing</h2>
                        <p i18n>
                            Order that are made on connected channels are imported back into your storefront, letting
                            you fulfill all your channel order right from your CMS.
                            Their shipping status and messaging automatically send to your customers.
                            Over $30M in orders pass through Shopping Feed every day!
                        </p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div class="image">
                        <img src="assets/path/initial-path/create-account/inventory-sync.png" i18n-alt
                             alt="Inventory Sync"/>
                    </div>
                    <div>
                        <h2 class="mat-title" i18n>Inventory Sync</h2>
                        <p i18n>
                            Realtime, dynamic inventory tracking of your products across all of your Shopping Feed
                            channels.
                            When a product goes out of stock, each channel removes its product listing
                        </p>
                    </div>
                </div>

                <div class="form-actions">
                    <a md-raised-button color="accent" href="{{baseHref}}" [disabled]="!registrationFinished">START SELLING</a>
                </div>
            </md-card-content>
        </md-card>
        <md-progress-bar mode="determinate" [value]="progress" color="accent"></md-progress-bar>


    </div>
</div>