@import '../../../../../../src/sass/variables';

table {
  width: 100%;

  tr.isBlocked {
    background-color: mat-color($warn, 0.1);
  }
}

.page-header {
  margin-bottom: 20px;
}

mat-progress-bar {
  position: absolute;
  z-index: 10;
}

.progress-bar-wrapper {
  position: relative;
}

mat-icon {
  cursor: pointer;
  color: $black-54-opacity;
  margin-left: 20px;
}