@import '../../../../src/sass/variables';
@import '../../../../src/sass/mixins/scrollable-table.mixin';

$page-header-height: 56px;
$search-field-height: 89px;

@include scrollableTable(calc(#{$page-header-height} + #{$search-field-height}));

table {
  width: 100%;

  tr.isBlocked {
    background-color: mat-color($warn, 0.1);

    mat-icon.block-store {
      color: mat-color($warn, 900);
    }
  }
}