@import '../../../sass/variables';

mat-icon[color="warn"] {
  color: mat-color($warn, 900);
  margin-right: 5px;
}

mat-tab-group {
  text-transform: uppercase;
  margin-bottom: $content-margin;
  margin-right: $content-margin;
}
