@import '../../../sass/variables';

mat-icon[color="warn"] {
  color: mat-color($warn, 900);
  margin-right: 5px;
  font-size: 16px;
  height: 16px;
  vertical-align: sub;
}

mat-tab-group {
  text-transform: uppercase;

  @media #{$gt-xs}{
    margin-bottom: $content-margin;
  }
}

.tab-label {
  &:hover {
    color: mat-color($accent);
  }
}