<mat-tab-group color="accent" (selectedTabChange)="changeTab($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="tab-label" i18n>All orders</span>
        </ng-template>
    </mat-tab>
    <mat-tab label="To validate">
        <ng-template mat-tab-label>
            <span class="tab-label" i18n>To validate</span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="tab-label" i18n>To import</span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon color="warn">error</mat-icon>
            <span class="tab-label" i18n>Import errors</span>
        </ng-template>
    </mat-tab>
    <mat-tab i18n-label label="To ship">
        <ng-template mat-tab-label>
            <span class="tab-label" i18n>To ship</span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon color="warn">error</mat-icon>
            <span class="tab-label" i18n>Shipping errors</span>
        </ng-template>
    </mat-tab>
    <mat-tab i18n-label label="Shipped">
        <ng-template mat-tab-label>
            <span class="tab-label" i18n>Shipped</span>
        </ng-template>
    </mat-tab>
</mat-tab-group>