<mat-card-content fxFlex fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
    <div class="channel-logo">
        <img mat-card-image [src]="channel._embedded.channel._links.image.href"
             [alt]="channel._embedded.channel.name">
    </div>

    <div class="channel-box-line" fxLayout="row" matTooltip="Per month" i18n-matTooltip
         matTooltipPosition="right">
        <div class="channel-box-line-title" i18n fxFlex>Potential turnover
        </div>
        <div class="sf-color-grey">
            {{potentialTurnover | sfCurrency:currency}}
        </div>
    </div>

    <div class="channel-box-line" fxLayout="row" matTooltip="This month" i18n-matTooltip
         matTooltipPosition="right">
        <div class="channel-box-line-title" i18n fxFlex>Clients connected
        </div>
        <div class="sf-color-grey">
            {{clientsConnected}}%
        </div>
    </div>

    <div class="connect-button">
        <a mat-raised-button color="accent" *ngIf="!internationalMode && !shopifyUSUser"
           (click)="goToChannel()" i18n>CONNECT</a>
        <a mat-raised-button color="accent" *ngIf="internationalMode && !shopifyUSUser"
           (click)="showInternationalChannelDialog()" i18n>CONNECT</a>
        <a mat-raised-button color="accent" *ngIf="shopifyUSUser"
           href="javascript:Appcues.show('91cc1e8a-44aa-4b5d-82e9-847431d687d5')" i18n>CONNECT</a>
    </div>

</mat-card-content>
