<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="box-search">
          <div class="row">
            <div class="col-xs-1">
              <button class="icon mdi-action-search"></button>
            </div>
            <div class="col-xs-10">
                <input placeholder="Rechercher une plateforme"
                       i18n-placeholder
                       class="input-field"
                       (keyup.enter)="pushFilterFromInput()"
                       [(ngModel)]="filterInput"
                />
            </div>

            <div class="col-xs-1">
              <button class="icon mdi-action-view-list pull-right" data-toggle="modal" data-target="#List"></button>
            </div>
          </div>
        </div>
      </div>
      <ul class="categories">
        <li *ngFor="let filter of getActiveFilters()" class="category">
          <div>
            {{ filter }}
            <sup><a href="#" class="remove-category" (click)="removeFilter(filter); false">x</a></sup>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--modal-->

<div class="modal fade" id="List" tabindex="-1" role="dialog">
  <div class="row modal-dialog" role="document">
    <div class="col-xs-12 modal-content">
      <div class="box-flags">
        <h2>{{ title }}</h2>
        <ul>
          <li *ngFor="let flag of flags">
            <a href="">
              <img [src]="flag.country"  [alt]="flag.name" />
            </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-xs-4 modal-header">
          <div class="box-title">
            <div class="title" i18n>
              types de plateformes
            </div>
          </div>
        </div>
        <div class="col-xs-8 modal-header">
          <div class="box-title">
            <div class="title" i18n>
              categories de produits
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 modal-body">
          <ul class="row">
            <li class="col-xs-12" *ngFor="let platform of platformCriteria">
              <md-checkbox>{{ platform }}</md-checkbox>
            </li>
          </ul>
        </div>
        <div class="col-xs-8 modal-body">
          <ul class="row">
            <li class="col-xs-6" *ngFor="let category of categoryCriteria">
              <label class="md-check">
                <md-checkbox [(checked)]="filters[category].checked" (change)="filters[category].checked = $event.checked">{{ category }}</md-checkbox>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-confirm" data-dismiss="modal" i18n>Valider</button>
      </div>
    </div>
  </div>
</div>



