$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
$color-icon: #7D7D7D;

.card {
  margin: 0 0 20px 0;
  padding: 12px 20px;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  .box-search {
    button {
      display: inline-block;
      height: 40px;
      vertical-align: middle;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .icon {
      color: $color-icon;
      font-size: 25px;
      &::before {
        vertical-align: middle;
      }
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      font: {
        family: HelveticaNeue-Regular;
        size: 16px;
      }
      color: $color-icon;

      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 0 20px;
        color: $color-icon;
        font: {
          family: HelveticaNeue-Regular;
          size: 13px;
        }
      }
    }
  }
}

.modal {
  box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19), 0 12px 15px 0 rgba(0,0,0,0.24);
  border-radius: 0;

  .modal-dialog {
    width: 750px;

    .modal-content {
      border-radius: 0;

      .box-flags {
        padding: 20px 0;
        text-align: center;

        ul {
          height: 100%;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            height: 100%;
            line-height: 25px;

            a {
              display: block;
              width: 25px;
              margin: 1px;

              img {
                width: 100%;

                &:hover {
                  border: 2px solid #098FD0;
                }
              }
            }
          }
        }
      }
    }

    .modal-header {
      border-bottom: none;
      padding: 0 ;
    }
  }

  .box-title {
    padding: 20px;
    border: 1px solid #DADADA;
    border: {
      right: 0;
      bottom: 0;
    }
    .title {
      color: #333;
      font: {
        family: HelveticaNeue-Regular;
        size: 13px;
        weight: 600;
      }
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding: 20px 0 0;
    border: 1px solid #DADADA;
    border: {
      right: 0;
      bottom: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        padding-bottom: 20px;
        list-style: none;
        &:first-line {
          padding-top: 20px;
        }
      }
    }
  }

  .modal-footer {
    .btn {
      border: none;
      border-radius: 0;
      padding: 10px 30px;
    }

    .btn-confirm {
      font: {
        family: Nunito-Regular;
        size: 16px;
      }
      color: #473A7A;
      background-color: #D4CEEB;
      text-transform: uppercase;
    }
  }
}
