.modal {
  box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19), 0 12px 15px 0 rgba(0,0,0,0.24);
  border-radius: 0;

  .modal-dialog {
    width: 750px;

    .modal-content {
      border-radius: 0;

      .box-flags {
        padding: 20px 0;
        text-align: center;

        ul {
          height: 100%;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            height: 100%;
            line-height: 25px;

            a {
              display: block;
              width: 25px;
              margin: 1px;

              img {
                width: 100%;

                &:hover {
                  border: 2px solid #098FD0;
                }
              }
            }
          }
        }
      }
    }

    .modal-header {
      border-bottom: none;
      padding: 0 ;
    }
  }

  .box-title {
    padding: 20px;
    border: 1px solid #DADADA;
    border: {
      right: 0;
      bottom: 0;
    }
    .title {
      color: #333;
      font: {
        family: HelveticaNeue-Regular;
        size: 13px;
        weight: 600;
      }
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding: 20px 0 0;
    border: 1px solid #DADADA;
    border: {
      right: 0;
      bottom: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        padding-bottom: 20px;
        list-style: none;
        &:first-line {
          padding-top: 20px;
        }

        label {
          width: 100%;
          color: #333;
          font: {
            family: HelveticaNeue-Regular;
            size: 14px;
          }
          list-style-type: none;
        }

        label::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }

  .modal-footer {
    .btn {
      border: none;
      border-radius: 0;
      padding: 10px 30px;
    }

    .btn-confirm {
      font: {
        family: Nunito-Regular;
        size: 16px;
      }
      color: #473A7A;
      background-color: #D4CEEB;
      text-transform: uppercase;
    }
  }
}