<div class="modal fade" id="List" tabindex="-1" role="dialog">
  <div class="row modal-dialog" role="document">
    <div class="col-xs-12 modal-content">
      <div class="box-flags">
        <ul>
          <li *ngFor="let flag of flags">
            <a href="">
              <img [src]="flag.country"  [alt]="flag.name" />
            </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-xs-4 modal-header">
          <div class="box-title">
            <div class="title">
              types de plateformes
            </div>
          </div>
        </div>
        <div class="col-xs-8 modal-header">
          <div class="box-title">
            <div class="title">
              categories de produits
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 modal-body">
          <ul class="row">
            <li class="col-xs-12" *ngFor="let TextModal of TextModalPlateforms">
              <label class="md-check">
                <input #newVal class="has-value"
                       type="checkbox"
                       value="{{ TextModal.text }}"
                       (click)="test(newVal)">
                <i class="indigo"></i>
                {{ TextModal.text }}
              </label>
            </li>
          </ul>
        </div>
        <div class="col-xs-8 modal-body">
          <ul class="row">
            <li class="col-xs-6" *ngFor="let TextModal of TextModalProducts">
              <label class="md-check">
                <input class="has-value" type="checkbox">
                <i class="indigo"></i>
                {{ TextModal.text }}
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-confirm">valider</button>
        <ul>
          <li *ngFor="let a of valTab">
            <div>{{ a }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>