@import '../../../../sass/variables';

form {
  padding: 25px;
}

.buttons {
  text-align: right;

  button:not(:last-child){
    margin-right: 10px;
  }
}

mat-form-field {
  font-size: mat-font-size($config, body-1);
}