<form #form="ngForm">
    <div fxLayout="column">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>First Name</mat-label>
            <input matInput [(ngModel)]="address.firstName" name="firstName" #firstName="ngModel" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Last Name</mat-label>
            <input matInput [(ngModel)]="address.lastName" name="lastName" required
                   #lastName="ngModel" autocomplete="off">
            <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" i18n>
                Please, specify the last name.
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Address</mat-label>
            <input matInput [(ngModel)]="address.street" name="street" required #street="ngModel" autocomplete="off">
            <mat-error *ngIf="street.invalid && (street.dirty || street.touched)" i18n>
                Please, specify the address.
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Address 2</mat-label>
            <input matInput [(ngModel)]="address.street2" name="street2" #street2="ngModel" autocomplete="off">
            <mat-error *ngIf="street2.invalid && (street2.dirty || street2.touched)" i18n>
                Please, specify the address 2.
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-lg="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Zip</mat-label>
            <input matInput [(ngModel)]="address.postalCode" name="postalCode" required
                   #postalCode="ngModel" autocomplete="off">
            <mat-error *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" i18n>
                Please, specify the zip code.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>City</mat-label>
            <input matInput [(ngModel)]="address.city" name="city" required #city="ngModel" autocomplete="off">
            <mat-error *ngIf="city.invalid && (city.dirty || city.touched)" i18n>
                Please, specify the city.
            </mat-error>
        </mat-form-field>
        <sf-country-autocomplete fxFlex [value]="address.country"
                                 (valueChanged)="address.country = $event"
                                 appearance="outline"></sf-country-autocomplete>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Company</mat-label>
            <input matInput [(ngModel)]="address.company" name="company" #company="ngModel">
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Phone</mat-label>
            <input type="tel" matInput [(ngModel)]="address.phone" name="phone">
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Mobile phone</mat-label>
            <input type="tel" matInput [(ngModel)]="address.mobilePhone" name="mobilePhone">
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Email</mat-label>
            <input matInput [(ngModel)]="address.email" name="email" type="email" email
                   #email="ngModel">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" i18n>
                Email is not valid.
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex color="accent">
            <mat-label i18n>Additional Details</mat-label>
            <input matInput [(ngModel)]="address.other" name="additionalDetails" #details="ngModel">
            <mat-error *ngIf="details.invalid && (details.dirty || details.touched)" i18n>
                Please, specify the additional details.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-button color="accent" i18n (click)="reset.emit()">Cancel</button>
        <button mat-raised-button color="accent" i18n (click)="save(form.valid)">
            SAVE
        </button>
    </div>
</form>