@import '../../sass/variables';

.timeline {
  color: $black-87-opacity;
  padding-left: 5px;
  padding-top: $content-margin;
  display: block;
  height: calc(100vh - #{$toolbar-height} - #{$content-margin});
  overflow: scroll;
}

.event-icon {
  margin-right: 20px;
  color: mat-color($accent);

  mat-icon {
    vertical-align: middle;
  }
}


.event, .update {
  width: calc(100% - 40px); //40px - list-item paddings + margin between card and sidebar
}

mat-card {
  padding: 0;
  margin: 0 0 40px 0;
}

.heading-date {
  color: mat-color($grey, 800, 0.87);
  margin-bottom: 15px;
}

mat-list-item {
  padding: 0 10px;
  cursor: pointer;
  border-bottom: 1px solid $black-12-opacity;
  &:hover {
    background-color: mat-color($grey, 300, 0.87);
    border-bottom: 1px solid transparent;
  }
}

mat-list {
  padding: 0;
}

.update {
  background: mat-color($accent, 700, 0.05);
  .channel-name {
    flex: 1;
  }
  .event-description {
    flex: 3;
    text-transform: capitalize;
  }

  mat-list-item {
    &:hover {
      background-color: $black-12-opacity;
    }
  }

  .updates-in-progress {
    background-color: $black-12-opacity;
    border-bottom: none;
  }


}

.no-updates, .no-events {
  text-align: center;
  color: $black-54-opacity;
}
.no-events {
  padding: 15px;
}

mat-spinner {
  margin: auto;
}