<div class="timeline"  infiniteScroll [infiniteScrollDistance]="2"
     [infiniteScrollDisabled]="infiniteScrollDisabled"
     [infiniteScrollThrottle]="500" (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="heading-date mat-body-1" i18n>Latest updates</div>
    <mat-card class="update">
        <mat-list>
            <mat-list-item class="updates-in-progress">
                <div class="sf-fill-space mat-body-1" i18n>
                    Number of updates in progress
                </div>
                <div>{{updatesInProgress}}</div>
            </mat-list-item>
            <mat-list-item *ngFor="let update of updates">

                <div class="event-icon mat-body-1">
                    <mat-icon *ngIf="update.type === updateTypes.export">vertical_align_top</mat-icon>
                    <mat-icon *ngIf="update.type === updateTypes.import">vertical_align_bottom</mat-icon>
                </div>
                <div class="channel-name mat-body-1" *ngIf="update.type === updateTypes.import">
                    Source feed
                </div>
                <div class="channel-name mat-body-1" *ngIf="update.type === updateTypes.export">
                    {{update._embedded.channel[0].name}}
                </div>
                <div class="event-description mat-body-1">
                    <span *ngIf="update.operation === updateOperations.start" i18n>In progress</span>
                    <span *ngIf="update.operation === updateOperations.ask" i18n>Scheduled</span>
                    <span *ngIf="update.operation === updateOperations.finish" i18n>Completed</span>
                </div>
                <div class="event-time mat-body-1">{{update.occurredAt | date:"HH:mm"}}</div>
            </mat-list-item>
            <mat-list-item *ngIf="!updates.length">
                <div class="sf-fill-space no-updates mat-body-1" i18n> No updates</div>
            </mat-list-item>
        </mat-list>
    </mat-card>

    <div *ngFor="let eventsGroup of events">
        <div class="heading-date mat-body-1">{{eventsGroup[0] | date:'EEEE MMMM d y'}}</div>
        <mat-card class="event">
            <mat-list>
                <mat-list-item *ngFor="let event of eventsGroup[1]">

                    <div class="event-icon mat-body-1">
                        <mat-icon>{{event.icon}}</mat-icon>
                    </div>
                    <sf-order-event [reference]="event.reference" [operation]="event.operation"
                                    class="event-description sf-fill-space mat-body-1"
                                    *ngIf="event.type === eventTypes.orderLifecycle"></sf-order-event>
                    <sf-rule-event [ruleName]="event.ruleName" [operation]="event.operation"
                                   class="event-description sf-fill-space mat-body-1"
                                   *ngIf="event.type === eventTypes.ruleSegmentation || event.type === eventTypes.ruleTransformation"></sf-rule-event>
                    <div class="event-time mat-body-1">{{event.time | date:"HH:mm"}}</div>

                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>

    <div *ngIf="!events.length">
        <div class="heading-date mat-body-1" i18n>Today</div>
        <mat-card>
            <mat-card-content>
                <div class="no-events mat-body-1" i18n>No events</div>
            </mat-card-content>

        </mat-card>
    </div>
    <div>
        <mat-spinner *ngIf="!infiniteScrollDisabled"></mat-spinner>
    </div>
</div>
