@import '../../sass/variables';

.timeline {
  padding-top: 40px;
  color: mat-color($grey, 1000, 0.87);
}

.event-icon {
  margin-right: 20px;
  color: mat-color($accent);

  md-icon {
    vertical-align: middle;
  }
}


.event, .update {
  width: calc(100% - 40px); //40px - list-item paddings + margin between card and sidebar
}

md-card {
  padding: 0;
  margin: 0 0 40px 0;
}

.heading-date {
  color: mat-color($grey, 800, 0.87);
  margin-bottom: 15px;
}

md-list-item {
  padding: 0 10px;
  cursor: pointer;
  border-bottom: 1px solid mat-color($grey, 1000, 0.12);
  &:hover {
    background-color: mat-color($grey, 300, 0.87);
    border-bottom: 1px solid transparent;
  }
}

md-list {
  padding: 0;
}

.update {
  background: mat-color($accent, 700, 0.05);
  .channel-name {
    flex: 1;
  }
  .event-description {
    flex: 3;
    text-transform: capitalize;
  }

  md-list-item {
    &:hover {
      background-color: mat-color($grey, 1000, 0.1);
    }
  }

  .updates-in-progress {
    background-color: mat-color($grey, 1000, 0.1);
    border-bottom: none;
  }

  .no-updates {
    text-align: center;
  }
}