<sfl-unauthenticated-menu [displayFlags]="true"></sfl-unauthenticated-menu>
<div class="form-container">
    <div>
        <div class="form-title mat-display-1" i18n>Log in</div>
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loadingNextPage"></mat-progress-bar>
        <mat-card>
            <mat-card-content>
                <form (ngSubmit)="login()">

                    <mat-form-field class="login-input" color="accent">
                        <input matInput i18n-placeholder placeholder="Username"
                               [formControl]="userNameControl">
                        <mat-error *ngIf="userNameControl.hasError('required')" i18n>
                            Username is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="login-input margin-top-20" color="accent">
                        <input matInput i18n-placeholder placeholder="Password" type="password"
                               [formControl]="passwordControl">
                        <mat-error *ngIf="passwordControl.hasError('required')" i18n>
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <div class="error" *ngIf="error">{{error}}</div>
                    <div class="error deleted-store-message" *ngIf="showDeletedStoreError" i18n="Interpolation replaced with support email@@storeIsDeletedMessage">
                        Your store has been deleted but no worries your datas are not lost, please contact
                        {{contactEmail}} to re-open it.
                    </div>

                    <div class="form-actions">
                        <button mat-raised-button color="accent" i18n>LOGIN</button>
                    </div>
                </form>

            </mat-card-content>
        </mat-card>
        <a class="below-form-link mat-body-1" i18n [routerLink]="['/reset-password']">Forgot the password?</a>
    </div>
</div>