<sfl-unauthenticated-menu [displayFlags]="true"></sfl-unauthenticated-menu>

<sfl-login-form [loadingNextPage]="loadingNextPage" (loginSubmitted)="login($event)" appearance="outline">
    <div sfl-login-title i18n>Log in</div>
    <div class="error" *ngIf="error">{{error}}</div>
    <div class="error deleted-store-message" *ngIf="showDeletedStoreError"
         i18n="Interpolation replaced with support email@@storeIsDeletedMessage">
        Your store has been deleted but no worries your datas are not lost, please contact
        {{contactEmail}} to re-open it.
    </div>
    <div sfl-login-links>
        <a class="below-form-link mat-body-1" i18n [routerLink]="['/reset-password']">Forgot the password?</a>
    </div>
</sfl-login-form>
