@import '../../sass/variables';
@import '../../sass/mixins/form-page';

@include form-page();

a.below-form-link {
  float: right;
  text-decoration: none;
  color: $black-87-opacity;
  margin-top: 15px;
}
