<div class="sf-top-menu">
    <md-toolbar role="toolbar" color="accent">
        <div class="sf-top-menu-container">
            <md-toolbar-row>
                <button md-icon-button class="sf-menu-button" (click)="sidebarToggle.next()"><md-icon class="icon mdi-navigation-menu"></md-icon></button>
                <a class="nav-link home" href="/">
                    <img alt="Home" title="Home" width="23" src="assets/images/SF_white.svg">
                </a>

                <span class="sf-nav-welcome-text">Bienvenue, {{(currentStore | async).name}}</span>

                <md-input-container class="sf-nav-search">
                    <md-icon mdPrefix class="icon mdi-action-search"></md-icon>
                    <md-placeholder><span >Besoin d'aide</span></md-placeholder>
                    <input mdInput type="search">
                </md-input-container>

                <md-menu #langMenu="mdMenu">
                    <button md-menu-item>  <img src="assets/images/flags/uk.png" class="sf-nav-selected-language"> </button>
                    <button md-menu-item>  <img src="assets/images/flags/pt.png" class="sf-nav-selected-language"> </button>
                    <button md-menu-item>  <img src="assets/images/flags/it.png" class="sf-nav-selected-language"> </button>
                    <button md-menu-item>  <img src="assets/images/flags/ge.png" class="sf-nav-selected-language"> </button>
                    <button md-menu-item>  <img src="assets/images/flags/es.png" class="sf-nav-selected-language"> </button>
                </md-menu>
                <img src="assets/images/flags/fr.png" class="sf-nav-selected-language" [mdMenuTriggerFor]="langMenu">

                <md-icon class="sf-nav-icon icon mdi-social-notifications-none {{(currentStore | async).timeline.total ? 'sf-badge' : ''}}" [attr.data-badge]="(currentStore | async).timeline.total"></md-icon>
                <md-icon class="sf-nav-icon icon mdi-social-person-outline" [mdMenuTriggerFor]="accountMenu"></md-icon>
                <md-menu #accountMenu="mdMenu">
                    <button md-menu-item *ngFor="let store of (userInfo | async)._embedded.store" (click)="chooseStore(store)">{{store.name}}</button>
                </md-menu>
            </md-toolbar-row>
        </div>
    </md-toolbar>
</div>