<div class="sf-top-menu">
    <md-toolbar role="toolbar" color="primary">
        <div class="sf-top-menu-container">
            <md-toolbar-row>
                <a class="nav-link home" [href]="appUrl">
                    <img alt="Home" title="Home" i18n-alt i18n-title width="23" src="assets/images/SF_white.svg">
                </a>

                <div class="sf-nav-welcome-text" i18n>Bienvenue, {{(currentStore | async).name}}</div>

                <div class="toolbar-search-container">
                    <md-icon class="icon mdi-action-search sf-search-icon"></md-icon>
                    <input placeholder="Besoin d'aide" i18n-placeholder class="toolbar-search">
                </div>

                <md-menu #langMenu="mdMenu" class="sf-language-menu" [overlapTrigger]="false">
                        <a md-menu-item class="sf-language-menu-item"  *ngFor="let locale of localizations" href="{{appUrl}}/index/switchlang/{{locale}}">
                            <img src="assets/images/flags/{{locale}}.png" class="sf-nav-selected-language">
                        </a>
                </md-menu>
                <img src="assets/images/flags/{{localeId}}.png" class="sf-nav-selected-language"
                     [mdMenuTriggerFor]="langMenu">
                <md-icon
                        class="sf-nav-icon icon mdi-social-notifications-none {{(currentStore | async).timeline.total ? 'sf-badge' : ''}}"
                        [attr.data-badge]="(currentStore | async).timeline.total"></md-icon>
                <md-icon class="sf-nav-icon icon mdi-social-person-outline" [mdMenuTriggerFor]="accountMenu"></md-icon>
                <md-menu #accountMenu="mdMenu" [overlapTrigger]="false">
                    <a md-menu-item href="{{appUrl}}/marketplaces/globalparameters" i18n *ngIf="(currentStore | async).permission.marketplaces">Settings</a>
                    <a md-menu-item href="{{appUrl}}/tools/settings" i18n>Alert Management</a>
                    <a md-menu-item href="{{appUrl}}/facturation" i18n *ngIf="(currentStore | async).permission.facturation">Membership</a>
                    <a md-menu-item href="{{appUrl}}/tools/access" i18n>Access</a>
                    <hr>
                    <button md-menu-item *ngFor="let store of (userInfo | async)._embedded.store"
                            (click)="chooseStore(store)">{{store.name}}
                    </button>
                    <hr>
                    <a md-menu-item n18n>Disconnection</a>

                </md-menu>
            </md-toolbar-row>
        </div>
    </md-toolbar>
</div>