<form #form="ngForm" (ngSubmit)="reset()" fxLayout="column" fxLayoutGap="50px">

    <div class="auth-title sfui-header-2" i18n>Reset your password</div>

    <div fxLayout="column" fxLayoutGap="20px">
        <sfui-form-field>
            <sfui-label i18n>Username</sfui-label>
            <input sfui-input [(ngModel)]="name" name="name">
        </sfui-form-field>

        <sfui-form-field>
            <sfui-label i18n>New password</sfui-label>
            <input sfui-input type="password" [(ngModel)]="password" name="password">
        </sfui-form-field>

        <sfui-form-field>
            <sfui-label i18n>Confirm password</sfui-label>
            <input sfui-input type="password" [(ngModel)]="passwordCheck" name="password">
        </sfui-form-field>
    </div>
    <sfui-banner type="info" *ngIf="!form.submitted">
        <div sfui-title i18n>The password must be 8 characters long and contain at least one number and one capital
            letter.
        </div>
    </sfui-banner>

    <sfui-banner type="info" *ngIf="showSuccessMessage">
        <div sfui-title i18n>Your password has been changed.</div>
    </sfui-banner>


    <sfui-banner type="error" *ngIf="passwordIncorrect && form.submitted">
        <div sfui-title i18n>Error password</div>
        <div i18n>The password must be 8 characters long and contain at least one number and one capital letter.
        </div>
    </sfui-banner>
    <sfui-banner type="error" *ngIf="!passwordsMatch && form.submitted">
        <div sfui-title i18n>Error credentials</div>
        <div i18n>Passwords do not match.</div>
    </sfui-banner>


    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <a sfui-icon-button i18n [routerLink]="['/login']">
            <sfui-icon name="arrowBack"></sfui-icon>
        </a>
        <div fxFlex></div>
        <div class="form-actions">
            <button sfui-button sfui-style="primary" i18n>Reset password</button>
        </div>
    </div>
</form>
