@import '../../../sass/variables';
@import '../../../sass/mixins/auth-title';

@include auth-title();

.error {
  color: mat-color($warn);
}

.reset-password-description, .success-message {
  color: $black-87-opacity;
}

.success-message {
  padding-top: 40px;
  padding-bottom: 40px;
}

mat-card-actions {
  a {
    margin-bottom: 20px;
  }
}

sft-icon {
  display: block;
  margin-top: 2px;
}
