@import '../../../sass/variables';

.recovery-container {
  display: flex;
  height: calc(100vh - #{$toolbar-height});
  text-align: center;

  md-card {
    padding: 25px 50px;
  }

  .recovery-title {
    color: mat-color($grey, 1000, 0.54);
    margin-bottom: 25px;
  }

  .recovery-form {
    margin: auto;
  }

  md-input-container {
    display: block;
    width: 425px;
  }

  .recovery-actions {

    .recovery-button {
      margin-top: 30px;
      font-weight: bold;
    }
  }

  a.back-to-login {
    float: right;
    text-decoration: none;
    color: mat-color($grey, 1000, 0.87);
    margin-top: 15px;
  }
}

.error {
  color: mat-color($warn);
}

.reset-password-description, .success-message {
  color: mat-color($grey, 1000, 0.54);
}

.success-message {
  padding-top: 40px;
  padding-bottom: 40px;
}

md-card-actions {
  a {
    margin-bottom: 20px;
  }
}