<sf-unauthenticated-menu></sf-unauthenticated-menu>
<div class="recovery-container">
  <div class="recovery-form">
    <div class="recovery-title mat-display-1" i18n>Reset your password</div>
    <md-card *ngIf="!showSuccessMessage">
      <md-card-content>
        <form (ngSubmit)="reset()">

          <md-input-container color="accent">
            <input mdInput i18n-placeholder placeholder="Username" [formControl]="nameControl">
            <md-error *ngIf="nameControl.hasError('required')">
              Username is <strong>required</strong>
            </md-error>
          </md-input-container>

          <md-input-container color="accent">
            <input mdInput i18n-placeholder placeholder="New password" type="password" [formControl]="passwordControl">
            <md-error *ngIf="passwordControl.hasError('required')">
              Password is <strong>required</strong>
            </md-error>
          </md-input-container>

          <md-input-container color="accent">
            <input mdInput i18n-placeholder placeholder="Retype your new password" type="password" [formControl]="passwordCheckControl">
            <md-error *ngIf="passwordCheckControl.hasError('required')">
              Password confirmation is <strong>required</strong>
            </md-error>
            <md-error *ngIf="passwordCheckControl.hasError('equalValues')">
              Passwords need to <strong>match</strong>
            </md-error>
          </md-input-container>

          <div class="error" *ngIf="showError">A system error occurred. Please, try again later.</div>

          <div class="recovery-actions">
            <button md-raised-button color="accent" class="recovery-button" i18n>SEND</button>
          </div>
        </form>
      </md-card-content>
    </md-card>

    <md-card *ngIf="showSuccessMessage" >
      <md-card-content class="success-message">
        <span class="mat-subheading-2">Your password has been changed successfully.</span>
      </md-card-content>
      <md-card-actions>
        <a md-raised-button color="accent" routerLink="/login">LOGIN</a>
      </md-card-actions>
    </md-card>
    <a class="back-to-login mat-body-1" i18n [routerLink]="['/login']">Back to login</a>
  </div>
</div>