@import '../../../sass/variables';
@import '../../../sass/mixins/form-page';

@include form-page();

.error {
  color: mat-color($warn);
}

.reset-password-description, .success-message {
  color: $black-87-opacity;
}

.success-message {
  padding-top: 40px;
  padding-bottom: 40px;
}

mat-card-actions {
  a {
    margin-bottom: 20px;
  }
}