<sf-unauthenticated-menu [displayFlags]="true"></sf-unauthenticated-menu>
<div class="form-container">
    <div>
        <div class="form-title mat-display-1" i18n>Reset your password</div>
        <mat-card *ngIf="!showSuccessMessage">
            <mat-card-content>
                <form (ngSubmit)="reset()">

                    <mat-form-field color="accent">
                        <input matInput i18n-placeholder placeholder="Username" [formControl]="nameControl">
                        <mat-error *ngIf="nameControl.hasError('required')" i18n>
                            Username is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field color="accent">
                        <input matInput i18n-placeholder placeholder="New password" type="password"
                               [formControl]="passwordControl">
                        <mat-error *ngIf="passwordControl.hasError('required')" i18n>
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field color="accent">
                        <input matInput i18n-placeholder placeholder="Retype your new password" type="password"
                               [formControl]="passwordCheckControl">
                        <mat-error *ngIf="passwordCheckControl.hasError('required')" i18n>
                           Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="passwordCheckControl.hasError('equalValues')" i18n>
                            Passwords need to match
                        </mat-error>
                    </mat-form-field>

                    <div class="error" *ngIf="showError" i18n>A system error occurred. Please, try again later.</div>

                    <div class="form-actions">
                        <button mat-raised-button color="accent" i18n>SEND</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="showSuccessMessage">
            <mat-card-content class="success-message">
                <span class="mat-subheading-2" i18n>Your password has been changed successfully.</span>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button color="accent" routerLink="/login" i18n>LOGIN</a>
            </mat-card-actions>
        </mat-card>
        <a class="below-form-link mat-body-1" i18n [routerLink]="['/login']">Back to login</a>
    </div>
</div>