<sfl-sidebar-container>
    <mat-list>
        <mat-list-item matTooltip="Create a user" matTooltipPosition="after" i18n-matTooltip
                       routerLink="/create-user" [matTooltipDisabled]="hideTooltips">
            <mat-icon>add</mat-icon>
            <span fxHide fxShow.xs i18n>Create a user</span>
        </mat-list-item>
        <mat-list-item [matMenuTriggerFor]="invoicing" matTooltip="Invoicing" matTooltipPosition="after" i18n-matTooltip
                       [matTooltipDisabled]="hideTooltips">
            <mat-icon>attach_money</mat-icon>
            <span fxHide fxShow.xs i18n>Invoicing</span>
        </mat-list-item>
        <mat-list-item matTooltip="Partners" matTooltipPosition="after" i18n-matTooltip
                       [matTooltipDisabled]="hideTooltips">
            <a sflLegacyLink path="/admin/partners" class="partners-link">
                <mat-icon>people</mat-icon>
                <span fxHide fxShow.xs i18n>Partners</span>
            </a>
        </mat-list-item>
        <mat-list-item [matMenuTriggerFor]="tools" matTooltip="Tools" matTooltipPosition="after" i18n-matTooltip
                       [matTooltipDisabled]="hideTooltips">
            <mat-icon>build</mat-icon>
            <span fxHide fxShow.xs i18n>Tools</span>
        </mat-list-item>
        <mat-list-item [matMenuTriggerFor]="api" matTooltip="API" matTooltipPosition="after" i18n-matTooltip
                       [matTooltipDisabled]="hideTooltips">
            <mat-icon>developer_board</mat-icon>
            <span fxHide fxShow.xs i18n>API</span>
        </mat-list-item>
    </mat-list>
</sfl-sidebar-container>

<mat-menu #invoicing="matMenu" class="sf-sidebar-menu">
    <a mat-menu-item i18n sflLegacyLink path="/admin/lost" target="_blank">Clients lost</a>
    <a mat-menu-item i18n sflLegacyLink path="/admin/churn" target="_blank">Churn</a>
    <a mat-menu-item i18n sflLegacyLink path="/admin/invoicing" target="_blank">Membership</a>
    <a mat-menu-item i18n sflLegacyLink path="/admin/turnover" target="_blank">Turnover</a>
</mat-menu>

<mat-menu #tools="matMenu" class="sf-sidebar-menu">
    <a mat-menu-item i18n sflLegacyLink path="/admin/segmentationcatalog" target="_blank">Auto-Remove Library</a>
    <a mat-menu-item i18n sflLegacyLink path="/admin/encyclofeedia" target="_blank">Encyclofeedia</a>
    <a mat-menu-item i18n sflLegacyLink path="/admin/rulecatalog" target="_blank">Rule Library</a>
</mat-menu>

<mat-menu #api="matMenu" class="sf-sidebar-menu">
    <a mat-menu-item i18n sflLegacyLink path="/admin/webservice" target="_blank">API Lookup</a>
    <a mat-menu-item i18n sflLegacyLink path="/admin/relaunchMarketplaceOrders" target="_blank">Relaunch Orders</a>
</mat-menu>