@import '../../../src/sass/variables';


mat-icon {
  font-size: mat-font-size($config, headline);
  color: white;
  cursor: pointer;
  margin: auto;

  &.active {
    color: mat-color($accent);
  }

  &:hover {
    color: mat-color($accent);
  }

  @media #{$xs} {
    margin-right: 10px;
    margin-left: 10px;

    & + span {
      margin-right: 10px;
    }
  }
}

mat-list-item {
  outline: none;
  cursor: pointer;

  .nav-link.home {
    margin: auto;
  }
}

.partners-link {
  @media #{$gt-xs} {
    margin: auto;
  }

  @media #{$xs} {
    display: contents;
    text-decoration: none;
    color: inherit;

    mat-icon {
      color: white;
    }
  }
}

mat-divider {
  margin: 15px 0;
}

mat-list-item {
  margin-top: 10px;
}

.nav-title {
  font-size: mat-font-size($config, title);
  font-weight: mat-font-weight($config, title);
  color: black;
}

mat-list.main-sidenav {
  height: 100%;
}
