<sfl-sidebar-container bgColor="#01579b" borderColor="#dadada" menuHeight="0px">
    <mat-list fxLayout="column" class="main-sidenav">
        <mat-list-item>
            <a class="nav-link home" routerLink="/" fxShow fxHide.xs>
                <img alt="Home" title="Home" i18n-alt i18n-title width="35" src="assets/images/s-logo.png">
            </a>
        </mat-list-item>
        <mat-list-item matTooltip="Billing" matTooltipPosition="after" routerLink="/billing">
            <mat-icon>attach_money</mat-icon>
            <span fxHide fxShow.xs i18n>Billing</span>
        </mat-list-item>
        <mat-list-item fxFlex></mat-list-item>
        <mat-list-item matTooltip="Admin" matTooltipPosition="after">
            <mat-icon class="sf-nav-icon" [matMenuTriggerFor]="accountMenu">person_outline</mat-icon>
            <span fxHide fxShow.xs i18n>Account</span>
        </mat-list-item>
    </mat-list>
</sfl-sidebar-container>

<sfl-left-navigation>
    <mat-list dense>
        <mat-list-item>
            <div class="nav-title" i18n>Admin</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <ng-content></ng-content>
    </mat-list>
</sfl-left-navigation>


<mat-menu #accountMenu="matMenu" class="sf-sidebar-bottom-menu account-menu" [overlapTrigger]="true">
    <a mat-menu-item i18n (click)="logout()">Logout</a>
</mat-menu>
