<sfl-sidebar-container bgColor="#01579b" borderColor="#dadada" menuHeight="0px">
    <mat-list>
        <mat-list-item>
            <a class="nav-link home" routerLink="/" fxShow fxHide.xs>
                <img alt="Home" title="Home" i18n-alt i18n-title width="35" src="assets/images/s-logo.png">
            </a>
        </mat-list-item>
        <mat-list-item matTooltip="Billing" matTooltipPosition="after" routerLink="/billing">
            <mat-icon>attach_money</mat-icon>
            <span fxHide fxShow.xs i18n>Billing</span>
        </mat-list-item>
    </mat-list>
</sfl-sidebar-container>

<div class="sfl-expandable-sidenav">
    <mat-list>
        <mat-list-item>
            Admin
        </mat-list-item>
        <mat-divider></mat-divider>
        <ng-content></ng-content>
    </mat-list>
</div>
