<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loadingNextRoute"></mat-progress-bar>
<div class="sf-top-menu">
    <div class="sf-top-menu-container">
        <mat-toolbar role="toolbar" color="primary" class="mat-elevation-z2" [style.backgroundColor]="backgroundColor">

            <mat-toolbar-row>
                <button mat-icon-button (click)="toggleSidebar()" fxShow fxHide.gt-xs *ngIf="enableMenuIcon">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button (click)="followBackButton()" fxShow fxHide.gt-xs class="back-in-history" *ngIf="showBackButton">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                <a class="nav-link home" routerLink="/" fxShow fxHide.xs>
                    <img alt="Home" title="Home" i18n-alt i18n-title width="35" src="assets/images/s-logo.png">
                </a>
                <ng-content></ng-content>
            </mat-toolbar-row>

        </mat-toolbar>
    </div>
</div>