@import "../../sass/variables";

.sf-nav-welcome-text {
  margin-left: 34px;
  margin-bottom: 0;
  font-weight: normal;
  @media #{$gt-xs}{
    min-width: 230px; //calculated number to have the help center search bar in the center of the window SFBUG-2159
  }
  @media #{$xs} {
    // viewport width - menu side padding - icons width - menu icon width
    max-width: calc(100vw - 34px * 2 - 44px * 2 - 35px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

sf-support-help-center {
  margin: 0 214px //calculated number to have the help center search bar in the center of the window SFBUG-2159
  0 10px;
  flex: 1;
}

mat-icon.sf-nav-icon {
  margin-left: 20px;
}

.sf-nav-selected-language {
  width: 24px;
}

.sf-icon-link {
  height: 24px;
  color: inherit;
}

.sf-language-menu-item {
  text-align: left;
}

.sf-notification-menu-item {
  height: auto;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  mat-icon {
    margin-right: 0;
  }

  .notification-text {
    display: inline-block;
    font-size: mat-font-size($config, body-2);
  }

  .last-visited {
    color: mat-color($primary, 600);
  }

  &.all-notifications {
    font-size: mat-font-size($config, caption);
    text-transform: uppercase;
    color: mat-color($accent, 500);
    & > span {
      margin-left: 28px;
    }
  }

  .last-visited {
    font-size: mat-font-size($config, caption);
    padding-left: 28px;
  }
}

