@import "../../sass/variables";

.sf-top-menu {
  width: 100vw;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 10;

  .sf-top-menu-container {
    width: 100%;
  }
}

a.nav-link.home {
  margin-left: 5px;
  img {
    vertical-align: top;
  }
}

.toggle-sidebar-icon {
  display: none;
}

button.back-in-history {
  display: none;
}

@media #{$xs} {
  .toggle-sidebar-icon {
    display: block;
  }

  button.back-in-history {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
  }
}