<sfl-menu-container>
    <div class="sf-nav-welcome-text mat-title" routerLink="/">{{currentStore.name}}</div>

    <div fxFlex></div>
    <div class="sf-fill-space" fxShow fxHide.gt-sm></div>
    <a (click)="navigateToTimeline()" class="sf-icon-link">
        <mat-icon class="sf-nav-icon" [ngClass]="{'sf-badge': newEvents > 0}"
                  [attr.data-badge]="newEvents">notifications_none
        </mat-icon>
    </a>
    <mat-icon class="sf-nav-icon" [matMenuTriggerFor]="accountMenu">person_outline</mat-icon>
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" classList="account-menu">
        <a mat-menu-item sflLegacyLink path="/admin" *ngIf="isAdmin" i18n>Admin</a>
        <a mat-menu-item sflLegacyLink path="/marketplaces/globalparameters" i18n
           *ngIf="currentStore.permission.marketplaces">Settings</a>
        <a mat-menu-item sflLegacyLink path="/tools/settings" i18n>Alert Management</a>
        <a mat-menu-item sflLegacyLink path="/facturation" i18n
           *ngIf="currentStore.permission.facturation && currentStore.paymentType !== paymentTypes.other">Membership</a>
        <a mat-menu-item sflLegacyLink path="/tools/access" i18n *ngIf="!isManager">Access</a>
        <hr>
        <ng-container  *ngIf="!isAdmin">
        <ng-container *ngFor="let store of userInfo._embedded.store">
            <a class="store-link" mat-menu-item *ngIf="store.id !== currentStore.id && store.status !== storeStatus.deleted"
                    sflLegacyLink path="/" [storeId]="store.id">{{store.name}} {{store.id}}
            </a>
            <button class="store-link" mat-menu-item *ngIf="store.id !== currentStore.id && store.status === storeStatus.deleted"
                    disabled title="This store is deleted" i18n-title>{{store.name}}
            </button>
        </ng-container>
        </ng-container>
        <hr *ngIf="userInfo._embedded.store.length > 1">
        <a mat-menu-item i18n (click)="logout()">Logout</a>

    </mat-menu>
</sfl-menu-container>