<sf-menu-container>
    <div class="sf-nav-welcome-text mat-title">{{currentStore.name}}</div>

    <sf-support-help-center fxShow fxHide.lt-md></sf-support-help-center>
    <div class="sf-fill-space" fxShow fxHide.gt-sm></div>
    <a (click)="navigateToTimeline()" class="sf-icon-link">
        <mat-icon class="sf-nav-icon" [ngClass]="{'sf-badge': newEvents > 0}"
                  [attr.data-badge]="newEvents">notifications_none
        </mat-icon>
    </a>
    <mat-icon class="sf-nav-icon" [matMenuTriggerFor]="accountMenu">person_outline</mat-icon>
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false">
        <a mat-menu-item sfLegacyLink path="/admin" *ngIf="isAdmin()" i18n>Admin</a>
        <a mat-menu-item sfLegacyLink path="/marketplaces/globalparameters" i18n
           *ngIf="currentStore.permission.marketplaces">Settings</a>
        <a mat-menu-item sfLegacyLink path="/tools/settings" i18n>Alert Management</a>
        <a mat-menu-item sfLegacyLink path="/facturation" i18n
           *ngIf="currentStore.permission.facturation">Membership</a>
        <a mat-menu-item sfLegacyLink path="/tools/access" i18n>Access</a>
        <hr>
        <ng-container *ngFor="let store of userInfo._embedded.store">
            <button mat-menu-item *ngIf="store.id !== currentStore.id && store.status !== storeStatus.deleted"
                    (click)="chooseStore(store)">{{store.name}}
            </button>
            <button mat-menu-item *ngIf="store.id !== currentStore.id && store.status === storeStatus.deleted"
                    disabled title="This store is deleted" i18n-title>{{store.name}}
            </button>
        </ng-container>
        <hr *ngIf="userInfo._embedded.store.length > 1">
        <a mat-menu-item i18n (click)="logout()">Logout</a>

    </mat-menu>
</sf-menu-container>