<sf-menu-container>
  <md-menu #langMenu="mdMenu" class="sf-language-menu" [overlapTrigger]="false">
    <a md-menu-item class="sf-language-menu-item"  *ngFor="let locale of localizations" href="/{{locale[0]}}/login">
      <img src="/assets/images/flags/{{locale[0]}}.png" class="sf-flag">
      <span i18n>{{locale[1]}}</span>
    </a>
  </md-menu>
  <div class="menu-blank-space"></div>
  <div class="sf-nav-selected-language" [mdMenuTriggerFor]="langMenu" *ngIf="displayFlags">
    <img src="/assets/images/flags/{{localeId}}.png" >
  </div>
</sf-menu-container>