<sf-channel-box>
    <a class="channel-logo" sfChannelLogo sfLegacyLink [path]="goToChannelLink(channel._embedded.channel)">
        <img mat-card-image [src]="channel._embedded.channel._links.image.href"
             [alt]="channel._embedded.channel.name"></a>
    <sf-channel-turnover>
        <span sfTitle i18n>Turnover</span>
        <span *ngIf="statisticsExistsFor('revenue') && hasStatisticsPermission; else unavailable">
            {{channel.statistics.revenue | sfCurrency:channel.statistics.currency}}
        </span>
    </sf-channel-turnover>
    <sf-channel-online [class.online-low]="channelsOnline <= 30"
                       [class.online-middle]="channelsOnline > 30 && channelsOnline < 75"
                       [class.online-high]="channelsOnline >= 75">
        <span sfTitle i18n>Online</span>
        <span *ngIf="channelsOnline >= 0; else unavailable">{{channelsOnline}}%</span>
    </sf-channel-online>

    <ng-template #unavailable>
        <sf-stats-unavailable></sf-stats-unavailable>
    </ng-template>
</sf-channel-box>
