@import '../../../../sass/variables';
@import '../channel-box';

@include channelBox();

.channel-link {
  text-decoration: none;
  color: black;
}

.online-low {
  color: mat-color($warn);
}

.online-middle {
  color: mat-color($accent);
}

.online-high {
  color: mat-color($green);
}