<a sflLegacyLink [path]="channel._embedded.channel | sfChannelLink" class="channel-link">
    <mat-card-content fxFlex fxLayout="column" fxLayoutGap="15px">
        <a class="channel-logo">
            <img mat-card-image [src]="channel._embedded.channel._links.image.href"
                 [alt]="channel._embedded.channel.name"></a>

        <div class="channel-box-line channel-turnover" fxLayout="row" matTooltip="Last 30 days - Tax included" i18n-matTooltip
             matTooltipPosition="right">
            <div class="channel-box-line-title" i18n fxFlex>Turnover</div>
            <span class="sf-color-dark-grey" *ngIf="revenueStatisticsAvailable && hasStatisticsPermission; else unavailable">
                {{channel.statistics.revenue | sfCurrency:channel.statistics.currency:0}}
            </span>
        </div>

        <div class="channel-box-line channel-online" fxLayout="row" [class.online-low]="channelsOnline <= 30"
             [class.online-middle]="channelsOnline > 30 && channelsOnline < 75"
             [class.online-high]="channelsOnline >= 75" matTooltip="Products successfully sent to channel" i18n-matTooltip
             matTooltipPosition="right">
            <div class="channel-box-line-title" i18n fxFlex>Online</div>
            <span *ngIf="channelsOnline >= 0; else unavailable">{{channelsOnline}}%</span>
        </div>

        <div class="channel-box-line" fxLayout="row">
            <div class="channel-box-line-title" i18n fxFlex>Latest export</div>
            <div class="sf-color-dark-grey" *ngIf="channel.lastExport; else unavailable" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <mat-icon color="warn" *ngIf="channel.lastExportFailed">error</mat-icon>
                <span timeago [date]="channel.lastExport"></span>
            </div>
        </div>

        <ng-template #unavailable>
            <span i18n class="sf-color-dark-grey" matTooltip="Unavailable" i18n-matTooltip matTooltipPosition="right">--</span>
        </ng-template>
    </mat-card-content>
</a>
