@import '../../../../src/sass/variables';

mat-card, button {
  margin-top: 20px;
}

.country-autocomplete {
    text-transform: capitalize;
}

sfa-error-message {
  margin-top: 20px;
}

a.dashboard-link {
  &, &:visited {
    color: mat-color($accent);
  }
}