<div class="background">
    <div class="card">
        <div class="title">
            <div class="title-logo">
                <img src="assets/path/initial-path/welcome/ballon.png" alt="Shopping Feed" class="logo"/>
            </div>
            <h4 class="title-text" i18n>Welcome to Shopping Feed. It's so nice to see you!</h4>
        </div>
        <div class="content" i18n>
            If you aren't quite sure what you are doing, let us give you a call.
            Onboarded users make on average 3X the amount of new orders in their first month alone.
            Our team is ready to give you a helping hand, answering all your questions, and getting you setup on each of
            your channels.
        </div>
        <a routerLink="/register/schedule-call" class="btn btn-success btn-call">Schedule a call</a>
        <a href="#" class="small-link">Or connect your first channel</a>
    </div>
</div>