@import '../../../../sass/variables';

mat-form-field {
  width: 100%;
}

button.save-matching {
  margin-top: 12px;
}

.category-mapping {
  padding: 16px;
}

mat-card {
  padding: 0;
  margin-top: 20px;
}

.category-mapping-header {
  height: 36px;
}

.card-label {
  color: $black-54-opacity;
}