<div fxLayout="row" fxLayoutAlign="start center" class="mapping-header">
    <div i18n fxFlex class="mat-body-1 card-label">Search and assign a category</div>
    <button mat-stroked-button color="accent" class="sf-button-chip-alike blue" (click)="usePreviousMapping()"
            *ngIf="hasCachedMapping" i18n>Use previous
    </button>
</div>
<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" class="category-mapping">
            <mat-form-field appearance="outline" color="accent" fxFlex>
                <mat-label i18n>Category mapping</mat-label>
                <input type="search" matInput [formControl]="searchChannelCategoryControl" (keyup)="watchDeletion()"
                       [matAutocomplete]="auto">
                <button *ngIf="searchChannelCategoryControl.value" mat-button matSuffix mat-icon-button
                        aria-label="Clear" (click)="removeValue()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="searchChannelCategoryControl.hasError('categoryMappingEmpty')" i18n>Please select
                    category from list
                </mat-error>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                  (optionSelected)="chooseCategory($event.option.value)" class="sf-category-autocomplete">
                    <mat-option *ngFor="let category of channelCategoryOptions" [value]="category">
                        <div class="sf-option-content" [innerHTML]="category.name | highlight:searchChannelCategoryControl.value"></div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button class="save-matching" mat-raised-button i18n color="accent" (click)="saveMatching()">Save
            </button>
        </div>
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
    </mat-card-content>
</mat-card>
