<mat-form-field appearance="outline" color="accent">
    <mat-label i18n>Category matching</mat-label>
    <input matInput [formControl]="searchChannelCategoryControl" [matAutocomplete]="auto"
           [value]="searchChannelCategoryValue">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                      (optionSelected)="chosenChannelCategory = $event.option.value">
        <mat-option *ngFor="let category of channelCategoryOptions"
                    [value]="category">{{category.name}}</mat-option>
    </mat-autocomplete>
</mat-form-field>
<div class="actions" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button i18n color="accent" (click)="resetMatching()">Reset</button>
    <button mat-raised-button i18n matStepperNext color="accent" (click)="saveMatching()">Save & Next</button>
</div>