@import '../../../../sass/variables';
@import '../mapping-common.mixin';

@include mappingCommon();

mat-form-field {
  width: 100%;
}

button.save-matching {
  margin-top: 12px;
}

.category-mapping {
  padding: 16px;
}

mat-card {
  padding: 0;
  margin-top: 20px;
}

::ng-deep {
  .sf-category-autocomplete {
    mat-option.mat-option {
      height: auto;
      white-space: normal;
      line-height: 24px;
      font-size: 14px;
      padding: 8px 16px;
      & > span.mat-option-text {
        display: table;
        width: 100%;
        & > div.sf-option-content {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}
