@import '../../../../src/sass/variables';
@import '~system-font-css/_system-font';

$config: mat-typography-config(
        $font-family: system-ui,
        $body-2: mat-typography-level(14px, 24px, 700),
        $button: mat-typography-level(14px, 14px, 700),
        $title: mat-typography-level(20px, 32px, 700),
        $input: mat-typography-level(14px, 1.25, 400)
);

$toolbar-height: 0;
$paginator-height: 65px;