<div class="toolbar-search-container">
    <md-icon class="sf-search-icon">search</md-icon>
    <input placeholder="Do you need some help ?" i18n-placeholder #searchInput class="toolbar-search"
           [formControl]="searchControl" (focus)="showSearchResult=true">
    <md-progress-bar mode="indeterminate" color="accent" *ngIf="showSearchResult && processing"></md-progress-bar>
</div>

<div class="search-results mat-elevation-z22">
    <div *ngIf="showSearchResult && searchResults && searchResults.length">
        <div *ngFor="let entry of searchResults" class="search-entry"
             (click)="link.click(); clearSearch()">
            <div class="mat-subheading-1 title">{{entry.subject}}</div>
            <div class="mat-subheading-1 description">{{entry.body_chat}}</div>
            <div class="actions">
                <a class="details-link mat-body-2" #link [href]="entry.public_url" target="_blank">READ MORE</a>
            </div>
        </div>
        <div class="search-entry all-posts">
            <a class="mat-body-2" href="{{supportUrl}}/customer/{{helpCenterLanguage}}/portal/articles/search?q={{searchInput.value}}" target="_blank">View
                all posts</a>
        </div>
    </div>
    <div *ngIf="showSearchResult && searchResults && !searchResults.length" class="no-results-container">
        <div class="mat-subheading-2 no-results">No results</div>
        <a href="#" (click)="clearSearch()" class="mat-body-1 clear-results">Clear</a>
    </div>

</div>

<div class="support-help-center-overlay" (click)="clearSearch()" *ngIf="showSearchResult"></div>