<mat-dialog-content>
    <div i18n class="top-text mat-headline">
        List your <ng-container *ngIf="data.charge.references.count">{{data.charge.references.count}}</ng-container> products on
    </div>
    <img [src]="data.logo" class="channel-logo" alt="channel">

    <div class="mat-display-1 price" i18n>Only {{data.charge.pricing.monthlyAmount.value |
        sfCurrency:'USD'}}/Month
    </div>
    <div *ngIf="data.charge.pricing.commission.coefficient" i18n class="commission">
        +{{data.charge.pricing.commission.coefficient * 100}}% of marketplaces order
    </div>

    <a mat-raised-button color="accent" sfLegacyLink [path]="data.link" class="start-trial-button mat-title" i18n>Start Trial</a>

    <div fxFlexLayout="row" fxLayoutGap="36px">
        <div fxFlex="1 1 calc(33% - 36px)">
            <div class="oppo-icon"><img src="{{baseHref}}/assets/images/cloudplus3.svg" alt="Cloud Icon"></div>
            <div class="oppo-title" i18n>unlimited orders</div>
            <div><ng-container i18n>included in each of our</ng-container> <a [href]="pricesLink" target="_blank" class="plans-link" i18n>plans</a></div>
        </div>
        <div fxFlex="1 1 calc(33% - 36px)">
            <div class="oppo-icon"><img src="{{baseHref}}/assets/images/calendar.svg" alt="Calendar Icon"></div>
            <div class="oppo-title" i18n>14 days free trial</div>
            <div i18n>with onboarding and setup assistance</div>
        </div>
        <div fxFlex="1 1 calc(33% - 36px)">
            <div class="oppo-icon"><img src="{{baseHref}}/assets/images/s-icon.svg" alt="Flat Fee Icon"></div>
            <div class="oppo-title" i18n>up to 10k products</div>
            <div i18n>with unlimited variants and no per-product fees</div>
        </div>
    </div>
</mat-dialog-content>
