@import '../../../sass/variables';

.price {
  color: mat-color($accent, 700);
  font-weight: bold;
}

mat-dialog-content {
  margin-top:0;
  margin-bottom: 10px;
  width: 620px;
  text-align: center;
  .text {
    text-align: left;
    margin-bottom: 40px;
  }
  max-height: none;
}

.oppo-icon {
  height: 100px;
}

.oppo-title {
  text-transform: uppercase;
  color: mat-color($accent);
  font-weight: bold;
  margin-bottom: 10px;
}

.start-trial-button {
  margin-top: 40px;
  text-transform: uppercase;
}

a.plans-link {
 color: inherit;
}

.top-text {
  margin: 10px 0;
}