@import '../../../sass/variables';

.price {
  color: mat-color($accent, 700);
  font-weight: bold;
  margin-bottom: 0;
}

mat-dialog-content {
  margin-top:0;
  margin-bottom: 10px;
  width: 620px;
  text-align: center;
  .text {
    text-align: left;
    margin-bottom: 40px;
  }
  max-height: none;
}

.oppo-icon {
  height: 100px;
}

.oppo-title {
  text-transform: uppercase;
  color: mat-color($accent);
  font-weight: bold;
  margin-bottom: 10px;
}

.start-trial-button {
  font-size: mat-font-size($config, title);
  padding: 14px 25px;
  margin: 45px 0;
  text-transform: uppercase;
}

a.plans-link {
 color: inherit;
}

.top-text {
  margin: 10px 0;
}

img.channel-logo {
  transform: scale(0.8);
}

.commission {
  font-size: 22px;
  color: $black-54-opacity;
}