@import '../../../sass/variables';

.price {
  color: mat-color($accent, 700);
}

mat-dialog-content {
  margin-top:0;
  margin-bottom: 10px;
  width: 535px;
  text-align: center;
  .text {
    text-align: left;
    margin-bottom: 40px;
  }
}