@import '../../../sass/variables';
@import '../../../sass/mixins/channel';

@include channel-common-styles();

:host {
  height: 100%;
}

.channel-info-line {
  margin-bottom: 15px;

  & > span {
    vertical-align: middle;
  }

  &.channel-description {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  & > a {
    text-decoration: none;
    color: $black-87-opacity;
  }
}

div.connect-button {
  text-align: center;
}
