<md-card class="channel-card">
    <md-card-content>
        <div><img md-card-image [src]="appUrl + '/images' + channel._links.image.href" [alt]="channel.name"></div>
        <div class="channel-info-line">
            <a href="{{appUrl}}/statistics"><span class="channel-name">{{channel.name}}</span></a>
        </div>
        <div class="channel-info-line channel-description">
            <span>{{channel.description}} </span>
        </div>
        <div class="connect-button">
            <a md-button color="accent" [href]="appUrl + '/' + channel.name" i18n>CONNECT</a>
        </div>
    </md-card-content>
</md-card>