@import '../../../sass/variables';
@import '../../../sass/mixins/channel';

@include channel-common-styles();

:host {
  height: 100%;
}

mat-card-content {
  align-items: center;
}

div.connect-button {
  text-align: center;
}
