<md-card-content fxFlex fxLayout="column">
    <div class="channel-logo"><img md-card-image [src]="appUrl + '/images/logos' + channel._links.image.href"
                                   [alt]="channel.name"></div>
    <div class="channel-info-line">
        <a href="{{appUrl}}/statistics"><span class="mat-title">{{channel.name}}</span></a>
    </div>
    <div class="channel-info-line channel-description mat-body-1">
        <span>{{channel.description}}</span>
    </div>
    <div class="sf-fill-space"></div>
    <div class="connect-button">
        <a md-button color="accent" *ngIf="!internationalMode" [href]="appUrl + '/' + channel.name"
           i18n><strong>CONNECT</strong></a>
        <a md-button color="accent" *ngIf="internationalMode"
           (click)="showInternationalChannelDialog()" i18n><strong>CONNECT</strong></a>
    </div>
</md-card-content>
