<app-menu></app-menu>

<div class="page">
  <h1 class="title element" i18n>
    Just a moment while we create your account.
  </h1>

  <div class="card element">
    <div class="columns">
      <div class="logo">
        <img src="assets/path/initial-path/create-account/ballon.png" alt="Shopping Feed" class="logo-image"/>
      </div>
      <div class="keypoints">
        <div class="keypoint">
          <div class="keypoint-logo">
            <img src="assets/path/initial-path/create-account/auto-setup.png" alt="Auto-setup" class="keypoint-logo-image" />
          </div>
          <div class="keypoint-text">
            <h2 class="keypoint-title" i18n>Auto-Configure</h2>
            <p i18n>
              Each channel walks you through every step, connecting to the channel and listing products in no time.
              Just click Connect, and go!
            </p>
          </div>
        </div>

        <div class="keypoint">
          <div class="keypoint-logo">
            <img src="assets/path/initial-path/create-account/order-sync.png" i18n-alt alt="Custom channels" class="keypoint-logo-image" />
          </div>
          <div class="keypoint-text">
            <h2 class="keypoint-title" i18n>Order syncing</h2>
            <p i18n>
              Order that are made on connected channels are imported back into your storefront, letting you fulfill all your channel order right from your CMS.
              Their shipping status and messaging automatically send to your customers.
              Over $30M in orders pass through Shopping Feed every day!
            </p>
          </div>
        </div>

        <div class="keypoint">
          <div class="keypoint-logo">
            <img src="assets/path/initial-path/create-account/inventory-sync.png" i18n-alt alt="Inventory Sync" class="keypoint-logo-image" />
          </div>
          <div class="keypoint-text">
            <h2 class="keypoint-title" i18n>Inventory Sync</h2>
            <p i18n>
              Realtime, dynamic inventory tracking of your products across all of your Shopping Feed channels.
              When a product goes out of stock, each channel removes its product listing
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-progressbar i18n-text text="Building your account"
                   (refresh)="refreshProgressBar($event)"
                   (onFinish)="onFinish()">
  </app-progressbar>
</div>