<app-menu></app-menu>

<div class="page">
  <h1 class="title element">
    Please wait a moment while we are creating your Shopping Feed account.
  </h1>

  <div class="card element">
    <div class="columns">
      <div class="logo">
        <img src="assets/path/initial-path/create-account/ballon.png" alt="Shopping Feed" class="logo-image"/>
      </div>
      <div class="keypoints">
        <div class="keypoint">
          <div class="keypoint-logo">
            <img src="assets/path/initial-path/create-account/auto-setup.png" alt="Auto-setup" class="keypoint-logo-image" />
          </div>
          <div class="keypoint-text">
            <h2 class="keypoint-title">Auto-installation</h2>
            <p>
              Shopping flux vous guidera pour chaque canal de diffusion à travers les étapes nécessaires
              pour se connecter et mettre en ligne vos produits très rapidement.
            </p>
          </div>
        </div>

        <div class="keypoint">
          <div class="keypoint-logo">
            <img src="assets/path/initial-path/create-account/custom-channels.png" alt="Custom channels" class="keypoint-logo-image" />
          </div>
          <div class="keypoint-text">
            <h2 class="keypoint-title">Exports personnalisés</h2>
            <p>
              Créez des flux de données personnalisés, avec vos produits, grâce à notre outil facile à utiliser.
              Si vous avez besoin d'un export de produit, shopping flux peut le créer, simplement et efficacement.
            </p>
          </div>
        </div>

        <div class="keypoint">
          <div class="keypoint-logo">
            <img src="assets/path/initial-path/create-account/conversion-tracking.png" alt="Conversion tracking" class="keypoint-logo-image" />
          </div>
          <div class="keypoint-text">
            <h2 class="keypoint-title">Suivi des conversions</h2>
            <p>
              Suivez les ventes engendrées par vos publicités avec notre suivi des conversions pour comparateurs de prix.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-progressbar [text]="'Start selling now'"
                   (refresh)="refreshProgressBar($event)"
                   (onFinish)="onFinish()">
  </app-progressbar>
</div>