<sf-sidebar [showExtendedSidenav]="true">
    <mat-list-item class="has-top-margin">
        <a routerLink="/orders">Orders</a>
    </mat-list-item>
    <mat-list-item class="active auto-height">
        <div matLine>Settings</div>
        <mat-list matLine>
            <mat-list-item>
                <a [class.active]="activeLink === 'test-order'"
                   sflLegacyLink path="/marketplaces/createorder" i18n fxFlex class="mat-body-1">Test order</a>
            </mat-list-item>
            <mat-list-item>
                <a [class.active]="activeLink === 'reporting'"
                   sflLegacyLink path="/marketplaces/listexport" i18n fxFlex class="mat-body-1">Reporting</a>
            </mat-list-item>
            <mat-list-item>
                <a [class.active]="activeLink === 'tags-management'"
                   routerLink="/orders/tags-management">Tags management</a>
            </mat-list-item>
        </mat-list>
    </mat-list-item>
</sf-sidebar>