/* You can add global styles to this file, and also import other style files */
@import '../../../src/styles';

@import '../src/sass/material-theme';
a[mat-stroked-button]{
  text-transform: uppercase;
}

.sf-snackbar-error {
  background-color: mat-color($warn, 100);
  color: mat-color($warn, 900);
  font-size: mat-font-size($config, body-1);
  text-align: center;
}

html, body, app-root {
  overflow: initial;
  height: auto;
}


