<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="40px">
            <div fxFlex="1 1 50%">
                <img [src]="order?._embedded?.channel?._links?.image?.href"
                     [alt]="order?._embedded?.channel?.name">
            </div>


            <sf-order-status fxFlex="1 1 50%" [status]="order.status" class="mat-subheading-2"></sf-order-status>
        </div>
        <div class="mat-body-2" i18n>Order ID {{order.reference}}</div>
        <div i18n>Store reference {{order.storeReference}}</div>
        <div i18n>{{order.createdAt | date:'short'}}</div>
        <mat-chip-list>
            <mat-chip color="accent" [selected]="true" *ngFor="let tag of order._embedded.tag">
                {{tag.name}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card>