<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
            <div>
                <img [src]="order?._embedded?.channel?._links?.image?.href"
                     [alt]="order?._embedded?.channel?.name">
            </div>
            <div fxFlex>
                <div class="mat-body-2" i18n>Order ID: {{order.reference}}</div>
                <div>Date: {{order.createdAt | date:'short'}}</div>
                <div i18n *ngIf="order.acknowledgedAt">Acknowledged at: {{order.acknowledgedAt | date:'short'}}</div>
                <div i18n *ngIf="order.storeReference">Store reference: {{order.storeReference}}</div>
                <div i18n *ngIf="order?.shipment?.trackingNumber">Tracking number: {{order.shipment.trackingNumber}}</div>
                <div *ngFor="let field of additionalFields">
                    {{field[0]}}: {{field[1]}}
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start end">
                <sf-order-status [status]="order.status" class="mat-title"></sf-order-status>
                <mat-chip-list class="sf-tags-chips" *ngIf="order._embedded.tag && order._embedded.tag.length">
                    <sf-tag-chip *ngFor="let tag of order._embedded.tag" [tag]="tag"></sf-tag-chip>
                </mat-chip-list>
            </div>

        </div>
    </mat-card-content>
</mat-card>
