<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="40px">
            <div fxFlex="1 1 50%">
                <img [src]="order?._embedded?.channel?._links?.image?.href"
                     [alt]="order?._embedded?.channel?.name">
            </div>


            <sf-order-status fxFlex="1 1 50%" [status]="order.status" class="mat-subheading-2"></sf-order-status>
        </div>
        <div class="mat-body-2" i18n>Order ID {{order.reference}}</div>
        <div>{{order.createdAt | date:'short'}}</div>
        <div i18n *ngIf="order.acknowledgedAt">Acknowledged at {{order.acknowledgedAt | date:'short'}}</div>
        <div i18n>Store reference {{order.storeReference}}</div>
        <mat-chip-list class="sf-tags-chips" *ngIf="order._embedded.tag && order._embedded.tag.length">
            <mat-chip class="sf-tag" *ngFor="let tag of order._embedded.tag">
                {{tag.name}}
            </mat-chip>
        </mat-chip-list>
        <div *ngFor="let field of additionalFields">
            {{field[0]}}: {{field[1]}}
        </div>
    </mat-card-content>
</mat-card>