@import '../../../sass/variables';
@import '../../../sass/mixins/form-page';

@include form-page();

.reload {
  color: mat-color($accent);
  font-weight: bold;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.error-message {
  margin-bottom: 20px;
}
