@import '../../../sass/variables';

$header-section-width: 84px;

.scrollable-container {
  height: calc(100vh - 2 * #{$content-margin} - #{$header-section-width});
}

.next-category-button {
  text-align: right;
}

a[color="accent"].continue-button {
  background-color: mat-color($green);
  color: white;
}

sf-category-mapping {
  margin-bottom: 20px;
}
