@import '../../../sass/variables';

$line-padding: 20px;
mat-card.categories-list {
  padding: 0;

  mat-list {
    mat-list-item {
      padding: $line-padding;
      border-bottom: 1px solid $black-12-opacity;
      width: auto;

      &.selected {
        background-color: mat-color($accent, 0.1);
      }
    }
  }

  mat-paginator {
    padding: calc(#{$line-padding} - 8px);
  }
}

.user-category-row {
  width: 100%;
}