<div fxLayout="row" fxLayoutAlign="center center" class="sf-content" fxLayoutGap="40px">
    <div fxFlex>
        <img [src]="channel?._links?.image?.href" height="40px">
    </div>
    <div i18n>Your catalog's configuration is up to {{ percentage | percent:'1.0-0' }}</div>
    <a sflLegacyLink [path]="channel | sfChannelLink" mat-raised-button color="accent" i18n
       [disabled]="percentage === 0" [class.continue-button]="percentage > 0">Continue</a>
</div>
<mat-divider></mat-divider>
<div class="sf-content">

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">

        <sf-feed-categories-list fxFlex (updated)="refreshPercentage()"></sf-feed-categories-list>
        <div fxFlex fxLayout="column" class="scrollable-container"
             *ngIf="feedCategoriesList?.categories?.length">
            <sf-category-mapping
                    [channelId]="channel.id"></sf-category-mapping>
            <ng-container *ngIf="feedCategoriesList?.chosenCatalogCategory?.channelCategory">
                <sf-autotag-mapping #autotagMappingComponent
                                    (autotagsLoaded)="onAutotagsLoaded()"
                                    (autotagUpdated)="feedCategoriesList.refreshCategoriesList().subscribe()"></sf-autotag-mapping>
            </ng-container>
            <div class="next-category-button">
                <button *ngIf="feedCategoriesList.chosenCatalogCategory.state === catalogCategoryState.Configured" mat-stroked-button color="accent" i18n (click)="feedCategoriesList.chooseNextCatalogCategory()">Next
                </button>
            </div>
        </div>
    </div>
</div>
