<div class="scrollable-container sf-content">
    <div fxLayout="row" fxLayoutAlign="center center" class="launch-channel-box" fxLayoutGap="40px">
        <div fxFlex>
            <img [src]="channel?._links?.image?.href" height="40px">
        </div>
        <a sflLegacyLink [path]="channel | sfChannelLink" mat-raised-button color="accent" i18n
           [disabled]="percentage === 0">Launch</a>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">
        <div fxLayout="column" fxFlex>
            <label>
                <mat-card class="client-category-search">
                    <mat-card-content>
                        <div class="search-container">
                            <mat-icon>search</mat-icon>
                            <input [formControl]="searchClientCategoryControl" class="mat-subheading-1" i18n-placeholder
                                   placeholder="Search">
                            <button mat-stroked-button color="accent" (click)="openFilterDialog()">
                                Filter
                            </button>
                        </div>
                        <mat-progress-bar mode="indeterminate" color="accent"
                                          *ngIf="processingClientCategorySearch"></mat-progress-bar>
                    </mat-card-content>
                </mat-card>
            </label>
            <mat-chip-list [selectable]="false" class="filter-chips" *ngIf="categoryStateFilter">
                <mat-chip color="accent">
                    <ng-container i18n *ngIf="categoryStateFilter === categoryStateOptions.Configured">Configured
                        categories only
                    </ng-container>
                    <ng-container i18n *ngIf="categoryStateFilter === categoryStateOptions.Misconfigured">Misconfigured
                        categories only
                    </ng-container>
                    <mat-icon (click)="cancelFilter()">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <sf-feed-categories-list [categories]="categories"
                                     (pageChanged)="refreshCategoriesList()">
            </sf-feed-categories-list>
        </div>
        <div fxFlex="30%" fxLayout="column" fxLayoutGap="20px" *ngIf="feedCategoriesList?.categories?.length">
            <sf-category-mapping
                    [channelId]="channel.id"
                    [feedCategory]="feedCategoriesList?.chosenCatalogCategory"></sf-category-mapping>
            <ng-container *ngIf="feedCategoriesList?.chosenCatalogCategory?.channelCategory">
                <sf-autotag-mapping [feedId]="feed.id"
                                    [catalogCategoryId]="feedCategoriesList?.chosenCatalogCategory?.id"
                                    [channelCategoryId]="feedCategoriesList?.chosenCatalogCategory?.channelCategory?.id"
                                    (autotagsLoaded)="onAutotagsLoaded()"
                                    (autotagUpdated)="refreshCategoriesList()"></sf-autotag-mapping>
                <button mat-stroked-button color="accent" i18n (click)="feedCategoriesList.chooseNextCatalogCategory()"
                        class="next-category-button">Next
                </button>
            </ng-container>
        </div>


    </div>
</div>
