@import '../../../../sass/variables';

$line-padding: 5px;
$header-section-height: 84px;
$solo-search-height: 80px;
$table-header: 59px;
$paginator-height: 64px;

.scrollable-container {
  max-height: calc(100vh - 2 * #{$content-margin} - #{$header-section-height} - #{$solo-search-height} - #{$table-header} - #{$paginator-height});
  height: auto;
}

mat-card.categories-list {
  padding: 0;

  .sf-label.mat-chip {
    cursor: pointer;
  }

  mat-list {
    padding-top: 0;
    mat-list-item {
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      padding: $line-padding;
      border-bottom: 1px solid $black-12-opacity;
      width: auto;

      &.user-category-row {
        opacity: 0.7;
        cursor: pointer;
        &.selected, &:hover {
          opacity: 1;
          background-color: mat-color($accent, 0.1);
        }
      }


      div.green {
        mat-icon {
          color: mat-color($green);
        }
      }

      &.user-category-header-row {
        color: $black-54-opacity;
      }

      .user-category-row-content, .user-category-header-row-content {
        width: 100%;
      }
    }
  }

  mat-paginator {
    padding: 0;
  }
}

sft-solo-search {
  margin-bottom: 20px;
}

mat-chip-list.filter-chips {
  margin-bottom: $content-margin;
  display: block;

  mat-chip {
    mat-icon {
      cursor: pointer;
      color: mat-color($grey);
    }
    mat-icon, span {
      vertical-align: middle;
    }
  }
}
