<sf-unauthenticated-menu></sf-unauthenticated-menu>

<div class="form-container">
    <div>
        <div class="form-title mat-display-1" i18n>Create your Shopping Feed account</div>
        <md-card>
            <md-card-content>
                <form (ngSubmit)="createPassword()" *ngIf="!displayServerError">
                    <md-input-container color="accent">
                        <input mdInput type="email" [formControl]="emailControl" placeholder="Email address">
                        <md-error *ngIf="emailControl.hasError('required')">
                            Email is <strong>required</strong>
                        </md-error>
                        <md-error *ngIf="!emailControl.hasError('required') && emailControl.hasError('email')">
                            Email should be a <strong>valid email address</strong>
                        </md-error>
                    </md-input-container>

                    <md-input-container color="accent">
                        <input mdInput type="password" [formControl]="passwordControl" placeholder="Create a password">
                        <md-error *ngIf="passwordControl.hasError('required')">
                            Password is <strong>required</strong>
                        </md-error>
                        <md-error *ngIf="!passwordControl.hasError('required') && passwordControl.hasError('minlength')">
                            Password should contain at least 7 symbols.
                        </md-error>
                    </md-input-container>
                    <div class="form-actions">
                        <button md-raised-button color="accent">NEXT</button>
                    </div>
                </form>
                <div *ngIf="displayServerError">
                    <div>We are really sorry but an error has occurred.</div>
                    <div>Please try again.</div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>