<sfl-image source="assets/images/login/shopify.png"></sfl-image>
<sf-create-account (submitted)="createPassword($event)">
    <div i18n class="sfui-body-small" sfui-welcome-text>
        Welcome to Shoppingfeed!
        Thank you for choosing the Shoppingfeed technology to manage your product feeds! As a first step, please enter your email address and create your password.
    </div>
    <sf-error-alert sfServerError *ngIf="displayServerError">
        <div sf-title i18n>Unable to connect</div>
        <div i18n> unexpected error occurred, try again later</div>
    </sf-error-alert>
</sf-create-account>
