<sf-unauthenticated-menu></sf-unauthenticated-menu>

<div class="form-container">
    <div>
        <div class="form-title mat-display-1" i18n>Create your Shopping Feed account</div>
        <mat-card>
            <mat-card-content>
                <form (ngSubmit)="createPassword()" *ngIf="!displayServerError">
                    <mat-form-field color="accent">
                        <input matInput type="email" [formControl]="emailControl" placeholder="Email address">
                        <mat-error *ngIf="emailControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="!emailControl.hasError('required') && emailControl.hasError('email')">
                            Email should be a <strong>valid email address</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field color="accent">
                        <input matInput type="password" [formControl]="passwordControl" placeholder="Create a password">
                        <mat-error *ngIf="passwordControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="!passwordControl.hasError('required') && passwordControl.hasError('minlength')">
                            Password should contain at least 7 symbols.
                        </mat-error>
                    </mat-form-field>
                    <div class="form-actions">
                        <button mat-raised-button color="accent">NEXT</button>
                    </div>
                </form>
                <div *ngIf="displayServerError">
                    <div>Unfortunately, your country is not currently supported.
                        If you are trying to sell in a different market, please let us know at {{supportEmail}}.</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>