mat-form-field {
  &.price-field {
    ::ng-deep {
      .mat-form-field-infix {
        width: 100px;
      }
    }
  }
}

mat-dialog-content {
  margin-bottom: 0;
}

button {
  mat-spinner {
    margin: 8px auto;
  }
}

sfa-error-message {
  margin-bottom: 25px;
  display: block;
}