mat-form-field {
  &.price-field {
    ::ng-deep {
      .mat-form-field-infix {
        width: 100px;
      }
    }
  }
}

mat-dialog-actions {
  display: block;
  text-align: right;
}


mat-dialog-content {
  margin-bottom: 0;
}