<sf-sidebar-container>
    <mat-list>
        <mat-list-item class="mat-active" [matMenuTriggerFor]="channelsMenu" matTooltip="CHANNELS"
                       matTooltipPosition="after"
                       i18n-matTooltip *ngIf="hasChannelsPermissions()" (onMenuOpen)="onMenuOpen()">
            <mat-icon class="active">wb_cloudy</mat-icon>
        </mat-list-item>


            <mat-list-item [matMenuTriggerFor]="ordersMenu" matTooltip="ORDERS" i18n-matTooltip matTooltipPosition="after"
                          *ngIf="currentStore.permission.marketplaces">
                <mat-icon [ngClass]="{'sf-badge': currentStore._embedded.order.newCount > 0}"
                         [attr.data-badge]="currentStore._embedded.order.newCount">shopping_basket</mat-icon>
            </mat-list-item>

        <mat-list-item [matMenuTriggerFor]="statisticsMenu" matTooltip="STATISTICS"  (onMenuOpen)="onMenuOpen()"
                      i18n-matTooltip matTooltipPosition="after" *ngIf="currentStore.permission.statistics">
            <mat-icon>trending_up</mat-icon>
        </mat-list-item>
            <mat-list-item [matMenuTriggerFor]="statisticsMenu" matTooltip="STATISTICS"  (onMenuOpen)="onMenuOpen()"
                          i18n-matTooltip matTooltipPosition="after" *ngIf="currentStore.permission.statistics">
                <mat-icon>trending_up</mat-icon>
            </mat-list-item>

            <mat-list-item [matMenuTriggerFor]="utilsMenu" matTooltip="TOOLS" i18n-matTooltip matTooltipPosition="after"
                          i18n-matTooltip *ngIf="currentStore.permission.tools" (onMenuOpen)="onMenuOpen()">
                <mat-icon>build</mat-icon>
            </mat-list-item>

            <mat-list-item [matMenuTriggerFor]="appsMenu" matTooltip="APPS"  i18n-matTooltip
                          matTooltipPosition="after" *ngIf="currentStore.permission.tools">
                <mat-icon>apps</mat-icon>
            </mat-list-item>

        <mat-list-item  matTooltip="UNIVERSITY" i18n-matTooltip matTooltipPosition="after"
                        *ngIf="currentStore.permission.university">
            <mat-icon>school</mat-icon>
        </mat-list-item>
    </mat-list>
    <div class="sf-sidebar-bottom-help" matTooltip="SUPPORT" matTooltipPosition="after" i18n-matTooltip>
        <a [href]="getSupportLink()" target="_blank"><mat-icon>help</mat-icon></a>
    </div>
</sf-sidebar-container>

<mat-menu #channelsMenu="matMenu" class="sf-sidebar-menu channels-menu">
    <a mat-menu-item *ngFor="let channel of (channels | async)" class="channel-logo" sfLegacyLink
       [path]="getChannelLink(channel)">
        <img [src]="channel._links.image.href" [alt]="channel.name">
    </a>
    <a mat-menu-item sfLegacyLink path="/tools/export" i18n>Custom data feeds</a>
</mat-menu>
<mat-menu #utilsMenu="matMenu" class="sf-sidebar-menu">
    <a mat-menu-item sfLegacyLink path="/tools/rules" i18n>Rules</a>
    <a mat-menu-item sfLegacyLink path="/tools/segmentations" i18n>Auto-Remove</a>
    <a mat-menu-item sfLegacyLink path="/marketplaces/autotag" i18n>Manage colors & sizes</a>
    <a mat-menu-item sfLegacyLink path="/tools/field" i18n>Create new fields</a>
    <a mat-menu-item sfLegacyLink path="/tools/relaunch" i18n>Intelligent assistant</a>
    <hr>
    <a mat-menu-item sfLegacyLink path="/tools/infos" i18n>Source feed</a>
    <a mat-menu-item sfLegacyLink path="/tools/filters" i18n>Filters</a>
    <a mat-menu-item sfLegacyLink path="/tools/newproducts" i18n>Recently added products</a>
    <a mat-menu-item sfLegacyLink path="/multiple" i18n>Select multichannels products</a>
</mat-menu>
<mat-menu #ordersMenu="matMenu" class="sf-sidebar-menu">
    <a mat-menu-item sfLegacyLink path="/marketplaces/orders" i18n>Orders</a>
    <a mat-menu-item sfLegacyLink path="/marketplaces/listexport" i18n>Order reporting</a>
</mat-menu>
<mat-menu #statisticsMenu="matMenu" class="sf-sidebar-menu">
    <a mat-menu-item sfLegacyLink path="/statistics" i18n>Global statistics</a>
    <a mat-menu-item sfLegacyLink path="/statistics/marketplaces" i18n>Marketplace statistics</a>
    <a mat-menu-item sfLegacyLink path="/statistics/shopbots" i18n>Shopping engine statistics</a>
    <hr>
    <a mat-menu-item sfLegacyLink path="/statistics/parameters" i18n>Settings</a>
    <a mat-menu-item sfLegacyLink path="/tools/marges" i18n>Margings</a>
    <a mat-menu-item sfLegacyLink path="/statistics/compare" i18n>Compare channels</a>
    <a mat-menu-item sfLegacyLink path="/statistics/exportstatistics" i18n>Exports</a>
</mat-menu>
<mat-menu #appsMenu="matMenu" class="sf-sidebar-menu">
    <a mat-menu-item sfLegacyLink path="/repricing" i18n>Repricing</a>
    <a mat-menu-item sfLegacyLink path="/tools/eanfinder" i18n>UPC/EAN/Barcodes Finder</a>
</mat-menu>