@import '../../sass/variables';

$config: mat-typography-config();

md-sidenav.mat-sidenav.sidenav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: $left-sidebar-width;
  min-width: $left-sidebar-width;
  background-color: mat-color($grey, A100);
  text-align: center;
  top: $toolbar-height;
  height: calc(100vh - #{$toolbar-height});
  border-right: 1px solid mat-color($grey, 300);

  @media screen and ($mat-xsmall) {
    top: $toolbar-tablet-height;
    height: calc(100vh - #{$toolbar-tablet-height});
  }

  md-icon {
    font-size: mat-font-size($config, headline);
    color: mat-color($grey, 500);
    cursor: pointer;
    margin: auto;

    &.active {
      color: mat-color($accent);
    }

    &:hover {
      color: mat-color($accent);
    }
  }
}

md-sidenav-container {
  min-height: 100%;
  max-width: 100%;
  transform: none;
  height: auto;
  margin: 0;
}

.sf-sidebar-bottom-help {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
