@import '../../sass/variables';

$sidebar-top-padding: 8px;
$mat-menu-item-height: 48px;
$bottom-menu-margin: 60px;

.homepage-link {
  font-size: mat-font-size($config, headline);
  height: mat-font-size($config, headline);
  margin: auto;
}

mat-icon {

  font-size: mat-font-size($config, headline);
  margin: auto;
  color: #818fa3;
  cursor: pointer;

  &.active, &:hover {
    color: white;
  }

  @media #{$xs} {
    margin-right: 10px;
    margin-left: 10px;

    & + span {
      text-transform: capitalize;
      margin-right: 10px;
    }
  }
}

a.channel-logo:hover, a.channel-logo:focus {
  background: transparent;
}

a.channel-logo {
  margin-bottom: 20px;
  width: auto;

  img {
    vertical-align: middle;
    max-width: 100px;
  }
}

span.support-label {
  vertical-align: super;
}

mat-list.sf-nav-list {
  height: 100%;
  padding-bottom: 10px;
}

.nav-link.home {
  margin: auto;
}

.appcues-link {
  mat-icon {
    color: mat-color($accent);
  }
}

::ng-deep {
  .channels-menu {
    max-height: calc(100vh - 2 * #{$mat-menu-item-height} - #{$sidebar-top-padding} - #{$bottom-menu-margin}) !important;
  }
}
