<md-sidenav-container>
    <md-sidenav class="sidenav sidenav-main" #sidenav mode="side" [opened]="opened" disableClose="true">
        <md-list>
            <md-list-item class="mat-active" [mdMenuTriggerFor]="channelsMenu" mdTooltip="CHANNELS" mdTooltipPosition="after"
                          i18n-mdTooltip *ngIf="hasChannelsPermissions() | async">
                <md-icon class="active">wb_cloudy</md-icon>
            </md-list-item>

            <md-list-item [mdMenuTriggerFor]="ordersMenu" mdTooltip="ORDERS" i18n-mdTooltip mdTooltipPosition="after"
                          *ngIf="(currentStore | async).permission.marketplaces">
                <md-icon [ngClass]="{'sf-badge': (currentStore | async).order.total > 0}"
                         [attr.data-badge]="(currentStore | async).order.total">shopping_basket</md-icon>
            </md-list-item>

            <md-list-item [mdMenuTriggerFor]="statisticsMenu" mdTooltip="STATISTICS"
                          i18n-mdTooltip mdTooltipPosition="after" *ngIf="(currentStore | async).permission.tools">
                <md-icon>trending_up</md-icon>
            </md-list-item>

            <md-list-item [mdMenuTriggerFor]="utilsMenu" mdTooltip="SETTINGS" i18n-mdTooltip mdTooltipPosition="after"
                          i18n-mdTooltip *ngIf="(currentStore | async).permission.tools">
                <md-icon>build</md-icon>
            </md-list-item>

            <md-list-item [mdMenuTriggerFor]="appsMenu" mdTooltip="APPS"  i18n-mdTooltip
                          mdTooltipPosition="after" *ngIf="(currentStore | async).permission.tools">
                <md-icon>apps</md-icon>
            </md-list-item>

            <md-list-item  mdTooltip="UNIVERSITY" i18n-mdTooltip mdTooltipPosition="after"
                           *ngIf="(currentStore | async).permission.university">
                <md-icon>school</md-icon>
            </md-list-item>
        </md-list>
        <div class="sf-sidebar-bottom-help" mdTooltip="SUPPORT" mdTooltipPosition="after" i18n-mdTooltip>
            <a [href]="getSupportLink()"><md-icon>help</md-icon></a>
        </div>
    </md-sidenav>


</md-sidenav-container>
<md-menu #channelsMenu="mdMenu" class="sf-sidebar-menu channels-menu">
    <a md-menu-item *ngFor="let channel of (channels | async)" class="channel-logo" sfLegacyLink [path]="getChannelLink(channel)">
        <img [src]="channel._links.image.href" [alt]="channel.name">
    </a>
    <a md-menu-item sfLegacyLink path="/tools/export" i18n>Custom data feeds</a>
</md-menu>
<md-menu #utilsMenu="mdMenu" class="sf-sidebar-menu">
    <a md-menu-item sfLegacyLink path="/tools/rules" i18n>Rules</a>
    <a md-menu-item sfLegacyLink path="/tools/segmentations" i18n>Auto-Remove</a>
    <a md-menu-item sfLegacyLink path="/marketplaces/autotag" i18n>Manage colors & sizes</a>
    <a md-menu-item sfLegacyLink path="/tools/field" i18n>Create new fields</a>
    <a md-menu-item sfLegacyLink path="/tools/relaunch" i18n>Intelligent assistant</a>
    <hr>
    <a md-menu-item sfLegacyLink path="/tools/filtres" i18n>Filters</a>
    <a md-menu-item sfLegacyLink path="/tools/newproducts" i18n>Recently added products</a>
    <a md-menu-item sfLegacyLink path="/multiple" i18n>Select multichannels products</a>
    <a md-menu-item sfLegacyLink path="/tools/infos" i18n>Source feed</a>
</md-menu>
<md-menu #ordersMenu="mdMenu" class="sf-sidebar-menu">
    <a md-menu-item sfLegacyLink path="/marketplaces/orders" i18n>Orders</a>
    <a md-menu-item sfLegacyLink path="/marketplaces/listexport" i18n>Order reporting</a>
</md-menu>
<md-menu #statisticsMenu="mdMenu" class="sf-sidebar-menu">
    <a md-menu-item sfLegacyLink path="/statistics" i18n>Global statistics</a>
    <a md-menu-item sfLegacyLink path="/statistics/marketplaces" i18n>Marketplace statistics</a>
    <a md-menu-item sfLegacyLink path="/statistics/shop" i18n>Shopping engine statistics</a>
    <hr>
    <a md-menu-item sfLegacyLink path="/statistics/parameters" i18n>Settings</a>
    <a md-menu-item sfLegacyLink path="/tools/marges" i18n>Margings</a>
    <a md-menu-item sfLegacyLink path="/statistics/compare" i18n>Compare channels</a>
    <a md-menu-item sfLegacyLink path="/statistics/exportstatistics" i18n>Exports</a>
</md-menu>
<md-menu #appsMenu="mdMenu" class="sf-sidebar-menu">
    <a md-menu-item sfLegacyLink path="/repricing" i18n>Repricing</a>
    <a md-menu-item sfLegacyLink path="/tools/eanfinder" i18n>UPC/EAN/Barcodes Finder</a>
</md-menu>