@import '~@angular/material/theming';

$black-54-opacity: rgba(0, 0, 0, 0.54);
$font-size: 14px;

@mixin listItemStyles() {
  color: $black-54-opacity;
  padding-left: 5px;
  padding-right: 5px;
  font-size: $font-size;

  &.has-top-margin {
    margin-top: 10px;
  }

  &.active, a.active, div[matLine] {
    color: mat-color($mat-blue, 700);
    font-weight: bold;
  }

  &.auto-height {
    height: auto;
  }
}


.sfl-expandable-sidenav {
  width: 200px;
  height: 100vh;
  background-color: white;
  position: fixed;
  left: 75px;
  transform: none;
  z-index: 5;
  box-shadow: none;
  border-right: 1px solid #eeeeee;

  mat-list {
    mat-list-item {
      @include listItemStyles();
      padding-top: 5px;
      padding-bottom: 10px;
    }

  }

  ::ng-deep {
    div[matLine] {
      height: 30px;
    }
    mat-list-item {
      @include listItemStyles();
      mat-list {
        mat-list-item {
          height: 30px;
        }
      }
    }

    a {
      color: $black-54-opacity;
      text-decoration: none;
      font-size: $font-size;
    }
  }
}