@import "../common";
$page-form-error: #DB3232;
$page-input-border: #7d7d7d;

.page {
  .card {
    .logo {
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-25%) translateY(-50%);
    }

    .cloud {
      z-index: 80;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(95%) translateY(-160%);
    }

    .title {
      font-family: Nunito-Regular;
      font-size: 32px;
      color: #098FD0;
    }

    .element {
      margin-bottom: 30px;
    }

    .form-label {
      font-family: HelveticaNeue;
      font-size: 13px;
      color: #333333;
      display: block;
    }

    .form-input, .form-input.ng-untouched:invalid {
      border: 0;
      border-bottom: 1px solid $page-input-border;
      display: block;
      width: 100%;

      &:focus {
        // chrome outline
        outline: 0;
      }

      + .form-error {
        visibility: hidden;
        font-size: 14px;
      }
    }

    .form-input:invalid {
      border: 0;
      border-bottom: 1px solid $page-form-error;
      box-shadow: none;

      + .form-error {
        visibility: visible;
        color: $page-form-error;
      }
    }

    .btn {
      font-family: Nunito-Regular;
      font-size: 18px;
      color: #FFFFFF;
      border-radius: 54px;
      border: 0;
      display: block;

      padding: 10px;
      min-width: 180px;
      outline: none;
      &::-moz-focus-inner {
        // firefox btn dotted border on focus
        border: none;
      }
    }

    .btn-success {
      background-color: #7bc280;
    }

    .btn-create-password {
      margin: 0 auto;
    }
  }
}