<h1>
  Shopping Feed account
</h1>

<form (submit)="createPassword()">
  <div>
    <label for="create-password-email">
      E-mail address
    </label>
    <input id="create-password-email" name="create-password[email]" type="email" [(ngModel)]="email" required/>
  </div>

  <div>
    <label for="create-password-password">
      Create password
    </label>
    <input id="create-password-password" name="create-password[password]" type="password" [(ngModel)]="password" required />
  </div>

  <input type="submit" value="OK" />
</form>