<mat-form-field color="accent" [appearance]="appearance">
    <mat-label i18n>Country</mat-label>
    <input autocomplete="off" type="text" matInput [formControl]="control" [matAutocomplete]="countryAutocomplete">
    <mat-autocomplete #countryAutocomplete="matAutocomplete" class="sf-countries-autocomplete" (optionSelected)="optionSelected($event)">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
            <img src="{{countriesListLink}}/images/{{country.flag}}" class="sf-flag-filter">
            <ng-container>{{country.name}}</ng-container>
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="control.hasError('serverError')" i18n>
        Country name is missing. Please, choose one from a list.
    </mat-error>
</mat-form-field>
