.card {
  position: relative;
  margin-bottom: 24px;
  padding: 20px 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  .box-search {
    button {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      border: none;
      background-color: transparent;
      &:active {
        outline: none;
      }
    }
    input {
      width: calc(100% - 90px);
      padding: 10px;
      border: none;
    }
  }
}
