<sf-sidebar-container>
  <mat-list>
    <mat-list-item matTooltip="Create a user" matTooltipPosition="after" i18n-matTooltip routerLink="/admin/create-user">
      <mat-icon>add</mat-icon>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="invoicing" matTooltip="Invoicing" matTooltipPosition="after" i18n-matTooltip>
      <mat-icon>attach_money</mat-icon>
    </mat-list-item>
    <mat-list-item matTooltip="Partners" matTooltipPosition="after" i18n-matTooltip>
      <a sfLegacyLink path="/admin/partners" class="partners-link" target="_blank"><mat-icon>people</mat-icon></a>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="tools" matTooltip="Tools" matTooltipPosition="after" i18n-matTooltip>
      <mat-icon>build</mat-icon>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="api" matTooltip="API" matTooltipPosition="after" i18n-matTooltip>
      <mat-icon>developer_board</mat-icon>
    </mat-list-item>
  </mat-list>
</sf-sidebar-container>

<mat-menu #invoicing="matMenu" class="sf-sidebar-menu">
  <a mat-menu-item i18n sfLegacyLink path="/admin/lost" target="_blank">Clients lost</a>
  <a mat-menu-item i18n sfLegacyLink path="/admin/churn" target="_blank">Churn</a>
  <a mat-menu-item i18n sfLegacyLink path="/admin/invoicing" target="_blank">Membership</a>
  <a mat-menu-item i18n sfLegacyLink path="/admin/turnover" target="_blank">Turnover</a>
</mat-menu>

<mat-menu #tools="matMenu" class="sf-sidebar-menu">
  <a mat-menu-item i18n sfLegacyLink path="/admin/segmentationcatalog" target="_blank">Auto-Remove Library</a>
  <a mat-menu-item i18n sfLegacyLink path="/admin/encyclofeedia" target="_blank">Encyclofeedia</a>
  <a mat-menu-item i18n sfLegacyLink path="/admin/rulecatalog" target="_blank">Rule Library</a>
</mat-menu>

<mat-menu #api="matMenu" class="sf-sidebar-menu">
  <a mat-menu-item i18n sfLegacyLink path="/admin/webservice" target="_blank">API Lookup</a>
  <a mat-menu-item i18n sfLegacyLink path="/admin/relaunchMarketplaceOrders" target="_blank">Relaunch Orders</a>
</mat-menu>