@import '../../../sass/variables';

mat-icon {
  font-size: mat-font-size($config, headline);
  color: $black-54-opacity;
  cursor: pointer;
  margin: auto;

  &.active {
    color: mat-color($accent);
  }

  &:hover {
    color: mat-color($accent);
  }

  @media #{$xs} {
    margin-right: 10px;
    margin-left: 10px;

    & + span {
      margin-right: 10px;
    }
  }
}

mat-list-item {
  outline: none;
  cursor: pointer;
}

.partners-link {
  @media #{$gt-xs} {
    margin: auto;
  }

  @media #{$xs} {
    display: contents;
    text-decoration: none;
    color: inherit;

    mat-icon {
      color: $black-54-opacity;
    }
  }
}