@import '../../../sass/variables';

mat-card {
  padding:0;
  width: calc(100% - #{$content-margin});
}

.actions {
  padding: 10px;
  border-bottom: 1px solid $black-12-opacity;
  justify-content: flex-end;
  align-items: center;

  mat-icon {
    vertical-align: middle;
    color: $black-54-opacity;
  }
}

mat-spinner {
  margin: auto;
}

mat-tab-group {
  text-transform: uppercase;
}