@import '../../../sass/variables';

.statistics-welcome {
  margin-bottom: 20px;
}

.statistics-item {
  margin-top: 10px;
  text-align: center;

  .statistics-item-title {
    margin-bottom: 25px;
  }
}

.statistics-item-title, .description {
  color: mat-color($grey, 600);
}

.statistics-value {
  margin-bottom: 40px;
}