@import '../../../sass/variables';
@import '../../../sass/mixins/auth-title';

@include auth-title();

::ng-deep {
  app-root {
    background: $white;
  }
}

.reset-password-description {
  color: $grey-8;
  margin-top: 10px;
}

.success-message {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media #{$xs} {
  a.below-form-link {
    display: none;
  }

  .success-message {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
