<sf-unauthenticated-menu></sf-unauthenticated-menu>
<div class="recovery-container">
  <div class="recovery-form">
    <div class="recovery-title mat-display-1" i18n>Reset password</div>
    <md-card *ngIf="!showSuccessMessage">
      <md-card-content>
        <div class="mat-subheading-2 reset-password-description">Enter your e-mail address and we will return your password.</div>
        <form (ngSubmit)="reset()">

          <md-input-container color="accent">
            <input mdInput i18n-placeholder placeholder="E-mail address" [formControl]="emailControl">
            <md-error *ngIf="emailControl.hasError('required')">
              Email is <strong>required</strong>
            </md-error>
          </md-input-container>

          <div class="error" *ngIf="showError">A system error occurred. Please, try again later.</div>

          <div class="recovery-actions">
            <button md-raised-button color="accent" class="recovery-button" i18n>SEND</button>
          </div>
        </form>
      </md-card-content>
    </md-card>

    <md-card *ngIf="showSuccessMessage" >
      <md-card-content class="success-message">
        <span class="mat-subheading-2">We have just sent you an e-mail to reset your password.</span>
      </md-card-content>
    </md-card>
    <a class="back-to-login mat-body-1" i18n [routerLink]="['/login']">Back to login</a>
  </div>
</div>