@import '../../../sass/variables';
@import '../../../sass/mixins/form-page';

@include form-page();

.reset-password-description, .success-message {
  color: $black-54-opacity;
}

.success-message {
  padding-top: 80px;
  padding-bottom: 80px;
}