<sfl-unauthenticated-menu [displayFlags]="true"></sfl-unauthenticated-menu>
<div class="form-container">
    <div>
        <div class="form-title mat-display-1" i18n>Reset password</div>
        <mat-card *ngIf="!showSuccessMessage">
            <mat-card-content>
                <div class="mat-subheading-2 reset-password-description">Enter your username and we will return your
                    password.
                </div>
                <form (ngSubmit)="reset()">

                    <mat-form-field color="accent" appearance="outline">
                        <mat-label i18n>Username</mat-label>
                        <input matInput [formControl]="emailControl">
                        <mat-error *ngIf="emailControl.hasError('required')" i18n>
                           Username is required
                        </mat-error>
                    </mat-form-field>

                    <div class="error" *ngIf="showError" i18n>A system error occurred. Please, try again later.</div>

                    <div class="form-actions">
                        <button mat-raised-button color="accent" i18n>SEND</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="showSuccessMessage">
            <mat-card-content class="success-message">
                <span class="mat-subheading-2" i18n>We have just sent you an e-mail to reset your password.</span>
            </mat-card-content>
        </mat-card>
        <a class="below-form-link mat-body-1" i18n [routerLink]="['/login']">Back to login</a>
    </div>
</div>