<form (ngSubmit)="reset()" fxLayout="column" fxLayoutGap="50px">
    <div>
        <div class="auth-title sfui-header-2" i18n>Reset your password</div>
        <div class="sfui-body-small reset-password-description" i18n>Enter your username and we will return your
            password.
        </div>
    </div>

    <sfui-form-field>
        <sfui-label i18n>Username</sfui-label>
        <input sfui-input [formControl]="emailControl" autocomplete="sf-reset-username">
    </sfui-form-field>


    <sfui-banner type="info" *ngIf="showSuccessMessage">
        <div sfui-title i18n>An email has been sent to your email address.</div>
    </sfui-banner>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <a sfui-icon-button i18n [routerLink]="['/login']">
            <sfui-icon name="arrowBack"></sfui-icon>
        </a>
        <div fxFlex></div>
        <div class="form-actions">
            <button sfui-button sfui-style="primary" i18n>Send Reset Instructions</button>
        </div>
    </div>

</form>


