<div md-dialog-title>
    Filters
</div>
<md-dialog-content>
    <md-select placeholder="Country" i18n-placeholder [(ngModel)]="filter.country">
        <md-option value="" i18n>All Countries</md-option>
        <md-option *ngFor="let country of countries" [value]="country[0]" i18n>
            <img src="assets/images/flags/{{country[0]}}.png" class="sf-flag"> {{country[1]}}
        </md-option>
    </md-select>

    <md-select placeholder="Type" i18n-placeholder  [(ngModel)]="filter.type">
        <md-option value="" i18n>All Types</md-option>
        <md-option *ngFor="let type of types" [value]="type[0]" i18n>{{type[1]}}</md-option>
    </md-select>

    <md-select placeholder="Category" i18n-placeholder  [(ngModel)]="filter.segment">
        <md-option value="" i18n>All Categories</md-option>
        <md-option *ngFor="let category of categories" [value]="category[0]"  i18n>{{category[1]}}</md-option>
    </md-select>
</md-dialog-content>
<md-dialog-actions>
    <button md-button color="accent" (click)="cancel()" i18n>CANCEL</button>
    <button md-button color="accent" (click)="accept()" i18n>ACCEPT</button>
</md-dialog-actions>
