<div matDialogTitle i18n>Filters</div>
<mat-dialog-content>
    <sf-country-select [initialValue]="filter.country" (valueChanged)="filter.country = $event"></sf-country-select>
    <mat-form-field>
        <mat-select placeholder="Type" i18n-placeholder [(ngModel)]="filter.type">
            <mat-option value="" i18n>All Types</mat-option>
            <mat-option value="ads" i18n>Product Listing Ads</mat-option>
            <mat-option value="affiliation" i18n>Affiliation</mat-option>
            <mat-option value="export" i18n>Custom Exports</mat-option>
            <mat-option value="marketplace" i18n>Marketplace</mat-option>
            <mat-option value="retargeting" i18n>Retargeting</mat-option>
            <mat-option value="shopbot" i18n>Shopping Engines</mat-option>
            <mat-option value="solomo" i18n>Social Local Mobile</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Category" i18n-placeholder [(ngModel)]="filter.segment">
            <mat-option value="" i18n>All Categories</mat-option>
            <mat-option value="professional" i18n>Professional Purchasing</mat-option>
            <mat-option value="motors" i18n>Auto / Moto</mat-option>
            <mat-option value="organic" i18n>Organic</mat-option>
            <mat-option value="appliances" i18n>Home Appliances</mat-option>
            <mat-option value="gastronomy" i18n>Gastronomy</mat-option>
            <mat-option value="highTech" i18n>High Tech</mat-option>
            <mat-option value="toys" i18n>Games And Toys</mat-option>
            <mat-option value="homeAndGarden" i18n>Home And Garden</mat-option>
            <mat-option value="nursery" i18n>Nursery</mat-option>
            <mat-option value="healthAndBeauty" i18n>Health And Beauty</mat-option>
            <mat-option value="wineAndSpirits" i18n>Wine And Spirits</mat-option>
            <mat-option value="fashion" i18n>Fashion</mat-option>
            <mat-option value="universal" i18n>Universal</mat-option>
            <mat-option value="sports" i18n>Sports</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="accent" (click)="cancel()" i18n>CANCEL</button>
    <button mat-button color="accent" (click)="accept()" i18n class="accept">ACCEPT</button>
</mat-dialog-actions>
