<div matDialogTitle i18n>Filters</div>
<mat-dialog-content>
    <mat-form-field>
        <mat-select placeholder="Country" i18n-placeholder [(ngModel)]="filter.country">
            <mat-option value="at"><img src="{{baseHref}}/assets/images/flags-mini/at.png" class="sf-flag-filter">
                <ng-container i18n>Austria</ng-container>
            </mat-option>
            <mat-option value="au"><img src="{{baseHref}}/assets/images/flags-mini/au.png" class="sf-flag-filter">
                <ng-container i18n>Australia</ng-container>
            </mat-option>
            <mat-option value="be"><img src="{{baseHref}}/assets/images/flags-mini/be.png" class="sf-flag-filter">
                <ng-container i18n>Belgium</ng-container>
            </mat-option>
            <mat-option value="bg"><img src="{{baseHref}}/assets/images/flags-mini/bg.png" class="sf-flag-filter">
                <ng-container i18n>Bulgaria</ng-container>
            </mat-option>
            <mat-option value="br"><img src="{{baseHref}}/assets/images/flags-mini/br.png" class="sf-flag-filter">
                <ng-container i18n>Brazil</ng-container>
            </mat-option>
            <mat-option value="ca"><img src="{{baseHref}}/assets/images/flags-mini/ca.png" class="sf-flag-filter">
                <ng-container i18n>Canada</ng-container>
            </mat-option>
            <mat-option value="ch"><img src="{{baseHref}}/assets/images/flags-mini/ch.png" class="sf-flag-filter">
                <ng-container i18n>Switzerland</ng-container>
            </mat-option>
            <mat-option value="cz"><img src="{{baseHref}}/assets/images/flags-mini/cz.png" class="sf-flag-filter">
                <ng-container i18n>Czech Republic</ng-container>
            </mat-option>
            <mat-option value="de"><img src="{{baseHref}}/assets/images/flags-mini/de.png" class="sf-flag-filter">
                <ng-container i18n>Germany</ng-container>
            </mat-option>
            <mat-option value="dk"><img src="{{baseHref}}/assets/images/flags-mini/dk.png" class="sf-flag-filter">
                <ng-container i18n>Denmark</ng-container>
            </mat-option>
            <mat-option value="ee"><img src="{{baseHref}}/assets/images/flags-mini/ee.png" class="sf-flag-filter">
                <ng-container i18n>Estonia</ng-container>
            </mat-option>
            <mat-option value="es"><img src="{{baseHref}}/assets/images/flags-mini/es.png" class="sf-flag-filter">
                <ng-container i18n>Spain</ng-container>
            </mat-option>
            <mat-option value="fi"><img src="{{baseHref}}/assets/images/flags-mini/fi.png" class="sf-flag-filter">
                <ng-container i18n>Finland</ng-container>
            </mat-option>
            <mat-option value="fr"><img src="{{baseHref}}/assets/images/flags-mini/fr.png" class="sf-flag-filter">
                <ng-container i18n>France</ng-container>
            </mat-option>
            <mat-option value="gr"><img src="{{baseHref}}/assets/images/flags-mini/gr.png" class="sf-flag-filter">
                <ng-container i18n>Greece</ng-container>
            </mat-option>
            <mat-option value="hr"><img src="{{baseHref}}/assets/images/flags-mini/hr.png" class="sf-flag-filter">
                <ng-container i18n>Croatia</ng-container>
            </mat-option>
            <mat-option value="hu"><img src="{{baseHref}}/assets/images/flags-mini/hu.png" class="sf-flag-filter">
                <ng-container i18n>Hungary</ng-container>
            </mat-option>
            <mat-option value="ie"><img src="{{baseHref}}/assets/images/flags-mini/ie.png" class="sf-flag-filter">
                <ng-container i18n>Ireland</ng-container>
            </mat-option>
            <mat-option value="in"><img src="{{baseHref}}/assets/images/flags-mini/in.png" class="sf-flag-filter">
                <ng-container i18n>India</ng-container>
            </mat-option>
            <mat-option value="it"><img src="{{baseHref}}/assets/images/flags-mini/it.png" class="sf-flag-filter">
                <ng-container i18n>Italy</ng-container>
            </mat-option>
            <mat-option value="jp"><img src="{{baseHref}}/assets/images/flags-mini/jp.png" class="sf-flag-filter">
                <ng-container i18n>Japan</ng-container>
            </mat-option>
            <mat-option value="lt"><img src="{{baseHref}}/assets/images/flags-mini/lt.png" class="sf-flag-filter">
                <ng-container i18n>Lithuania</ng-container>
            </mat-option>
            <mat-option value="lv"><img src="{{baseHref}}/assets/images/flags-mini/lv.png" class="sf-flag-filter">
                <ng-container i18n>Latvia</ng-container>
            </mat-option>
            <mat-option value="mx"><img src="{{baseHref}}/assets/images/flags-mini/mx.png" class="sf-flag-filter">
                <ng-container i18n>Mexico</ng-container>
            </mat-option>
            <mat-option value="nl"><img src="{{baseHref}}/assets/images/flags-mini/nl.png" class="sf-flag-filter">
                <ng-container i18n>Netherlands</ng-container>
            </mat-option>
            <mat-option value="no"><img src="{{baseHref}}/assets/images/flags-mini/no.png" class="sf-flag-filter">
                <ng-container i18n>Norway</ng-container>
            </mat-option>
            <mat-option value="pl"><img src="{{baseHref}}/assets/images/flags-mini/pl.png" class="sf-flag-filter">
                <ng-container i18n>Poland</ng-container>
            </mat-option>
            <mat-option value="pt"><img src="{{baseHref}}/assets/images/flags-mini/pt.png" class="sf-flag-filter">
                <ng-container i18n>Portugal</ng-container>
            </mat-option>
            <mat-option value="ro"><img src="{{baseHref}}/assets/images/flags-mini/ro.png" class="sf-flag-filter">
                <ng-container i18n>Romania</ng-container>
            </mat-option>
            <mat-option value="ru"><img src="{{baseHref}}/assets/images/flags-mini/ru.png" class="sf-flag-filter">
                <ng-container i18n>Russian Federation</ng-container>
            </mat-option>
            <mat-option value="se"><img src="{{baseHref}}/assets/images/flags-mini/se.png" class="sf-flag-filter">
                <ng-container i18n>Sweden</ng-container>
            </mat-option>
            <mat-option value="si"><img src="{{baseHref}}/assets/images/flags-mini/si.png" class="sf-flag-filter">
                <ng-container i18n>Slovenia</ng-container>
            </mat-option>
            <mat-option value="sk"><img src="{{baseHref}}/assets/images/flags-mini/sk.png" class="sf-flag-filter">
                <ng-container i18n>Slovakia</ng-container>
            </mat-option>
            <mat-option value="sl"><img src="{{baseHref}}/assets/images/flags-mini/sl.png" class="sf-flag-filter">
                <ng-container i18n>Sierra Leone</ng-container>
            </mat-option>
            <mat-option value="th"><img src="{{baseHref}}/assets/images/flags-mini/th.png" class="sf-flag-filter">
                <ng-container i18n>Thailand</ng-container>
            </mat-option>
            <mat-option value="tr"><img src="{{baseHref}}/assets/images/flags-mini/tr.png" class="sf-flag-filter">
                <ng-container i18n>Turkey</ng-container>
            </mat-option>
            <mat-option value="uk"><img src="{{baseHref}}/assets/images/flags-mini/gb.png" class="sf-flag-filter">
                <ng-container i18n>United Kingdom</ng-container>
            </mat-option>
            <mat-option value="us"><img src="{{baseHref}}/assets/images/flags-mini/us.png" class="sf-flag-filter">
                <ng-container i18n>United States</ng-container>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Type" i18n-placeholder [(ngModel)]="filter.type">
            <mat-option value="" i18n>All Types</mat-option>
            <mat-option value="ads" i18n>Product Listing Ads</mat-option>
            <mat-option value="affiliation" i18n>Affiliation</mat-option>
            <mat-option value="export" i18n>Custom Exports</mat-option>
            <mat-option value="marketplace" i18n>Marketplace</mat-option>
            <mat-option value="retargeting" i18n>Retargeting</mat-option>
            <mat-option value="shopbot" i18n>Shopping Engines</mat-option>
            <mat-option value="solomo" i18n>Social Local Mobile</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Category" i18n-placeholder [(ngModel)]="filter.segment">
            <mat-option value="" i18n>All Categories</mat-option>
            <mat-option value="professional" i18n>Professional Purchasing</mat-option>
            <mat-option value="motors" i18n>Auto / Moto</mat-option>
            <mat-option value="organic" i18n>Organic</mat-option>
            <mat-option value="appliances" i18n>Home Appliances</mat-option>
            <mat-option value="gastronomy" i18n>Gastronomy</mat-option>
            <mat-option value="highTech" i18n>High Tech</mat-option>
            <mat-option value="toys" i18n>Games And Toys</mat-option>
            <mat-option value="homeAndGarden" i18n>Home And Garden</mat-option>
            <mat-option value="nursery" i18n>Nursery</mat-option>
            <mat-option value="healthAndBeauty" i18n>Health And Beauty</mat-option>
            <mat-option value="wineAndSpirits" i18n>Wine And Spirits</mat-option>
            <mat-option value="fashion" i18n>Fashion</mat-option>
            <mat-option value="universal" i18n>Universal</mat-option>
            <mat-option value="sports" i18n>Sports</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="accent" (click)="cancel()" i18n>CANCEL</button>
    <button mat-button color="accent" (click)="accept()" i18n class="accept">ACCEPT</button>
</mat-dialog-actions>
