<div class="event-icon mat-body-1" fxShow fxHide.xs>
    <mat-icon *ngIf="update.name === updateTypes.export">vertical_align_top</mat-icon>
    <mat-icon *ngIf="update.name === updateTypes.import">vertical_align_bottom</mat-icon>
</div>
<div class="channel-name mat-body-1" *ngIf="update.name === updateTypes.import">
    Source feed
</div>
<div class="channel-name mat-body-1" *ngIf="update.name === updateTypes.export">
    {{update._embedded.channel.name}}
</div>
<div class="event-description mat-body-1">
    <span *ngIf="update.action === updateActions.start" i18n>In progress</span>
    <span *ngIf="update.action === updateActions.ask" i18n>Scheduled</span>
    <span *ngIf="update.action === updateActions.finish" i18n>Completed</span>
    <span *ngIf="update.action === updateActions.error" i18n>Error</span>
</div>
<div class="event-time mat-body-1">{{update.occurredAt | date:'shortTime'}}</div>