@import '../../../../src/sass/variables';
@import '../../../../src/sass/mixins/scrollable-table.mixin';

$page-header-height: 56px;
$search-field-height: 89px;

@include scrollableTable(calc(#{$page-header-height} + #{$search-field-height}))

::ng-deep {
  .mat-column-edit {
    width: 80px;
  }
}