@import '../../../../src/sass/variables';

$paginator-height: 65px;
$page-header-height: 56px + $toolbar-height;
$search-field-height: 89px;

.table-container {
  max-height: calc(100vh - #{$toolbar-height} - 2 * #{$content-margin} - #{$paginator-height} - #{$page-header-height} - #{$search-field-height});
  overflow: auto;

  mat-icon {
    cursor: pointer;
    color: $black-54-opacity;
    margin-left: 20px;
  }
}

table {
  width: 100%;

  tr.isBlocked {
    background-color: mat-color($warn, 0.1);

    mat-icon.block-store {
      color: mat-color($warn, 900);
    }
  }
}

mat-paginator {
  position: relative;
}

.page-header {
  margin-bottom: 20px;
  margin-top: $toolbar-height;
}

mat-progress-bar {
  position: absolute;
  z-index: 10;
}

.progress-bar-wrapper {
  position: relative;
  z-index: 150;
}

.list-title {
  margin-bottom: 0;
}


mat-card {
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  mat-card-content {
    flex: 1;
    margin-bottom: 0;


    .search-container {
      display: flex;
      margin: 4px 24px;
      align-items: center;
      padding: 8px 0;
      mat-icon {
        color: mat-color($grey);
      }
      input {
        margin: 0 10px;
        border: none;
        flex: 1;
        color: mat-color($grey, 600);

        &:focus {
          outline: none;
        }
      }
    }
  }

}

::ng-deep {
  .mat-column-edit {
    width: 80px;
  }
}

.no-results {
  background-color: white;
  padding: 5px 10px;
}