<div matDialogTitle>Filters</div>

<mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline" color="accent">
        <mat-label i18n>Status</mat-label>
        <mat-select [(value)]="state">
            <mat-option [value]="''" i18n>All statuses</mat-option>
            <mat-option [value]="states.scheduled" i18n>Scheduled</mat-option>
            <mat-option [value]="states.running" i18n>Running</mat-option>
            <mat-option [value]="states.succeed" i18n>Succeed</mat-option>
            <mat-option [value]="states.canceled" i18n>Canceled</mat-option>
            <mat-option [value]="states.failed" i18n>Failed</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
        <mat-label i18n>Type</mat-label>
        <mat-select [(value)]="type">
            <mat-option [value]="''" i18n>All types</mat-option>
            <mat-option [value]="types.acknowledgeOrder" i18n>Acknowledge</mat-option>
            <mat-option [value]="types.unacknowledgeOrder" i18n>Unacknowlede</mat-option>
            <mat-option [value]="types.refundOrder" i18n>Refund</mat-option>
            <mat-option [value]="types.shipOrder" i18n>Ship</mat-option>
            <mat-option [value]="types.acceptOrder" i18n>Accept</mat-option>
            <mat-option [value]="types.cancelOrder" i18n>Cancel</mat-option>
            <mat-option [value]="types.refuseOrder" i18n>Refuse</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose i18n color="accent">Cancel</button>
    <button mat-button i18n (click)="apply()" color="accent">Filter</button>
</mat-dialog-actions>