@import "../../components/core/color";

.box-drag-drop {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    list-style: none;
  }

  .box-drag {
    counter-reset: section;
    overflow: hidden;
    clear: both;

    .btn-confirm {
      margin-top: 2rem;
    }

    .snaptarget {
      position: relative;
      height: 8rem;
      background-color: $sf-border-dropdown;
      border: 1px dashed $sf-primary;
      padding: 1rem;
      z-index: 5;
      transition: all .2s linear;
      margin: 1rem 0;
      cursor: pointer;

      .header {
        overflow: hidden;
        clear: both;

        i {
          color: $sf-light-text;
        }
      }

      .body {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        clear: both;

        .badge {
          padding: .7rem .9rem .3rem;
          border-radius: 50%;
          transition: all .2s linear;
        }

        .badge:empty {
          display: inherit;
          margin-left: 1rem;
        }

        .not-checked {
          padding: .7rem .9rem .3rem;
        }

        .badge-empty {
          background-color: gray !important;
          color: gray !important;
          transition: all .2s linear;
        }

        .account:before {
          counter-increment: section;
          content: "" counter(section) "";
        }

        .txt {
          display: inline-block;

          &:after {
            content: "";
            clear: both;
            overflow: hidden;
          }
        }

        .checkbox {
          display: inline-block;
          margin: .4rem 0;
        }
      }
    }
  }
}
