@mixin channel-common-styles() {
  .channel-logo-container {
    display: flex;
    align-items: center;
  }

  .channel-logo {
    text-align: center;
    width: 100%;
    img {
      max-height: 67px;
      width: auto;
      margin: 0;
    }
  }
}