@mixin channel-common-styles() {
  mat-card-content {
    margin-bottom: 0;
    &, & > div {
      align-items: center;
    }
  }

  .channel-logo {
    text-align: center;
    width: 100%;
    img {
      max-height: 67px;
      width: auto;
      margin: 0;
    }
  }

  .channel-turnover, .channel-online {
    margin-bottom: 16px;
  }
}