@mixin channel-common-styles() {
  .channel-logo-container {
    display: flex;
    align-items: center;
  }

  .channel-logo {
    text-align: center;
    img {
      width: 70%;
      margin: 0;
    }
  }
}