  @import '../variables';

@mixin form-page() {
  .form-container {
    display: flex;
    height: calc(100vh - #{$toolbar-height});
    text-align: center;
    background-color: white;

    & > div {
      margin: auto;
    }

    mat-card {
      padding: 50px 100px;
    }

    .form-title {
      color: $black-54-opacity;
      margin-bottom: 25px;
    }

    mat-form-field {
      display: block;
      width: 325px;
    }

    .form-actions {

      button {
        margin-top: 30px;
        font-weight: bold;
      }
    }

    @media #{$xs} {
      mat-card {
        padding: 30px;
      }

      mat-form-field {
        display: block;
        width: 100%;
      }
    }

  }

  .error {
    color: mat-color($warn);
  }

  a.below-form-link {
    float: right;
    text-decoration: none;
    color: $black-87-opacity;
    margin-top: 15px;
  }

  @media #{$xs} {
    .form-container {
      &>div {
        margin: 50px 30px;
      }

      mat-form-field {
        width: calc(100vw - 60px);
      }

      mat-card {
        padding: 0;
        background: none;
        box-shadow: none;
      }

      .form-actions {

        button {
          margin-top: 20px;
          margin-bottom: 40px;
        }
      }
    }
  }


}

