@import '../variables';

@mixin form-page(){
  .form-container {
    display: flex;
    height: calc(100vh - #{$toolbar-height});
    text-align: center;

    & > div {
      margin: auto;
    }

    mat-card {
      padding: 50px 100px;
    }

    .form-title {
      color: $black-54-opacity;
      margin-bottom: 25px;
    }

    mat-form-field {
      display: block;
      width: 325px;
    }

    .form-actions {

      button {
        margin-top: 30px;
        font-weight: bold;
      }
    }

  }

  .error {
    color: mat-color($warn);
  }

  a.below-form-link {
    float: right;
    text-decoration: none;
    color: $black-87-opacity;
    margin-top: 15px;
  }
}

