<mat-form-field color="accent" [appearance]="appearance">
    <mat-label i18n>Country</mat-label>
    <input type="text" matInput [formControl]="controlDir?.control" [matAutocomplete]="countryAutocomplete" #input
           (click)="onTouched()">
    <mat-autocomplete #countryAutocomplete="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name" (click)="onChange(country.code)">
            <img src="{{baseHref}}/assets/images/flags-mini/{{country.code.toLowerCase()}}.png" class="sf-flag-filter">
            <ng-container>{{country.name}}</ng-container>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
