<div mat-dialog-title i18n>Do you want to ship {data.ordersNumber, plural, =1 {the order {{data.orderReference}}} other
  {selected orders}}?</div>
<mat-dialog-content>
  <div i18n>Warning, you can’t add carrier information when shipping from this page.</div>
  <div i18n>Please fill out information and ship from order detail page.</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" i18n (click)="cancel()">Dismiss</button>
  <button mat-button color="accent" i18n (click)="accept()">Ship without carrier information</button>
</mat-dialog-actions>