@import '../../../sass/mixins/order-actions-bar';

mat-card {
  height: fit-content;

  mat-chip {
    background-color: mat-color($accent, 0.3);
  }

  mat-icon {
    color: $black-54-opacity;
  }
}

.tags-container {
  position: relative;

  mat-progress-bar {
    position: absolute;
    z-index: 10;
  }
}
