<div class="scrollable-container">
    <sf-orders-subnav>
        <mat-list-item><a routerLink="/orders" class="mat-body-2" i18n>Orders</a></mat-list-item>
        <mat-list-item class="active"><a sfLegacyLink path="/marketplaces/listexport" class="mat-body-2" i18n>Settings</a>
        </mat-list-item>
    </sf-orders-subnav>

    <div fxLayout="row" fxLayoutGap="60px">
        <div fxFlex class="tags-container">
            <mat-card>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div i18n fxFlex>Organize tags for all your orders.</div>
                        <div>
                            <button mat-button i18n color="accent" (click)="createNewTag()">New tag</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
            <ng-container *ngFor="let tag of tags">
                <mat-divider></mat-divider>
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
                            <div fxFlex>
                                <mat-chip-list>
                                    <mat-chip>{{tag.name}}</mat-chip>
                                </mat-chip-list>
                            </div>
                            <button mat-icon-button (click)="updateTag(tag.id, tag.name)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="removeTag(tag.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </div>

</div>