<mat-card *ngIf="dataSource.data.length || isLoadingResults;else noRecordsMessage">
  <mat-card-content>

    <div [class.table-container]="isLoadingResults">
      <div class="loading-container" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <mat-table #table [dataSource]="dataSource" class="sf-orders-table">

        <ng-container matColumnDef="marketplace">
          <mat-header-cell *matHeaderCellDef> Marketplace</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img [src]="row.channelImage" width="65">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef> Total (€)</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.total}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.date | date:'fullDate'}}</mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToOrder(row.id)">{{row.name}}
        </mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #noRecordsMessage>
  <div class="no-orders-message" i18n><sf-image source="assets/images/robot.svg" width="60px" verticalAlign="middle"></sf-image> No orders matching your request.</div>
</ng-template>