@import '../../../sass/variables';

:host {
  height: $toolbar-height;
  display: block;
}

mat-list.sf-subnav {
  background-color: #385370;

  position: absolute;
  z-index: 8;
  top: $toolbar-height;
  left: $left-sidebar-width;
  height: $toolbar-height;
  width: calc(100vw - #{$left-sidebar-width});

  display: flex;
  padding: 0;
  align-items: flex-start;

}