<div class="background">
  <div class="card">
    <div class="title">
      <div class="title-logo">
        <img src="assets/path/initial-path/welcome/ballon.png" alt="Shopping Feed" class="logo"/>
      </div>
      <h4 class="title-text">Bienvenu chez Shopping Feed!<br/> Super de vous voir ici</h4>
    </div>
    <div class="content">
      For starting your trail select a plateform or if you need more help, clic on « Schedule a call ». Our team will contact you.
    </div>
    <a href="/path/initial/schedule-call" class="btn btn-success btn-call">Schedule a call</a>
    <a href="#" class="small-link">Or select your first channel</a>
  </div>
</div>