/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'sass/material-theme';
@import 'sass/materialdesign';
@import 'sass/menu';
@import 'sass/utils';
@import 'sass/dialog';
@import 'sass/orders-subnav';

html, body, app-root {
  height: 100vh;
  margin: 0;
  display: block;
  color: $black-87-opacity;
  @media #{$gt-xs} {
    background-color: mat-color($grey, 50);
  }
  overflow: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid mat-color($grey, 200);
  margin: 1em 0;
  padding: 0;
}

.margin-top-20 {
  margin-top: 20px;
}

snack-bar-container.app-failed-error.mat-snack-bar-container.mat-snack-bar-center {
  background-color: mat-color($primary, 300);
  margin-bottom: 50vh;

  .reload {
    color: mat-color($accent, 800);
  }
}