/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'sass/materialdesign';
@import 'sass/menu';
@import 'sass/utils';

html, body, app-root {
  min-width: $min-width;
  height: 100vh;
  margin: 0;
  display: block;
  background-color: mat-color($primary, 50);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid mat-color($primary, 200);
  margin: 1em 0;
  padding: 0;
}