<div fxLayout="row" fxLayoutAlign="start center" *ngIf="autotagList?.length" class="mapping-header">
    <div i18n fxFlex class="mat-body-1 card-label">Fill in the required attributes</div>
</div>
<div *ngIf="autotagList?.length">
    <mat-card>
        <mat-card-content>
            <form #form="ngForm">
                <div class="autotags-list" fxLayout="column" fxLayoutGap="20px">
                    <ng-container *ngFor="let autotag of autotagList; index as i">
                        <sf-autotag-input *ngIf="!autotag._embedded.attribute.constraintGroupId"
                                          (changed)="setAutotagValue(autotag, $event)" [label]="autotag._embedded.attribute.name"
                                          [value]="autotag.value" ngModel name="autotag{{i}}"></sf-autotag-input>
                        <sf-autotag-dropdown *ngIf="autotag._embedded.attribute.constraintGroupId"
                                             [value]="autotag.value" (changed)="setAutotagValue(autotag, $event)"
                                             [attribute]="autotag._embedded.attribute"
                                             ngModel name="autotag{{i}}"></sf-autotag-dropdown>
                    </ng-container>
                </div>
                <div class="actions" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button i18n color="accent" (click)="saveMatching()">
                        Save
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="next-category-button">
        <button mat-stroked-button color="accent" i18n (click)="nextClicked.emit()">Next
        </button>
    </div>
</div>
