@import '../../../../sass/variables';

sf-autotag-input, sf-autotag-dropdown {
  width: 100%;
}

mat-card {
  margin-top: 20px;
}

.next-category-button {
  text-align: right;
  margin-top: 20px;
}

.autotag-mapping-header {
  height: 36px;
}

.card-label {
  color: $black-87-opacity;
}

.autotags-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 20px;

  @media #{$gt-md} {
    grid-template-columns: 1fr 1fr;
  }
}