<h1 matDialogTitle>
    Credentials
    <mat-icon *ngIf="!credsCopied" ngxClipboard [cbContent]="credsString" (click)="credsCopied = true" matTooltip="Copy to clipboard">content_copy</mat-icon>
    <mat-icon *ngIf="credsCopied" class="green" matTooltip="Copied to clipboard">done</mat-icon>
</h1>

<mat-dialog-content class="mat-typography" fxLayout="column" fxLayoutGap="10px">
    <div class="mat-body-2">
        {{data.channelName}}
    </div>
    <div>Login: {{data.login}}</div>
    <div>Password: {{data.password}}</div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button routerLink="/channel-integration" color="accent" matDialogClose>Go to channel operators</button>
</mat-dialog-actions>