@import '../../../sass/mixins/order-actions-bar';

@include order-actions-bar();

mat-card.orders-table {
  padding: 0;
  margin-bottom: 20px;
}

.totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0;

  .total-row {
    display: flex;
    align-items: flex-end;
    margin-right: 40px;
    padding: 10px;


    .description {
      width: 185px;
      padding-right: 15px;
    }

    .value {
      text-align: right;
      width: 50px;
    }
  }
}

.totals-handset {
  width: 100%;
  & > div > div:last-child {
    text-align: right;
  }
}

.order-summary {
  text-align: right;
}

mat-card-actions {
  text-align: right;
}

sf-orders-subnav .status {
  text-transform: capitalize;
}

.scrollable-container {
  @media #{$xs} {
    padding-left: 20px;
  }
}

.channel-image {
  position: relative;

  img {
    height: auto;
    width: 80%;
  }
}

@media #{$xs} {

  mat-card.handset-order-details {
    padding: 0;
    margin: 10px 0;
    mat-card-content {
      font-size: mat-font-size($config, subheading-2);

      mat-list {
        padding: 0;
      }
      mat-list-item {
        padding: 10px 24px;
        height: auto;

        &:not(:last-child){
          border-bottom: 1px solid mat-color($grey, 400);
        }
      }

    }

  }

}