<div class="scrollable-container">

    <sf-orders-subnav fxShow fxHide.xs>
        <mat-list-item>
            <a routerLink="/orders">
                <mat-icon>keyboard_backspace</mat-icon>
                <ng-container i18n>Order ID {{order.reference}}</ng-container>
            </a>
        </mat-list-item>
        <mat-list-item class="sf-fill-space"></mat-list-item>
        <mat-list-item class="status">
            <sf-order-status [status]="order.status"></sf-order-status>
        </mat-list-item>
    </sf-orders-subnav>

    <div class="details-container">
        <div class="order-error">
            <sf-order-error-message [order]="order"></sf-order-error-message>
        </div>
        <div class="summary">
            <sf-summary-block [order]="order"></sf-summary-block>
        </div>
        <div class="addresses">
            <sf-addresses [order]="order"></sf-addresses>
        </div>
        <div class="items-table">
            <sf-items-table [order]="order"></sf-items-table>
        </div>
    </div>
</div>
