<sf-sidebar></sf-sidebar>

<div class="sf-content scrollable-container">

    <div class="details-container sf-gap-compensate-parent">
        <div class="order-error">
            <sf-order-error-message [order]="order"></sf-order-error-message>
        </div>
        <div class="summary">
            <sf-summary-block [order]="order"></sf-summary-block>
        </div>
        <div class="addresses">
            <sf-addresses [order]="order"></sf-addresses>
        </div>
        <mat-card class="items-table">
            <mat-card-content>
                <div class="actions">
                    <sf-action-buttons [order]="order"></sf-action-buttons>
                </div>
                <sf-items-table [order]="order"></sf-items-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
