.details-container {
  display: grid;
  grid-template-areas: "summary items-table" "addresses items-table";
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.summary {
  grid-area: summary;
}

.addresses {
  grid-area: addresses;
}

.items-table {
  grid-area: items-table;
}