@import '../../../sass/variables';
@import '../../../sass/mixins/order-actions-bar';

@include order-actions-bar();

.details-container {
  display: grid;
  grid-template-areas: "order-error addresses"
                       "summary addresses"
                       "items-table addresses";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: $default-grid-gap;

  @media #{$lt-md}{
    grid-template-areas: "order-error" "summary" "items-table" "addresses";
    grid-template-columns: 1fr;
  }
}

.order-error {
  grid-area: order-error;
}

.summary {
  grid-area: summary;
}

.addresses {
  grid-area: addresses;
}

.items-table {
  grid-area: items-table;
  overflow: hidden;
  padding: 0;
}

.actions {
  // for the case when the buttons don't fit available width (e.g. 1000px)
  overflow: auto;
}
