$progressbar-button-border-radius: 54px;
$progressbar-button-color: #fff;
$progressbar-button-bg-color: #e2e2e2;
$progressbar-button-font-size: 18px;
$progressbar-button-progress-bg-color: #7bc280;

.progressbar-button {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Nunito-Regular;
  text-transform: uppercase;
  font-size: $progressbar-button-font-size;
  color: $progressbar-button-color;
  background-color: $progressbar-button-bg-color;
  border: none;
  border-radius: $progressbar-button-border-radius;
  outline: none;
  overflow: hidden;

  .text-content {
    position: absolute;
    z-index: 10;

    // center with absolute position (ie9 compatible)
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .progress {
    z-index: 9;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $progressbar-button-progress-bg-color;
  }
}