<div i18n>Order
    <ng-container *ngIf="action === actions.ship">ship </ng-container>
    <ng-container *ngIf="action === actions.accept">accept </ng-container>
    <ng-container *ngIf="action === actions.refuse">refuse </ng-container>
    <ng-container *ngIf="action === actions.cancel">cancel </ng-container>
    <ng-container *ngIf="action === actions.acknowledge">acknowledge </ng-container>
    <ng-container *ngIf="action === actions.unacknowledge">unacknowledge </ng-container>
    <ng-container *ngIf="action === actions.refund">refund</ng-container>
    {ordersNumber, plural, =1 {request has been sent} other {requests have been sent}}
</div>