<div *ngIf="action === actions.ship" i18n>
    <ng-container *ngIf="false">some text not to produce missing translation error</ng-container>
    {ordersNumber, plural, =1 {Order shipment request has been sent} other {Order shipment requests have been sent}}
</div>
<div *ngIf="action === actions.accept" i18n>
    <ng-container *ngIf="false">This is for showing translation with interpolations only</ng-container>
    {ordersNumber, plural, =1 {Order acceptation request has been sent} other {Order acceptation requests have been sent}}
</div>
<div *ngIf="action === actions.cancel" i18n>
    <ng-container *ngIf="false">This is for showing translation with interpolations only</ng-container>
    {ordersNumber, plural, =1 {Order cancellation request has been sent} other {Order cancellation requests have been sent}}
</div>
<div *ngIf="action === actions.acknowledge" i18n>
    <ng-container *ngIf="false">This is for showing translation with interpolations only</ng-container>
    {ordersNumber, plural, =1 {Order acknowledgment request has been sent} other {Order acknowledgment requests have been sent}}
</div>
<div *ngIf="action === actions.unacknowledge" i18n>
    <ng-container *ngIf="false">This is for showing translation with interpolations only</ng-container>
    {ordersNumber, plural, =1 {Order unacknowledgment request has been sent} other {Order unacknowledgment requests have been sent}}
</div>
<div *ngIf="action === actions.refund" i18n>
    <ng-container *ngIf="false">This is for showing translation with interpolations only</ng-container>
    {ordersNumber, plural, =1 {Order refund request has been sent} other {Order refund requests have been sent}}
</div>
<div *ngIf="action === actions.refuse" i18n>
    <ng-container *ngIf="false">This is for showing translation with interpolations only</ng-container>
    {ordersNumber, plural, =1 {Order refuse request has been sent} other {Order refund requests have been sent}}
</div>
