@import '../../sass/variables';

.statistics-container {
  padding-left: 5px;
  padding-top: $content-margin;
  display: block;
  height: calc(100vh - #{$toolbar-height} - #{$content-margin});
  overflow: scroll;
}

md-card.channel-card {
  margin-bottom: 20px;
}