@import '../../sass/variables';

.statistics-wrapper {
  display: flex;
}

.statistics-container {
  flex: 1;
  padding-left: 30px;
  padding-top: $content-margin;
  height: calc(100vh - #{$content-margin});
  overflow: auto;

  @media #{$xs} {
    padding-left: 20px;
  }
}

mat-card.channel-card {
  margin-bottom: 20px;
  height: 235px;

  &.suggested-channel {
    background-color: mat-color($accent, 0.03);
  }

  &:last-child {
    margin-right: 20px; // the same as a gap between cards
  }
}

.channels-list {
  max-height: none !important;
  margin-top: 20px;
}

mat-spinner {
  margin: auto;
}

.no-results-container {
  text-align: center;
  color: mat-color($grey, 600);
  a, a:visited {
    color: mat-color($accent);
  }
}