<div class="statistics-container" infiniteScroll [infiniteScrollDistance]="2"
     [infiniteScrollDisabled]="infiniteScrollDisabled"
     [infiniteScrollThrottle]="500" (scrolled)="onScroll()" [scrollWindow]="false">
    <sf-store-statistics [statistics]="statistics"></sf-store-statistics>
    <sf-search-channels (applyFilter)="onApplyFilter($event)"
                        [processing]="processingFilters"></sf-search-channels>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutWrap fxLayoutAlign="start stretch" class="channels-list">

        <md-card class="channel-card" fxFlex.md="0 0 calc(33.33% - 20px)" fxFlex.sm="0 0 calc(33.33% - 20px)"
                 fxFlex.xs="0 0 calc(33.33% - 20px)" fxFlex.lg="0 0 calc(25% - 20px)"
                 fxFlex.xl="0 0 calc(16.66% - 20px)"
                 *ngFor="let channel of channels._embedded.channel">
            <sf-configured-channel [channel]="channel" *ngIf="channel.isConfigured"></sf-configured-channel>
            <sf-suggested-channel [channel]="channel" *ngIf="!channel.isConfigured"></sf-suggested-channel>
        </md-card>
    </div>
    <div>
        <md-spinner *ngIf="!infiniteScrollDisabled"></md-spinner>
    </div>

</div>

