<div *ngIf="operation === operations.update">
    <ng-container i18n>The rule</ng-container> "{{ruleName}}" <ng-container i18n>has been updated.</ng-container>
</div>
<div *ngIf="operation === operations.create">
    <ng-container i18n>The rule</ng-container> "{{ruleName}}" <ng-container i18n>has been created.</ng-container>
</div>
<div *ngIf="operation === operations.delete">
    <ng-container i18n>The rule</ng-container> "{{ruleName}}" <ng-container i18n>has been deleted.</ng-container>
</div>
<div *ngIf="operation === operations.read">
    <ng-container i18n>The rule</ng-container> "{{ruleName}}" <ng-container i18n>has been read.</ng-container>
</div>
