@import '../../../../../sass/variables';

mat-form-field {
  width: 100%;
}

mat-icon[matSuffix] {
  color: $black-54-opacity;
  font-size: 24px;
  cursor: pointer;
}

.mat-option.load-more-results[disabled], .mat-option.loading-more-results[disabled] {
  color: mat-color($accent);
}

.mat-option.load-more-results[disabled]{
  cursor: pointer;
}
