<mat-dialog-content>
    <div class="dialog-header">
        <sf-image source="assets/images/channels/amazon.png" width="200px"></sf-image>
        <div class="mat-display-1" i18n>Welcome!</div>
    </div>

    <div i18n>You are about to start configuring your categories.</div>
    <div i18n> You will see the list of your categories. For each category, you should fill out the category step.</div>
    <div i18n>Click 'Save & Next' to move to the next category.</div>
    <div i18n>Once you have reached 100% in  your configuration, your categories will be sent to the channel automatically. However, you can choose to send them at any moment by clicking 'Launch'.</div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">Start</button>
</mat-dialog-actions>