<div>
  <h4>{{daysLeft}} days left in your trail</h4>

  <div class="channel-price">
    <img src="/" /> Only <span class="price">{{price}}</span>
  </div>

  <div class="content">
    Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius supplicio omni
    vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi; quod quidem,
    ut res ire coepit, haud scio an aliquando futurum sit. Mihi autem non minori curae est,
    qualis res publica post mortem meam futura, quam qualis hodie sit.
  </div>

  <div class="bottom">
    <div class="element">
      <i>icon</i> Simplicité
    </div>
    <div class="element">
      <i>icon</i> Rapidité
    </div>
    <div class="element">
      <i>icon</i> Efficacité
    </div>
  </div>
</div>
